%ul.nav
  %li{ class: ('active' if action_name == 'index') }
    = link_to 'Index', admin_scanning_providers_path, class: 'btn btn-primary'
  &nbsp;
  %li{ class: ('active' if action_name == 'new') }
    = link_to t('actions.new'), new_admin_scanning_provider_path, class: 'btn btn-primary'
