#scanning_provider
  .row-fluid
    .span12.well
      %h3 Edition de l'atelier : #{link_to @scanning_provider, admin_scanning_provider_path(@scanning_provider)}
      %br
      %br
      = render partial: 'form'