#scanning_provider.new
  .row
    .col-12
      .panel
        = render partial: 'navigation'

  .row
    .col-12
      %h3 Nouvel atelier

  .row
    .col-12
      .panel
        = render partial: 'form'
