%h2
  Renvoi des instructions de confirmation

%p
  Si vous n'avez pas eu d'email permettant la validation de votre compte à l'inscription,
  utilisez le formulaire ci-dessous. Pensez à vérifier également le contenu de votre dossier de courriers indésirables.

  - form_for resource_name, resource, :url => confirmation_path(resource_name), :html => { :class => "form-horizontal" } do |f|
    != render :partial => '/shared/error_messages', :locals => {:object => resource}

    .control-group
      != f.label :email, :"Votre adresse e-mail :", :class => "control-label"
      .controls
        != f.text_field :email

    .form-actions
      != f.submit "VALIDER", :class => "btn pull-left"
      %a.btn.margin1left{ :href => "/" }
        %span
          RETOUR