.block
  .secondary-navigation
    %ul.wat-cf
      %li.first!= link_to "All pages", admin_pages_path
      %li.active!= link_to "Add page", new_admin_page_path
  .content
    %h2.title New page
    .inner
      - form_for [:admin, @page], :html => { :class => :form } do |f|
        != render :partial => "form", :locals => {:f => f}

- content_for :sidebar, render(:partial => 'sidebar')
