#budgea_retriever_template
  .row
    .col-md-12
      .box.small-shadow.clearfix
        .float-left
          %h3
            Suivi budgea retriever
        .float-right
          = link_to image_tag('application/icon-xls.png', alt: 'Export XLS', style: '') + ' Export XLS', "/admin/budgea_retriever/export_xls", title: 'Export XLS', class: 'float-right'

  .row.retractable
    .col-md-12
      .box
        %button.btn.btn-primary#normal.font-weight-bold.onglets
          Normal
        %button.btn.btn-warning#failed.font-weight-bold.onglets
          Failed
        %button.btn.btn-danger#bug.font-weight-bold.onglets
          Bug
        %button.btn.btn-success#launcher.font-weight-bold.onglets.float-right
          Lancer le suivi

    .col-md-12
      #body_table_loading.hide.box
        .row
          .col.align-self-center.text-center
            %img{ src: "/assets/application/bar_loading.gif", alt: "chargement. . ." }
      
      #body_table
        
