/*
 *    Drastic Dark
 *    by Juan Maria Martinez Arce
 *       juan[at]insignia4u.com
 *
 *    light grey:                 #cfcfcf
 *    medium grey:                #3e2f24
 *    dark grey:                  #221913
 *    interactive action yellow   #ffff88
 *    red                         #cc0000
 *    light blue                  #E6EEFC
 *    dark blue                   #0B43A8 */
.small {
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.4em; }

.gray {
  color: #999999;
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.6em; }

.hightlight {
  background-color: #ffff88;
  font-weight: bold;
  color: #3e2f24; }

a:link, a:visited, a:hover, a:active {
  color: #3e2f24; }

h1, h2, h3 {
  color: #3e2f24; }

a {
  -moz-outline: none; }

html {
  height: 100%; }

body {
  color: #222222;
  font-family: helvetica, arial, sans-serif;
  height: 100%;
  background: url("../images/application/bg_admin.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #dddbda; }

hr {
  background: #f0f0ee;
  color: #f0f0ee; }

#header {
  background: #3e2f24; }
  #header h1 {
    padding: 15px 0;
    font-size: 28px;
    font-style: normal;
    font-weight: bold;
    text-transform: normal;
    letter-spacing: -1px;
    line-height: 1.2em; }
    #header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
      color: white; }

#user-navigation {
  top: auto;
  bottom: 5px;
  right: 25px; }
  #user-navigation a.logout {
    background: #cc0000;
    padding: 1px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 3px; }

#main .block .content {
  background: white;
  padding-top: 1px; }
  #main .block .content h2 {
    margin-left: 15px;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    text-transform: normal;
    letter-spacing: -1px;
    line-height: 1.2em; }
  #main .block .content p {
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    text-transform: normal;
    letter-spacing: normal;
    line-height: 1.45em; }

#sidebar .block {
  background: white; }
  #sidebar .block h4 {
    font-weight: bold; }
#sidebar .notice {
  background: #e6eefc; }
  #sidebar .notice h4 {
    color: #0b43a8; }
#sidebar h3 {
  background: #3e2f24;
  color: white;
  border-bottom: 5px solid #221913; }

#main-navigation ul li {
  padding-left: 15px; }
  #main-navigation ul li a {
    padding: 8px 0; }
  #main-navigation ul li.active {
    padding: 0;
    margin-left: 15px;
    margin-left: 15px; }
    #main-navigation ul li.active a {
      padding: 8px 15px; }

#sidebar ul li a:link, #sidebar ul li a:visited {
  background: white;
  border-bottom: 1px solid #f0f0ee;
  text-decoration: none; }
#sidebar ul li a:hover, #sidebar ul li a:active {
  background: #666666;
  color: white; }

#main-navigation {
  background: #221913; }
  #main-navigation ul li {
    background: #221913;
    margin-right: 0; }
    #main-navigation ul li.active {
      background: #f0f0ee; }
    #main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active {
      text-decoration: none;
      color: white; }

.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active {
  text-decoration: none;
  color: white; }

#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
  color: white; }

.secondary-navigation li a:hover {
  background: #987a64; }

#main-navigation ul li.active a:link, #main-navigation ul li.active a:visited, #main-navigation ul li.active a:hover, #main-navigation ul li.active a:active {
  color: #221913; }

.secondary-navigation {
  background: #3e2f24;
  border-bottom-color: #c9dd03; }
  .secondary-navigation ul li.active {
    background-color: #c9dd03; }
    .secondary-navigation ul li.active a {
      color: #3c5800; }
    .secondary-navigation ul li.active a:hover {
      background-color: #c9dd03; }

#footer .block {
  color: white;
  background: #221913; }
  #footer .block p {
    margin: 0;
    padding: 10px; }

/* pagination */
.pagination a {
  background: #cfcfcf;
  -moz-border-radius: 3px;
  border: 1px solid #c1c1c1; }
.pagination span {
  background: #cfcfcf;
  -moz-border-radius: 3px;
  border: 1px solid #c1c1c1; }
  .pagination span.current {
    background: #3e2f24;
    color: white;
    border: 1px solid #3e2f24; }
.pagination a {
  color: #221913; }
  .pagination a:hover {
    border: 1px solid #666666; }

/* tables */
.table th {
  background: #3e2f24;
  color: white; }
.table td {
  border-bottom: 1px solid #f0f0ee; }
.table tr.even {
  background: #ebebeb; }

/* forms */
.form label.label {
  color: #666666; }
.form input.text_field, .form textarea.text_area {
  width: 100%;
  border: 1px solid #cfcfcf; }
.form input.button {
  background: #cfcfcf;
  -moz-border-radius: 5px;
  border: 1px solid #c1c1c1;
  padding: 2px 5px;
  cursor: pointer;
  color: #3e2f24;
  font-weight: bold;
  font-size: 11px; }
  .form input.button:hover {
    border: 1px solid #666666; }
.form .description {
  font-style: italic;
  color: #8c8c8c;
  font-size: 0.9em; }
.form .navform a {
  color: #cc0000; }

/* flash-messages */
.flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
  margin: 0 auto 15px; }
  .flash .message p {
    margin: 8px; }
.flash .error {
  border: 1px solid #ffbbbb;
  background-color: #ffdddd; }
.flash .warning {
  border: 1px solid #fffaaa;
  background-color: #ffffcc; }
.flash .notice {
  border: 1px solid #1fdf00;
  background-color: #bbffb6; }

/* lists */
ul.list li {
  border-bottom-color: #f0f0ee;
  border-bottom-width: 1px;
  border-bottom-style: solid; }
  ul.list li .item .avatar {
    border-color: #f0f0ee;
    border-width: 1px;
    border-style: solid;
    padding: 2px; }

/* box */
#box .block {
  background: white; }
  #box .block h2 {
    background: #3e2f24;
    color: white; }

/* rounded borders */
#main {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }

#main-navigation {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }
  #main-navigation li {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px; }

.secondary-navigation, #main .block {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }

#sidebar .block, #sidebar h3 {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }

ul.list li, #footer .block, .form input.button {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }

#box .block {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }
  #box .block h2 {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px; }

.secondary-navigation li.first a, .secondary-navigation ul li.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px; }

.table th.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px; }
.table th.last {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }

.secondary-navigation ul li.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px; }

#sidebar {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px; }
  #sidebar .block {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px; }

#main .block, #sidebar ul.navigation, ul.list li, #footer .block, .form input.button, #box .block {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px; }

.secondary-navigation {
  border-bottom-width: 5px; }

.mediumlogo {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 14px;
  width: 107px;
  height: 50px;
  background: url("../images/application/tiny_logo.png");
  background-repeat: no-repeat;
  background-position: left top; }
