%li{ :id => "original_#{pack.original_document_id}_#{pack.id}", :class => (pack.owner == @user ? 'own' : 'shared') }
  %span.action
    %a.do-popover{ "data-content" => html_pack_info(pack), :href => "#" }
      %i.icon-info-sign
    - if @user.active?
      %a.do-select.do-tooltip{ :href => "#", :title => "sélectionner" }
        %i.icon-ok
    %a.do-tooltip{ :href => pack.content_url, :class => "download", :title => "Télécharger", :target => "_blank" }
      %i.icon-download-alt
    %a.do-tooltip{ :href => archive_account_document_path(pack.id), :title => "Télécharger une archive zip", :class => "download" }
      %i.icon-download
  %span.name
    %a.do-show{ :href => "#" }= pack.name.sub('all','')
    - unless pack.is_fully_processed
      %a.do-tooltip{ :title => "document en cours de traitement"}
        %icon.icon-cog
