%ul.margin3top.margin0left
  != render :partial => "pack", :collection => @packs

.aligncenter
  != will_paginate( @packs, :previous_label => "&laquo;", :next_label => "&raquo;")
  %input{ :type => :hidden, :name => :packs_count, :value => "#{@packs_count}" }