%ul.margin0left
  - if params[:view] == 'current_delivery'
    %li.margin1bottom Fichier(s) restant(s) : #{@remaining_files}
  = render partial: 'pack', collection: @packs

.aligncenter
  = paginate @packs
  %input{ type: :hidden, name: :packs_count, value: @packs.total_count }
