%ul.margin3top.margin0left
  != render :partial => "pack", :collection => @packs

.aligncenter
  != paginate @packs
  %input{ :type => :hidden, :name => :packs_count, :value => "#{@packs_count}" }