- if @data_type == 'preseizures' && @preseizures.present?
  = render partial: '/account/documents/preseizures/show'
- elsif @data_type == 'pieces' && (@documents.present? || @temp_documents.present?)
  = render partial: '/account/documents/pieces/show'
- else
  none
