---
http_interactions:
- request:
    method: get
    uri: https://beta.irf-cloud.com/IRFService/services/IRFService.svc/company/%7BINVALID%7D/accounts
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/xml
      Irftoken:
      - xxxtokenxxx
      Partnerid:
      - '{BE62697A-C2EE-4757-9A86-747A656FF0D7}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <WCFRestIRFAccountsResult xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><response><result>Error</result><message><error><details>Invalid
        length for a Base-64 char array or string.</details></error></message><datetime>2015-08-02T19:36:05.5973256+02:00</datetime></response></WCFRestIRFAccountsResult>
  recorded_at: Sun, 02 Aug 2015 17:35:57 GMT
recorded_with: VCR 2.9.3
