.block
  .secondary-navigation
    %ul.wat-cf
      %li.first!= link_to "All users", admin_users_path
      %li!= link_to "Add user", new_admin_user_path
  .content
    %h2.title
      Editing address
    .inner
      - if @address.errors.any?
        .group
          != render :partial => '/shared/error_messages', :locals => {:object => @address}

      - form_for [:admin, @user, @address], :html => {:method => :put, :class => 'clearfix'} do |f|
        != render :partial => 'form', :locals => {:f => f}
        
:css
  li {
    position: relative;
    left: 17px; }