.row-fluid
  .span6
    = render partial: 'address', locals: { address: @billing_address, is_for_billing: true }
  .span6
    = render partial: 'address', locals: { address: @shipping_address, is_for_billing: false }