!!!
%html
  %head
    %title [iDocus] Erreur script - test mailer
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-type' }
  %body
    Bonjour,
    %br
    %br
    Ceci est un test
    %br
    %br
    Cordialement
    %br
    SI iDocus
