.group
  != f.label :state, "Etat :", :class => :label
  != f.select :state, options_for_select(NeobeApi::STATE)
  
.group.navform.wat-cf
  %button.button{:type => 'submit'}
    != image_tag("web-app-theme/tick.png", :alt => "Save")
    Save
  != link_to image_tag("web-app-theme/cross.png", :alt => "Cancel") + "Cancel", admin_backups_path, :class => "button"
