Bonjour,
%br
%br
Suite à leur numérisation par iDocus, les documents ci-dessous sont disponible dans votre interface, à l'adresse #{@url} :
%br
#{@filesname.join("<br>")}
%br
%br
Cordialement,
%br
L'équipe iDocus
