---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%COL1/TS%0001 - ABC/période actuelle/AC"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 21f99de24e0ea2c9f539a50395a17ab9
      X-Server-Response-Time:
      - '584'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "AC", "path_lower": "/exportation vers idocus/ts%col1/ts%0001
        - abc/p\u00e9riode actuelle/ac", "path_display": "/exportation vers iDocus/TS%COL1/TS%0001
        - ABC/p\u00e9riode actuelle/AC", "id": "id:66z1e_OMcPAAAAAAAAAAfg"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/get_latest_cursor
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus","recursive":true,"include_media_info":false,"include_deleted":false}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - ade70b3ca24d60dc912489e5f56ef131
      X-Server-Response-Time:
      - '151'
    body:
      encoding: ASCII-8BIT
      string: '{"cursor": "AAH3iV7gSUo0kSTuRXfE8ITPrT8YB2SdcfE3ZR24yCQ-zm72K2kZTFKBf7hUuXhpChu7g9sLdbuNPWBhFDbwloo-HAC6gOc0sIkiHoQZvwjVLIuyLynACvxeHKB4wGhcyZVIeipD1eGeazagps9GAkDzxcdNDwh1WFJc07k3bFQ9BeaGMv1aRL6kXDZArwm3gGo"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAH3iV7gSUo0kSTuRXfE8ITPrT8YB2SdcfE3ZR24yCQ-zm72K2kZTFKBf7hUuXhpChu7g9sLdbuNPWBhFDbwloo-HAC6gOc0sIkiHoQZvwjVLIuyLynACvxeHKB4wGhcyZVIeipD1eGeazagps9GAkDzxcdNDwh1WFJc07k3bFQ9BeaGMv1aRL6kXDZArwm3gGo"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 6f1a7cef0285b622d5afdc95823fcf4d
      X-Server-Response-Time:
      - '104'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [], "cursor": "AAEyDuOI9HBXyj046ZjbKf3IA_k3inM2E-46iIOpgyEBM-VHyxW8iqRClBPIV88Vg3bH2o1U_8Zfs6v6M235y8L05FJsshGX5HEos_jCIw0-j-rVWSS_34vzpchHSp-XQ-E3qiT8FZRHCIruKvdg0Ak76x8DqO7Jjjn0iMX8pOrMdC82sconT9ic4lcr3AZVG7g",
        "has_more": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 3.0.3
