---
http_interactions:
- request:
    method: post
    uri: https://config.bearer.sh/config
    body:
      encoding: UTF-8
      string: '{"runtime":{"type":"x86_64-linux","arch":"x86_64","platform":"linux","version":"2.6.5","hostname":"infodrm"},"agent":{"type":"ruby","version":"3.1.0"},"application":{"environment":"dGVzdA=="}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - app_63d2b0332c5550a40a549b82a5c6ca358be62b1aaa4668df38
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Protected-By:
      - Sqreen
      Bearer-Correlation-Id:
      - 1-5f802515-7d21ac7b43d41771506feebd
      Bearer-Internal-Correlation-Id:
      - 1-5f802515-7d21ac7b43d41771506feebd
      Bearer-Request-Id:
      - 1-5f802515-7d21ac7b43d41771506feebd
      Etag:
      - W/"678e-1zXkPYz3KwgFTqU9/aEBRIZ92hw"
    body:
      encoding: UTF-8
      string: '{"dataCollectionRules":[{"config":{"active":true,"logLevel":"ALL","sanitizeKeyPattern":{"flags":"i","value":"^authorization$|^password$|^secret$|^passwd$|^api\\.?key$|^access\\.?token$|^auth\\.?token$|^credentials$|^mysql_pwd$|^stripetoken$|^card\\.?number\\.?$|^secret$|^client\\.?id$|^client\\.?secret$"}},"params":{"typeName":"EnvironmentSettings"},"signature":"TODO"},{"filterHash":"FVZK3KKpj/DhqW/RkXbEz08gLNI=","params":{"typeName":"ErrorRule"},"signature":"TODO"},{"filterHash":"Kr/yIxP0BYsV5DD331mOuxO81E0=","params":{"genericRuleId":81892,"typeName":"LogRule"},"signature":"TODO"},{"filterHash":"k91tL837v0DSa0GVDuItN9G2+aE=","params":{"genericRuleId":81891,"typeName":"LogRule"},"signature":"TODO"},{"filterHash":"4UaglI+vuq48jQIdYkss2xl68b8=","params":{"genericRuleId":81890,"typeName":"LogRule"},"signature":"TODO"},{"filterHash":"g2yQRdcfj7wrKRObF/wtpr/9j6E=","params":{"genericRuleId":81889,"typeName":"LogRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationErrorKey":"hWO0s7r2wWRmq7I57O0xL9C1c6U=","aggregationKey":null,"hasErrorTrigger":true,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationKey":null,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationErrorKey":"hWO0s7r2wWRmq7I57O0xL9C1c6U=","aggregationKey":null,"hasErrorTrigger":true,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationKey":null,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":"+t/TYUaxrd0C98WtzN5lH8xh1wk=","params":{"genericRuleId":81884,"typeName":"LogRule"},"signature":"TODO"},{"filterHash":"ke3PI13pUnfpQPSx58QZGHME16c=","params":{"genericRuleId":81883,"typeName":"LogRule"},"signature":"TODO"},{"config":{"active":true,"logLevel":"ALL"},"filterHash":"6NQV6exDHhiT9Dr+ZNXuRNKfkwA=","params":{"buid":"058caceb9f0269c5746b6f383eb31178","typeName":"ApiRule"},"signature":"TODO"},{"config":{"active":true,"logLevel":"ALL"},"filterHash":"sh1NcjpsNOMSJmvPAG1Lv0t2UJM=","params":{"buid":"83f436e8592f49ace5dcd98f24a1bcd5","typeName":"ApiRule"},"signature":"TODO"},{"config":{"active":true,"logLevel":"ALL"},"filterHash":"FoyunmKStNnrNJ+SPbeBAcR2PhY=","params":{"buid":"65ce4e63249a26e7e80859fd04576580","typeName":"ApiRule"},"signature":"TODO"},{"config":{"active":false,"logLevel":"ALL"},"filterHash":"fPk[...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAGHorvqbn5732RU2CX9vD2vlIBHo--yqnTrT7aePCT0ioyAMfDOp02vn1FK1f3Duvun8QTCVTKnQ8jkWz674vsRGFWZmjfGL0ibYPHrKvsK8XNV4llsPt230EHl2vODBVk6ybGtcLxlT-fETh_bVF0YnueeM5MNyS54CMlJOxUUGjTMJTgKB9Xm47Vd-5siYlAa7qBIoGijEJyKaWFpfvktECxe5ePceh_JOYw_QSxu3OoEOf7QuS9KrZey1n5QNTE"}'
    headers:
      Authorization:
      - Bearer d_8hw4XA240AAAAAAAAAAbdOcCNXL3qwaOp05judYxFkgJBjoRxIwBlDVCbOW3m2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - adee10f12f7c14293c052f5442d1e550
      X-Server-Response-Time:
      - '202'
    body:
      encoding: UTF-8
      string: '{"entries": [{".tag": "folder", "name": "IDOC%COL1", "path_lower":
        "/exportation vers idocus/idoc%col1", "path_display": "/exportation vers iDocus/IDOC%COL1",
        "id": "id:tG5yQJWo2vAAAAAAAAAM4Q"}, {".tag": "deleted", "name": "test (fichier
        d\u00e9j\u00e0 import\u00e9 sur iDocus).pdf", "path_lower": "/exportation
        vers idocus/idoc%001 - test/p\u00e9riode actuelle/ac/test (fichier d\u00e9j\u00e0
        import\u00e9 sur idocus).pdf", "path_display": "/exportation vers iDocus/IDOC%001
        - Test/p\u00e9riode actuelle/AC/test (fichier d\u00e9j\u00e0 import\u00e9
        sur iDocus).pdf"}, {".tag": "deleted", "name": "test.pdf", "path_lower": "[...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/IDOC%COL1/IDOC%002 - DEF/période
        actuelle/VT"}'
    headers:
      Authorization:
      - Bearer d_8hw4XA240AAAAAAAAAAbdOcCNXL3qwaOp05judYxFkgJBjoRxIwBlDVCbOW3m2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 45f9c83fa11b7faac05484579dfc43e4
      X-Server-Response-Time:
      - '509'
    body:
      encoding: UTF-8
      string: '{"name": "VT", "path_lower": "/exportation vers idocus/idoc%col1/idoc%002
        - def/p\u00e9riode actuelle/vt", "path_display": "/exportation vers iDocus/IDOC%COL1/IDOC%002
        - DEF/p\u00e9riode actuelle/VT", "id": "id:tG5yQJWo2vAAAAAAAAANrg"}'
  recorded_at: Thu, 01 Oct 2020 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/IDOC%COL1/IDOC%002 - DEF/période
        précédente/VT"}'
    headers:
      Authorization:
      - Bearer d_8hw4XA240AAAAAAAAAAbdOcCNXL3qwaOp05judYxFkgJBjoRxIwBlDVCbOW3m2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 81c389316829d98f653d1ec3659daa16
      X-Server-Response-Time:
      - '386'
    body:
      encoding: UTF-8
      string: '{"name": "VT", "path_lower": "/exportation vers idocus/idoc%col1/idoc%002
        - def/p\u00e9riode pr\u00e9c\u00e9dente/vt", "path_display": "/exportation
        vers iDocus/IDOC%COL1/IDOC%002 - DEF/p\u00e9riode pr\u00e9c\u00e9dente/VT",
        "id": "id:tG5yQJWo2vAAAAAAAAANrw"}'
  recorded_at: Thu, 01 Oct 2020 21:00:00 GMT
recorded_with: VCR 5.1.0
