---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAFRFvW7XcupKKpCyfkNYr3RasrZ5FhOQC31W21kUy7TIhi_BcarXCCDt2LXA9L6sx2DhcROm-qJtquyfiHRFnuDaQmHGVooa39BhxeGZYglo2Lh5zB_aT9yuyALXbulLdkGBQ2-NoKxVR-6J5CfKCISsw9lc71L_NVWnXTN5WIT2hu_bMTMgfKY5yWOi4D8FZg"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 0475b860d30d06776269a7bb0d1ac0f8
      X-Server-Response-Time:
      - '139'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [], "cursor": "AAH6tPsWt9OiO2pato5en32fo6svyIeO-QL1dm6178Fb-sAP1oqCeB5WHGe1awO-tu5Oj1WpmpXmeYl8Cuc80Nzd8ymdHVRs8fTYZQBfPHOuByEBYZR7XKrofXFvDgIWHlTA_tBPhW8erPKJ4QmyqPnf1s1YbtAeeTQO12Q3aXSbHv2oAMGRKJbZ8GWgato8NCg",
        "has_more": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%COL1/TS%0003 - GHI/période actuelle/AC"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 5a47b3af1aa88504061f13a0f529710a
      X-Server-Response-Time:
      - '373'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "AC", "path_lower": "/exportation vers idocus/ts%col1/ts%0003
        - ghi/p\u00e9riode actuelle/ac", "path_display": "/exportation vers iDocus/TS%COL1/TS%0003
        - GHI/p\u00e9riode actuelle/AC", "id": "id:66z1e_OMcPAAAAAAAAAAog"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%COL1/TS%0003 - GHI/période précédente/BQ"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 47b81b778cefc0214b889a0c0fbd3560
      X-Server-Response-Time:
      - '718'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "BQ", "path_lower": "/exportation vers idocus/ts%col1/ts%0003
        - ghi/p\u00e9riode pr\u00e9c\u00e9dente/bq", "path_display": "/exportation
        vers iDocus/TS%COL1/TS%0003 - GHI/p\u00e9riode pr\u00e9c\u00e9dente/BQ", "id":
        "id:66z1e_OMcPAAAAAAAAAApg"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 3.0.3
