---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAFjJ6WvOylY7N4L0rJnl3KaW4wFJyH5DKk_srAjRyRmRAFGnOBrUjoHeiBkinfGMatNz39lKyrSbtP418o0_CrfH7zjn_HFI-JeL4ELUQc1jg5EgS2g99qklBv3D1CIdUBR4LfP0tkvvuPxHc2PS30MCLp6n7uBFkXYNGJ3QTdZwZ4m7X1dYRy4-cB-I1Z96PA"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 079d70b0001a4a5abe6ddf5f627baa00
      X-Server-Response-Time:
      - '115'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [], "cursor": "AAFUV8gvklR3bRDPPGBfrnfXotsVNNbl6A3eNcW2OdqidGywSCkIMmtfEsKXh3vhakUH0mRqzJaUOq6SoQeMRcbfkj5g_gRelBKZRxAJ9bzaaPO5BqqbAsZYnIbdv8ldp92Ed_3tt1rlLgC7KrDKe45uJ7uOYDNqE9CyY8YpKvfnTq4A1chFYbZyQb_wK7fpHP8",
        "has_more": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%COL1/TS%0002 - DEF/période actuelle/VT"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - b79ea2c8a90a2042cb538cde7d2b73de
      X-Server-Response-Time:
      - '420'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "VT", "path_lower": "/exportation vers idocus/ts%col1/ts%0002
        - def/p\u00e9riode actuelle/vt", "path_display": "/exportation vers iDocus/TS%COL1/TS%0002
        - DEF/p\u00e9riode actuelle/VT", "id": "id:66z1e_OMcPAAAAAAAAAAmg"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%COL1/TS%0002 - DEF/période précédente/VT"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 06bf5d5d91b22955273654761b255e66
      X-Server-Response-Time:
      - '391'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "VT", "path_lower": "/exportation vers idocus/ts%col1/ts%0002
        - def/p\u00e9riode pr\u00e9c\u00e9dente/vt", "path_display": "/exportation
        vers iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode pr\u00e9c\u00e9dente/VT", "id":
        "id:66z1e_OMcPAAAAAAAAAAmw"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 3.0.3
