---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: cursor=AAFpUGtY65bkw3p8BUksAJ20DidN5mc1k2S0cdOvEEwOwtHl93svFe--pAn7kARELvTslPSmhhzC9Ao_85nJlr0i5uwHEFqnJjgF36Q9Yno-DKRsxJASM7YhVcDu2N7XzfcsxLit0Y7KZvBe6rf4d72gOAy0By08ceekAPVu9Q40Fg&path_prefix=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '36'
      X-Dropbox-Request-Id:
      - 5d4aa97c8935844bc395d88519d70f96
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"has_more": false, "cursor": "AAH_q4TO1QEOs_H6T-h4s4vSBc2wnhG4QI6xO5nH6u26ndimeRiOGGFeW21WYaDGA6fa1X-zmyTR7ZCemAhK9Cg8dUrFoyE1_DpQSfkhyNDQUF-eNSJd2dK90oPHSIc_s6A3KQEkMvrdUMvJjDxv9FmbZcnNicXd1aZFnTGNzgX4FA",
        "entries": [], "reset": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1%2FTS%250003+-+GHI%2Fp%C3%A9riode+actuelle%2FAC
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '351'
      X-Dropbox-Request-Id:
      - db23ffc6688739b5f1547adbc1947f55
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "2f83d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Sat, 24 Oct 2015 19:50:46 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0003 - GHI/p\u00e9riode actuelle/AC", "is_dir": true, "icon":
        "folder", "root": "app_folder", "revision": 760}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1%2FTS%250003+-+GHI%2Fp%C3%A9riode+pr%C3%A9c%C3%A9dente%2FBQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '242'
      X-Dropbox-Request-Id:
      - c32606aed9e4628b7436955d3e4f590a
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "2fe3d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Sat, 24 Oct 2015 19:50:54 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0003 - GHI/p\u00e9riode pr\u00e9c\u00e9dente/BQ", "is_dir":
        true, "icon": "folder", "root": "app_folder", "revision": 766}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 2.9.3
