---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAFJsqFCPcoQ0HjVpTdtPLbHn8LfAA1-NoXbgYD6h4o40pe3HonDZatq4EYxvSftLKSvW_9lJWldOVlvyAnc5l8eJHtji4dkpu96aCDe5HXQ2IdZLCrlqjLaZnYWZRW65zNXi7G1WTsIC7M0sBvrVwc6QMgSyIYtqhOXirQhr8feWPcJLzF9f0qNKD4fwjDIEk8"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 735080f640adf16337f040da758d7807
      X-Server-Response-Time:
      - '100'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [], "cursor": "AAEUioa9S-_e8ckU_4VX0QPKSA-bqX7EsB2HUpHM5Xcf0F2DMcm00H7wcLg-g0MlNp5pEC9gUUnv01ITzrRE7Zm8ZzVA4KYauRJbzHRwdwGH5nVA1FpDTurmXDJX-CbBz2KiB0vkg7Qn41Fr44Mc8L-DZctEAPHwNMREEiiR3DSkYLB4j4bOl3Un-6vSWyiFljA",
        "has_more": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/delete
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%COL1/TS%0002 - DEF/période actuelle/BQ"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 4dde82e4cdb7f317ce4b592b599ffb9a
      X-Server-Response-Time:
      - '361'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "folder", "name": "BQ", "path_lower": "/exportation vers idocus/ts%col1/ts%0002
        - def/p\u00e9riode actuelle/bq", "path_display": "/exportation vers iDocus/TS%COL1/TS%0002
        - DEF/p\u00e9riode actuelle/BQ", "id": "id:66z1e_OMcPAAAAAAAAAAjw"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%COL1/TS%0002 - DEF/période actuelle/BQ1"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - ba596330f0cdaef11a6236ea840403ae
      X-Server-Response-Time:
      - '448'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "BQ1", "path_lower": "/exportation vers idocus/ts%col1/ts%0002
        - def/p\u00e9riode actuelle/bq1", "path_display": "/exportation vers iDocus/TS%COL1/TS%0002
        - DEF/p\u00e9riode actuelle/BQ1", "id": "id:66z1e_OMcPAAAAAAAAAAnA"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%COL1/TS%0002 - DEF/période précédente/BQ1"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 21ae348565e54b05c9644eea87e8e86d
      X-Server-Response-Time:
      - '402'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "BQ1", "path_lower": "/exportation vers idocus/ts%col1/ts%0002
        - def/p\u00e9riode pr\u00e9c\u00e9dente/bq1", "path_display": "/exportation
        vers iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode pr\u00e9c\u00e9dente/BQ1",
        "id": "id:66z1e_OMcPAAAAAAAAAAnQ"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 3.0.3
