---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: cursor=AAGZ2f4nTuNezjIJ7SbaToHSCdtrd6BFQmAZI1s0V3xzwyXXcPxepqYyAbiXaO8034W2oW_8uCSInbCiZwFgJ5OSsMOzgEuMs-3QxQm_fqyfiXQWa5l6HwSVkyFivDeGZWPAw-_gaJLNHquGJd35NW-AVn0FWVEy-dnEBsulrE4M7w&path_prefix=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '65'
      X-Dropbox-Request-Id:
      - efbc3c3c7891de07fb9aaec759b3ce4b
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"has_more": false, "cursor": "AAHVB1HPH6ovrzxlkydqq4vZKNO8Gx4geZ-5BcRI3A82_vNB8gv_MJ7l4gnsEuI6QXn1jwcOnrEyYYQWoyFVBzVuDzgZAKw4e6yKu-6kqornG0QqIWSU-vTHC-pYBxSMLE05enxUaUoROHL1JSN3il0jnKSpdLdcOKBdrAy8VpJTwQ",
        "entries": [["/exportation\u00a0vers idocus/ts%col1/ts%0001 - abc/p\u00e9riode
        actuelle/ac/corrupted.pdf", null], ["/exportation\u00a0vers idocus/ts%col1/ts%0001
        - abc/p\u00e9riode actuelle/ac/corrupted (erreur fichier non valide pour idocus).pdf",
        {"rev": "2c33d59c017", "thumb_exists": false, "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0001 - ABC/p\u00e9riode actuelle/AC/corrupted (erreur fichier
        non valide pour iDocus).pdf", "is_dir": false, "client_mtime": "Sat, 24 Oct
        2015 19:18:56 +0000", "icon": "page_white_acrobat", "bytes": 1117, "modified":
        "Sat, 24 Oct 2015 19:19:11 +0000", "size": "1.1 KB", "root": "app_folder",
        "mime_type": "application/pdf", "revision": 707}]], "reset": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 2.9.3
