---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAFTDWUnP8ka7Cpt-4trBdOEQkxIASVeteG7m5tUOyl1ZOc9fylBuDSt6T0NRREqYvKnfB_Z3j2ivkH_-Np7jZCHUOp1cbWaT0bzEdBoJm-iOEimXdJDaTj-fCDG5tmmjTlzoLzTrhXiQHZk0L0_bDGA4bPn45gyLc0tgu2WSu0JQP6C5liD-Mvfwi577rDqvMM"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - d2c32ccd30e26cb9526adbc01552231b
      X-Server-Response-Time:
      - '183'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [{".tag": "deleted", "name": "corrupted.pdf", "path_lower":
        "/exportation vers idocus/ts%col1/ts%0001 - abc/p\u00e9riode actuelle/ac/corrupted.pdf",
        "path_display": "/exportation vers iDocus/TS%COL1/TS%0001 - ABC/p\u00e9riode
        actuelle/AC/corrupted.pdf"}, {".tag": "file", "name": "corrupted (erreur fichier
        non valide pour iDocus).pdf", "path_lower": "/exportation vers idocus/ts%col1/ts%0001
        - abc/p\u00e9riode actuelle/ac/corrupted (erreur fichier non valide pour idocus).pdf",
        "path_display": "/exportation vers iDocus/TS%COL1/TS%0001 - ABC/p\u00e9riode
        actuelle/AC/corrupted (erreur fichier non valide pour iDocus).pdf", "id":
        "id:66z1e_OMcPAAAAAAAAAAiw", "client_modified": "2017-05-16T20:51:03Z", "server_modified":
        "2017-05-16T20:54:59Z", "rev": "112570c1fec", "size": 1117, "content_hash":
        "2050f28245f4dd42e42785231b9fb2490ce708d092370a436a67faf137c1920e"}], "cursor":
        "AAFcZuZzBdduW7iYkysvGdxtnmCGF3nZWpke_Aqu-DCtaUOWecO3TZnHgxZIOm4275s1qRuPvxqg6LH2bL9DTmzX3rqeXVjs4yF2LazsdPH8bTpgRRi-Ck5UQ0HwNqoMylbpNMDkaR-6PgTYdmpxLg-X8nX0NqWmXT3aCKpvm1Ksw7zwe1-b1gtLR_UpUcITt3A",
        "has_more": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 3.0.3
