---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAG_ogKz7lxdeqZB8WF--O7XtYVelJeGKFUiN9UkkHnX697GEdvXGaxmwaqFmhMnqzP9Jx7AWv4Cg3ruNJ-9nEk-8mK35HKSwUbOSQNgcK2gDneNcLpmjRK_nDsfm749S2egKVYwafSlK4Cvx0GQTMl070VtJkndF_a81AemNglH0RaO56OfdKS2pGIj3n3DqlY"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - d35e2092ef119f979ead02b5bb0686a7
      X-Server-Response-Time:
      - '980'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [{".tag": "deleted", "name": "VT", "path_lower": "/exportation
        vers idocus/ts%col1/ts%0001 - abc/p\u00e9riode pr\u00e9c\u00e9dente/vt", "path_display":
        "/exportation vers iDocus/TS%COL1/TS%0001 - ABC/p\u00e9riode pr\u00e9c\u00e9dente/VT"},
        {".tag": "deleted", "name": "AC", "path_lower": "/exportation vers idocus/ts%col1/ts%0001
        - abc/p\u00e9riode pr\u00e9c\u00e9dente/ac", "path_display": "/exportation
        vers iDocus/TS%COL1/TS%0001 - ABC/p\u00e9riode pr\u00e9c\u00e9dente/AC"},
        {".tag": "deleted", "name": "p\u00e9riode pr\u00e9c\u00e9dente", "path_lower":
        "/exportation vers idocus/ts%col1/ts%0001 - a[...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%COL1/TS%0001 - ABC/période actuelle/AC"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 73b28a6fba23169f19a79b27c80906ad
      X-Server-Response-Time:
      - '373'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "AC", "path_lower": "/exportation vers idocus/ts%col1/ts%0001
        - abc/p\u00e9riode actuelle/ac", "path_display": "/exportation vers iDocus/TS%COL1/TS%0001
        - ABC/p\u00e9riode actuelle/AC", "id": "id:66z1e_OMcPAAAAAAAAAAlQ"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%COL1/TS%0001 - ABC/période précédente/VT"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 335855f683badaaf8842738bb75f9258
      X-Server-Response-Time:
      - '548'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "VT", "path_lower": "/exportation vers idocus/ts%col1/ts%0001
        - abc/p\u00e9riode pr\u00e9c\u00e9dente/vt", "path_display": "/exportation
        vers iDocus/TS%COL1/TS%0001 - ABC/p\u00e9riode pr\u00e9c\u00e9dente/VT", "id":
        "id:66z1e_OMcPAAAAAAAAAAmQ"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 3.0.3
