---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAFcZuZzBdduW7iYkysvGdxtnmCGF3nZWpke_Aqu-DCtaUOWecO3TZnHgxZIOm4275s1qRuPvxqg6LH2bL9DTmzX3rqeXVjs4yF2LazsdPH8bTpgRRi-Ck5UQ0HwNqoMylbpNMDkaR-6PgTYdmpxLg-X8nX0NqWmXT3aCKpvm1Ksw7zwe1-b1gtLR_UpUcITt3A"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - b3db1e09e323398c7b35083f16f90063
      X-Server-Response-Time:
      - '139'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [{".tag": "deleted", "name": "BQ", "path_lower": "/exportation
        vers idocus/ts%col1/ts%0002 - def/p\u00e9riode pr\u00e9c\u00e9dente/bq", "path_display":
        "/exportation vers iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode pr\u00e9c\u00e9dente/BQ"},
        {".tag": "deleted", "name": "AC", "path_lower": "/exportation vers idocus/ts%col1/ts%0002
        - def/p\u00e9riode pr\u00e9c\u00e9dente/ac", "path_display": "/exportation
        vers iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode pr\u00e9c\u00e9dente/AC"},
        {".tag": "deleted", "name": "p\u00e9riode pr\u00e9c\u00e9dente", "path_lower":
        "/exportation vers idocus/ts%col1/ts%0002 - d[...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%COL1/TS%0002 - DEF/période actuelle/AC"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 1fb73694a19d8ecd8e897b0667d8a31c
      X-Server-Response-Time:
      - '549'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "AC", "path_lower": "/exportation vers idocus/ts%col1/ts%0002
        - def/p\u00e9riode actuelle/ac", "path_display": "/exportation vers iDocus/TS%COL1/TS%0002
        - DEF/p\u00e9riode actuelle/AC", "id": "id:66z1e_OMcPAAAAAAAAAAjg"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%COL1/TS%0002 - DEF/période précédente/BQ"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 3a24ee7a8cae58db920f428ac965f958
      X-Server-Response-Time:
      - '432'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "BQ", "path_lower": "/exportation vers idocus/ts%col1/ts%0002
        - def/p\u00e9riode pr\u00e9c\u00e9dente/bq", "path_display": "/exportation
        vers iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode pr\u00e9c\u00e9dente/BQ", "id":
        "id:66z1e_OMcPAAAAAAAAAAkg"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 3.0.3
