---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: cursor=AAHVB1HPH6ovrzxlkydqq4vZKNO8Gx4geZ-5BcRI3A82_vNB8gv_MJ7l4gnsEuI6QXn1jwcOnrEyYYQWoyFVBzVuDzgZAKw4e6yKu-6kqornG0QqIWSU-vTHC-pYBxSMLE05enxUaUoROHL1JSN3il0jnKSpdLdcOKBdrAy8VpJTwQ&path_prefix=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '48'
      X-Dropbox-Request-Id:
      - 0362cba8b43705e96336f189a60f6182
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"has_more": false, "cursor": "AAFe7MrK8DMviNU0huyDaiE63ep1mNnbk20NpCDmSIPJAUPFulWwcbxXJzJWx3WkeX5ZsLmRb-1Up0aOah1G7KkFkzpbKPxhjic6UFROCm8hUoGLsilRgqbJGpkbBwxgTjXZDbDANItABnW7ta3RDUAfC7U5Q-MuYk5v0fOLlHgk8g",
        "entries": [["/exportation\u00a0vers idocus/ts%col1/ts%0002 - def/p\u00e9riode
        pr\u00e9c\u00e9dente/bq", null], ["/exportation\u00a0vers idocus/ts%col1/ts%0002
        - def/p\u00e9riode pr\u00e9c\u00e9dente/ac", null], ["/exportation\u00a0vers
        idocus/ts%col1/ts%0002 - def/p\u00e9riode pr\u00e9c\u00e9dente", null], ["/exportation\u00a0vers
        idocus/ts%col1/ts%0002 - def/p\u00e9riode actuelle/bq", null], ["/exportation\u00a0vers
        idocus/ts%col1/ts%0002 - def/p\u00e9riode actuelle/ac", null], ["/exportation\u00a0vers
        idocus/ts%col1/ts%0002 - def/p\u00e9riode actuelle", null], ["/exportation\u00a0vers
        idocus/ts%col1/ts%0002 - def", null]], "reset": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1%2FTS%250002+-+DEF%2Fp%C3%A9riode+actuelle%2FAC
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '264'
      X-Dropbox-Request-Id:
      - 6cf51aabcd0409e932e30d9197edfb99
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "2cb3d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Sat, 24 Oct 2015 19:28:00 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode actuelle/AC", "is_dir": true, "icon":
        "folder", "root": "app_folder", "revision": 715}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1%2FTS%250002+-+DEF%2Fp%C3%A9riode+pr%C3%A9c%C3%A9dente%2FBQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '219'
      X-Dropbox-Request-Id:
      - 52c20cc37d9f6e78e824f1b957d199aa
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "2d13d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Sat, 24 Oct 2015 19:28:09 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode pr\u00e9c\u00e9dente/BQ", "is_dir":
        true, "icon": "folder", "root": "app_folder", "revision": 721}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 2.9.3
