---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAFsdMnyFBU1N5vwJaYhzXNWuMUB5ZcbLjNcc1lhALBC0Tm9aw9lbSEImzVChz7Gx0xp6XpWNg_P5yyWIbZYLvELanE0oNko5xHcxKD7f3Lb-NEUSbrF2dTgrj8gjzVhSS7gbBGbkDSiIrVVUy7ISNJGqJ6Ira_ml8oufdfwY91QT83n16hrJxgEuFI3NgcFouw"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - b438595fa016c7039c3b43374b7e5eba
      X-Server-Response-Time:
      - '126'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [], "cursor": "AAFZRH-y2nDYaV4cPslIM9_zwnRvoP6TG0Ns1ZY4djCRlmaZuXExGiZrXxIlQf29mmyRmc7b0P8FL_L5aOXyPSD0b3iThnjl31k-Lp7vIK503RcWUSJQquqlioUW80EPs_Lvy5feNxxX2JFEREQ4QMDWHcqE3R-mo62zDDxwHghMKYHDtxdjozLtvmnWrWlwdAc",
        "has_more": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/delete
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%COL1/TS%0001 - ABC"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 7e403f1118a75871560edd307ab3d080
      X-Server-Response-Time:
      - '374'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "folder", "name": "TS%0001 - ABC", "path_lower": "/exportation
        vers idocus/ts%col1/ts%0001 - abc", "path_display": "/exportation vers iDocus/TS%COL1/TS%0001
        - ABC", "id": "id:66z1e_OMcPAAAAAAAAAAlA"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 3.0.3
