---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAHC7CsTflyuFB1g45PvjRZMPOPsGh8rMamMgEy1GRZstxGSSqMYS5qCIPP0KXlwGD_Kf9gzGAfQ_1T3gI94XbEArhqIe4FUuc8gXHVlZthXTx_GPsgUxXm3d7sNinwL1l67mmI7FQdCYOVHQEa1QKy-Z-yPfcQY-XJy98zm8-pHkLptzFMe9ry7t6mlQeIyVb0"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - e6dd661859640c3142d2d2a22309cd10
      X-Server-Response-Time:
      - '126'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [], "cursor": "AAElKIMIXAK30hpy3MT_lwvNmMpGw5-xsidKI0eArkFOZe6Wu1YbZiCrLUWbs9nSj5YbL54FwI9pnKOWVjbpilurIW96vuRYXdRsYwvgp7vmG1NwGuvehKPJfcGkp8GvszxP7YH9gRAmFzHCbHli6CQ8kGP0_lhMTnhA-MjtTXs6cfYwOBd1-YrFTbxFiijnovg",
        "has_more": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/delete
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%COL1/TS%0002 - DEF"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - ded3e5c18b23a50e58120c8b6edb631e
      X-Server-Response-Time:
      - '1715'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "folder", "name": "TS%0002 - DEF", "path_lower": "/exportation
        vers idocus/ts%col1/ts%0002 - def", "path_display": "/exportation vers iDocus/TS%COL1/TS%0002
        - DEF", "id": "id:66z1e_OMcPAAAAAAAAAAzg"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 3.0.3
