---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAFPECINUoE4402PmO0Ta4IsLR_KP-_4AdabGI8OS23E3wGqHtixFRrhG5O-Iqmmdhd_9Opdsy83JfMbh1NTUN3rSe4M6D5v0xJ0xRh_Oox7B283OgMVSSNtcXLEFv4AFpAMRnWVQNnJTb1YW7GrwrrVdS9zXipcRQKpMOOIqEowov1n1tLOBXk9Di-tvGzfVyA"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - d53ae8fad759ed8159cc97530c897c77
      X-Server-Response-Time:
      - '1167'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [], "cursor": "AAGkgBqIfp8R6xHuPIx08v00W6nPUpKjbjWLUFmb0pQFttNXCLMsUESX0wAAzjhckW25J3xeZNOqN-3zidR9BGsqPApk-_q6UngjTfXIRhHnDRaoMaHhoAaEW6Bx4H7elwObqiYIIn2w2KBoE1Wu-7QlPUg1oQHFWD0DQeAv0BM8P37_YMnO3tsurpNrWLdCLHU",
        "has_more": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/delete
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%COL1/TS%0002 - DEF"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - c6649cc225ecc662e205e0f7e651586f
      X-Server-Response-Time:
      - '401'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "folder", "name": "TS%0002 - DEF", "path_lower": "/exportation
        vers idocus/ts%col1/ts%0002 - def", "path_display": "/exportation vers iDocus/TS%COL1/TS%0002
        - DEF", "id": "id:66z1e_OMcPAAAAAAAAAAjQ"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%COL1/TS%0002 - DDD/période actuelle/AC"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 4c5c92db8d9d57f4b7f747f94edd3833
      X-Server-Response-Time:
      - '562'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "AC", "path_lower": "/exportation vers idocus/ts%col1/ts%0002
        - ddd/p\u00e9riode actuelle/ac", "path_display": "/exportation vers iDocus/TS%COL1/TS%0002
        - DDD/p\u00e9riode actuelle/AC", "id": "id:66z1e_OMcPAAAAAAAAAAqQ"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%COL1/TS%0002 - DDD/période précédente/BQ"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - d75ac2f9860b13db74e4c41a4ce257e0
      X-Server-Response-Time:
      - '1058'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "BQ", "path_lower": "/exportation vers idocus/ts%col1/ts%0002
        - ddd/p\u00e9riode pr\u00e9c\u00e9dente/bq", "path_display": "/exportation
        vers iDocus/TS%COL1/TS%0002 - DDD/p\u00e9riode pr\u00e9c\u00e9dente/BQ", "id":
        "id:66z1e_OMcPAAAAAAAAAArQ"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 3.0.3
