!!!
%html
  %head
    %title [iDocus] Nouvelle facture disponible
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-type' }
  %body
    Bonjour #{@user.name},
    %br
    %br
    Vous trouverez ci-joint votre dernière facture.
    %br
    %br
    Nous vous rappelons que le règlement s’effectue par prélèvement. Si ce dernier n’était pas configuré, votre compte pourrait être suspendu.
    %br
    %br
    Nous restons à votre disposition pour tout complément.
    %br
    %br
    Cordialement,
    %br
    L'équipe iDocus.
    %br
    = link_to 'support@idocus.com', 'mailto:support@idocus.com'
