.rspec
.idea/
.envrc
./doc/
log/
tmp/
/data/
/files/
public/system
public/assets
coverage/
doc_data.txt
.sass-cache
config/secrets.yml
config/mongoid.yml
config/dematbox.yml
config/fiduceo.yml
config/box.yml
config/dematbox_service_api.yml
config/knowings.yml
config/emailed_document.yml
config/ibiza.yml
config/slimpay.yml
config/google_drive.yml
config/pdftk.yml
config/smtp.yml
