.DS_Store
.rspec
.idea/
.envrc
.byebug_history
./doc/
log/
tmp/
keys/
/data/
/files/
public/system
public/assets
public/ckeditor_assets
coverage/
doc_data.txt
.sass-cache
db/schema.rb


config/deploy/production.rb
config/deploy/sandbox.rb

config/secrets.yml
config/elastic_apm.yml
config/database.yml
config/dematbox.yml
config/dematbox_service_api.yml
config/knowings.yml
config/emailed_document.yml
config/ibiza.yml
config/slimpay.yml
config/pdftk.yml
config/smtp.yml
config/budgea.yml
config/fiduceo.yml
config/ftp_delivery.yml
config/slimpay_checkout.yml
config/symmetric-encryption.yml

# Ignore master key for decrypting credentials and more.
/config/master.key
