= render 'account_book_type' if @event.target_type == 'account_book_type/user'

%table.table.table-striped.table-condensed.panel
  %tr
    %th Adresse IP
    %td= @event.ip_address
  - if @event.target_type == AccountBookType.to_s.underscore
    %tr
      %th Chemin
      %td= @event.path
