%tbody.organization_list
  - @organizations.each do |organization|
    %tr{ id: "row-#{organization.id}", class: 'row_organizations' }
      %td{colspan: 13}
  %tr#total_footer
    = render partial: 'total_footer'
