html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border-style: none;
	font-family: Arial,Calibri,Verdana,Helvetica,sans-serif;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	outline-style: none;
	outline-width: 0;
	padding: 0; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: block; }

.clear{
	clear:both; }
.style_bar{
	width:960px;
	height:3px;
	background:url(../../images/pages/ligne%20style.png) no-repeat;
	margin-bottom:25px;
	margin-top:25px; }
.floattoleft {
  float: left; }
.floattoright {
  float: right; }
  
.margin05top {
  margin-top: 3px; }
.margin2top {
  margin-top: 20px; }
.margin4top {
  margin-top: 40px; }

.margin2right {
  margin-right: 20px; }

.margin1left {
  margin-left: 10px; }
.margin2left {
  margin-left: 20px; }

.margin1bottom {
  margin-bottom: 10px; }
.margin4bottom {
  margin-bottom: 40px; }

input, button, textarea {
  outline: none;
  padding: 0;
  resize: none; }

form input.w50 {
  width: 50px; }
form input.w120 {
  width: 120px; }
form input.w220 {
  width: 220px; }
form input.w470 {
  width: 475px; }

input[type="submit"].w30 {
  height: 28px;
  min-width: 30px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-style: none;
  border-collapse: collapse;
  border-width: 0px;
  background-position: right 0px !important; }

input[type="submit"].w30:hover {
  background-position: right -28px !important; }

input[type="submit"].w30:active {
  background-position: right -56px !important; }

input[type="submit"].w125 {
  width: 125px;
  background-position: right -93px !important; }

input[type="submit"].w125:hover {
  background-position: right -124px !important; }

input[type="submit"].w125:active {
  color: white;
  background-position: right -154px !important; }

input[type="submit"].w125.inactive, input[type="submit"].w125.inactive:hover, input[type="submit"].w125.inactive:active {
  background-position: right -403px !important;
  color: #949392; }
  
a.button {
  display: block !important;
  position: relative !important;
  height: 31px;
  min-width: 20px;
  padding-right: 15px;
  background-position: right -124px !important;
  text-decoration: none;
  background-color: green;
  cursor: pointer; }
  a.button span {
    display: block !important;
    position: relative !important;
    text-shadow: none;
    font-size: 11px;
    line-height: 14px;
    height: 23px;
    min-width: 20px;
    padding-top: 8px;
    padding-left: 15px;
    background-position: left 0px !important;
    background-color: yellow;
    color: black;
    font-weight: bold;
    text-shadow: #dddddd 0px 1px 0px; }

a.button:hover {
  background-position: right -155px !important; }
  a.button:hover span {
    background-position: left -31px !important; }

a.button:active {
  background-position: right -186px !important; }
  a.button:active span {
    background-position: left -62px !important;
    color: white;
    text-shadow: none; }

a.button.inactive, a.button.inactive:hover, a.button.inactive:active {
  background-position: right -217px !important; }
  a.button.inactive span, a.button.inactive:hover span, a.button.inactive:active span {
    background-position: left -93px !important;
    color: #949392; }

a.whitebtn, a.whitebtn span {
  background: url("../../images/application/sprite_button_white.png"); }

input[type="submit"].button {
  display: block !important;
  position: relative !important;
  height: 31px;
  min-width: 100px;
  border-style: none;
  border-width: 0px;
  padding: 0px;
  font-size: 0px;
  line-height: 0px;
  color: black;
  cursor: pointer;
  text-decoration: none;
  text-shadow: none;
  font-size: 11px;
  line-height: 14px;
  font-weight: bold;
  font-family: "trebuchet ms", arial !important;
  text-align: center; }
input[type="submit"].whitebtn {
  background: url("../../images/application/sprite_input_white.png"); }
input[type="submit"].greenbtn {
  background: url("../../images/application/sprite_input_green.png"); }

form input[type="text"], form input[type="password"] {
  display: block !important;
  position: relative !important;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-style: none;
  border-collapse: collapse;
  border-width: 0px;
  margin: 0px;
  height: 21px;
  font-size: 12px;
  line-height: 16px;
  padding: 4px;
  color: #424242;
  vertical-align: middle; }

input[type="checkbox"] {
  margin:0 2px 0 0;
  position: relative;
  top:3px; }

.buttonsrow {
  display: block !important;
  position: relative !important;
  width: 100%;
  height: 32px; }
  
#header{
	height:82px;
	background:#3e2f24;
	min-width:100%;
	margin:0;
	padding:0;
}
#header .box{
	width:960px;
	margin:auto;
}
#header .logo{
	max-width:107px;
	max-height:72px;
	
  margin-top:-9px;
	padding:15px 17px;
	position:relative;
	left:25px;
	
	float:left;
	
	background-color:white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
}
#header .menu{
	width: 570px;
	height: 82px;
	float: left;
  text-align: center; }
  #header .menu .box{
    width:auto;
    margin-top:35px; }
    #header .menu .box a{
      text-decoration:none;
      font-weight:bold;
      font-size:14px;
      color:#C9DD03; }
    #header .menu .box a:hover{
      text-decoration:underline; }
    #header .menu .box .current{
      font-size:16px; }
    #header .menu .box .separator{
      color:#C9DD03; }

#header .login{
	max-width:240px;
	height:82px;
	float:right;
}
#header .loginbox {
  display: block !important;
  position: relative !important;
  max-height: 82px;
  width: 240px;
  float: right;
  right: 30px;
  color: #797979;
  background-repeat: repeat-x;
  background-position: center bottom; }
  #header .loginbox a {
    color:#c9dd03;
    text-decoration: none;
    font-size: 11px; }
  #header .loginbox a:hover {
    text-decoration: underline; }
  #header .loginbox span.title {
    display: block !important;
    position: relative !important;
    height: 20px;
    width: 240px;
    font-weight: bold;
    font-family: "Arial", "VagNormal", "trebuchet ms", "serif";
    font-size: 12px;
    line-height: 12px;
    padding-top: 6px;
    color: #e0e0e0; }
  #header .loginbox form fieldset .leftcol, body #header .loginbox form fieldset .rightcol {
    display: block !important;
    position: relative !important;
    height: 28px;
    font-size: 11px;
    line-height: 11px; }
    #header .loginbox form fieldset .leftcol input[type="text"], #header .loginbox form fieldset .leftcol input[type="password"], #header .loginbox form fieldset .rightcol input[type="text"], #header .loginbox form fieldset .rightcol input[type="password"] {
      background-color: #878686 !important; }
  #header .loginbox form fieldset .leftcol {
    float: left;
    width: auto; }
  #header .loginbox form fieldset .rightcol {
    float: right;
    text-align: left;
    width: auto; }

body{
	font-family:"Arial";
	color:#333333;
	font-size:12px;
	text-align:justify;
}
#content{
	//width:960px;
  width:100%;
	margin:auto;
  text-align:center;
}

#footer{
	height:75px;
	min-width:100%;
	margin:0;
  padding:0;
	background:#3e2f24;
  text-align:center; }
  #footer .box{
    display:inline-block;
    width:900px;
    margin:0;
    padding:0; }
  #footer .lien{
    width:900px;
    margin:20px 0 20px 0;
    padding:0; }
    #footer .lien a{
      font-size:11px;
      text-decoration:none;
      color:#C9DD03;
      margin:0; }
    #footer .lien a:hover{
      font-size:12px; }
    #footer .lien .separator{
      color:#c9dd03; }
    #footer .copyright{
      width:900px;
      font-size:11px;
      margin:0 0 20px 0;
      color:white; }
