.block
  %h3 Product management
  .content
    %p
      Here you can
      %span.hightlight manage
      products and options
    %p
      Price including VAT and price per sheet will be
      %span.highlight automatically
      calculated.

    %p
      %b Legend:
      %ul.list
        %li!= image_tag("web-app-theme/application_edit.png", :alt => "Edit") + " to edit a product"
        %li!= image_tag("web-app-theme/cross.png", :alt => "Delete") + " to delete a product"
