#csv_descriptors.edit
  .card
    .card-header
      - if @customer.configured?
          %h3 
            Edition du format d’export .csv du client : 
            .fs-origin.text-info= link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'csv_descriptor')
      - else
        = render 'account/customers/steps'
          %h3 
            Format d’export .csv pour le dossier : 
            .fs-origin.text-info= @customer

    = render partial: 'account/csv_descriptors/form'
