#csv_descriptors.edit
  .card
    .card-header.clearfix
      - if @customer.configured?
        %h3 
          Edition du format d’export .csv du client : 
          = link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'csv_descriptor'), class: 'fs-origin'
      - else
        .float-left
          %h3 
            Format d’export .csv pour le dossier : 
            %span.fs-origin.text-info= @customer
        .float-right
          = render 'account/customers/steps'


    = render partial: 'account/csv_descriptors/form'
