#csv_descriptors.edit.derivationRight
  - unless @customer.configured?
    .box
      = render 'account/customers/steps'

  .card
    .card-header
      - if @customer.configured?
        %h3 
          Edition du format d’export .csv du client : 
          = link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'csv_descriptor'), class: 'fs-origin'
      - else
        %h3
          Format d’export .csv pour le dossier :
          %span.fs-origin.text-info= @customer

    = render partial: 'account/csv_descriptors/form'
