!!!
%html
  %head
    %title [iDocus] Document non traitable notification
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-type' }
  %body
    Bonjour,
    %br
    %br
    Nous vous informons que les fichiers suivants ne sont pas traitable.
    %br   
    %ul
    - if @documents.present?
      - @documents.each do |document|
        %li Dossier: #{document.user.code} - #{document.params[:original_file_name]} le #{document.created_at.strftime('%d/%m/%Y à %H:%M')}. Source : #{document.params[:api_name]} ( Fichier corrompu ou protégé par mdp )
        %br    
    %br
    Cordialement
    %br
    SI iDocus