/*Filename       : custom.css
 * Redered form   : custom.sass
 * Need HAML gem  : version 3.1.12
 * Compatibility  : Firefox 3.5, Safari 5.0, Internet Explorer 7 & 8
 * Version        : 1.0 (2011-12-20) YYYY-MM-DD
 * Author         : DirectMada
 * Author's Uri   : www.directmada.com
 * Description    : iDocus customizing effects file */
.information {
  display: inline-block; }

/* simple css-based tooltip */
.tooltip {
  background-color: black;
  border: 1px solid white;
  padding: 10px 15px;
  display: none;
  color: white;
  text-align: left;
  font-size: 12px;
  z-index: 99;
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  background-color: #d2c295;
  border: 1px solid white;
  width: 380px;
  height: 84px;
  padding: 10px 15px;
  display: none;
  color: #584528;
  text-align: left;
  font-size: 12px;
  position: absolute;
  z-index: 100;
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black; }

.growl-info {
  display: none; }

.filter-result {
  font-weight: normal; }
