#notifications.container-fluid.margin1bottom
  .row-fuild
    .span12
      %h2 Notifications

      %ul
        = render partial: 'notifications', locals: { notifications: @notifications }

      = paginate @notifications
