#news.edit
  .row
    .col
      .panel
        = render partial: 'navigation'

  .row
    .col-12
      .panel
        %h3 Edition de l'annonce : #{@news.title}

  .row
    .col-12
      = render partial: 'form'
