#news.edit
  .row
    .col-md-12
      .box.small-shadow.clearfix
        = render partial: 'navigation'

  .card
    .card-header
      %h3 Edition de l'annonce : #{@news.title}
    = render partial: 'form'
