.navbar
  .navbar-inner
    %ul.nav
      %li
        = link_to 'Liste des clients', account_users_path
      %li{ class: (action_name == 'index' ? 'active' : '')}
        = link_to 'Liste des journaux comptable', account_account_book_types_path
      %li{ class: (action_name == 'new' ? 'active' : '')}
        = link_to 'Nouveau journal comptable', new_account_account_book_type_path