#journal.edit.derivationRight
  .card
    .card-header.clearfix
      .float-left
        %h3
          Edition du journal : #{@journal.name}
          - if @customer
            = link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'journals'), class: 'fs-origin'
      - if @customer.try(:uses_ibiza_analytics?)
        .float-right
          = link_to 'Edition Compta Analytique', edit_analytics_account_organization_customer_journals_path(@organization, @customer, id: @journal), class: 'btn btn-primary'
    = render partial: 'form'
