#journals
  .row-fluid
    .span12.box
      .row-fluid
        .span12
          .pull-left
            %h3 Journaux comptables
          .pull-right
            = link_to t('actions.new'), new_account_organization_journal_path, class: 'btn btn-primary'

  .row-fluid
    #assignment.span12.box