#journal
  .row-fluid
    .span12.box
      %h3
        Nouveau journal comptable
        - if @customer
          pour le client : #{link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'journals')}
  .row-fluid
    .span12.box
      = render partial: 'form'
