#retriever.edit
  - unless @customer.configured?
    = render 'account/customers/steps'

  .row-fluid
    .span12
      .box
        %h3 Modification de l'automate : #{@retriever.name}, pour le client : #{link_to @customer, account_organization_customer_retrievers_path(@organization, @customer)}
  .row-fluid
    .span12
      .box{ style: 'padding-bottom:0;' }
        = render partial: 'form'
