#addresses.container-fluid
  .row-fluid
    .span12
      = render partial: 'navigation'
  .row-fluid
    .span12.alerts
      - flash.each do |type, message|
        .alert.alert-message.fade.in{ "data-alert" => "alert", :class => twitterized_type(type) }
          %a.close{:href => "#"} ×
          %span= message
  - while @addresses.any?
    - three_addresses = @addresses[0..2]
    - @addresses = @addresses - three_addresses
    .row-fluid
      - three_addresses.each do |address|
        .span4
          = render partial: 'address', locals: { address: address, single: false }
