#addresses.container-fluid
  - if @is_manager
    = render 'shared/as_user'
  .row-fluid
    .span12
      = render partial: 'navigation'
  - flash.each do |type, message|
    .row-fluid
      .span12.alert.alert-message.fade.in{ "data-alert" => "alert", :class => twitterized_type(type) }
        %a.close{ 'data-dismiss' => :alert } ×
        %span= message
  - while @addresses.any?
    - three_addresses = @addresses[0..2]
    - @addresses = @addresses - three_addresses
    .row-fluid
      - three_addresses.each do |address|
        .span4
          = render partial: 'address', locals: { address: address, single: false }
