#address.new.container-fluid.derivationRight
  .card
    .card-header
      %h3 Gestion des Adresses
    .card-body
      = render partial: 'navigation'
      .tab-content
        = render partial: 'form'
