.month{ :class => ("active" if !monthly.empty?) }
  .header
    .actiongroup.first.pull-left
      - if !monthly.empty?
        %a.do-showThis.pull-left{ :href => "#", :style => "display:none;" }
          +
        %a.do-hideThis.pull-left{ :href => "#" }
          \-
    .title.pull-left
      %h3
        != month
    .actiongroup.pull-right
      - if !monthly.empty?
        %a.do-showAll.pull-left{ :href => "#", :style => "display:none;" }
          Afficher les détails
        %a.do-hideAll.pull-left{ :href => "#" }
          Cacher les détails
  - if !monthly.empty?
    .content
      - @total_pieces_per_month = 0
      - @total_sheets_per_month = 0
      - @total_pages_per_month = 0
      - @total_uploaded_pieces_per_month = 0
      - @total_uploaded_sheets_per_month = 0
      - @total_uploaded_pages_per_month = 0
      - @total_state = [0,0,0]
      - monthly = monthly.sort{|a,b| a.reporting.customer.code <=> b.reporting.customer.code}
      - monthly.each do |one_monthly|
        - is_visible = true
        - if !current_user.is_prescriber && !current_user.is_admin
          - if one_monthly.reporting.customer.original_user != current_user
            - is_visible = false
        - if is_visible
          != render :partial => "user.html.haml", :locals => { :index => index, :one_monthly => one_monthly }
      - if current_user.is_prescriber || current_user.is_admin
        != render :partial => "total.html.haml", :locals => { :index => index }