.total
  .header
    .actiongroup.first.pull-left
      %a.do-showThis.pull-left{ :href => "#", :style => "display:none;" }
        +
      %a.do-hideThis.pull-left{ :href => "#" }
        \-
    .title.pull-left
      %h3 Total
    .state.pull-right
      .state1.active.pull-left
        != @total_state[0]
      .state2.active.pull-left
        != @total_state[1]
      .state3.active.pull-left
        != @total_state[2]
  .content.margin1top
    %table
      %tr
        %th.first
        %th.second Pièces
        %th.second Feuilles
        %th.second Pages
        %th.second Attaches
        %th.second Hors format
      %tr
        %td.first
        %td.second
          %b
            !=@total_pieces_per_month
        %td.second
          %b
            !=@total_sheets_per_month
        %td.second
          %b
            !=@total_pages_per_month 
        %td.second
        %td.second