- selected ||= 'date'
- value = ''
- if selected.match /^(date|deadline_date)-/
  - value = selected.sub(/^(date|deadline_date)-/,'')
  - selected = selected.sub(/-.*$/,'')
%li.column.pull-left
  .input-prepend.input-append
    %span.add-on.pull-left
      = link_to icon_move, '#'
    = select_tag :directive, options_for_select(csv_outputter_options,selected), class: 'pull-left'
    = text_field_tag :complement, value, class: 'pull-left'
    %span.add-on.pull-left
      = link_to icon_destroy, '#', class: 'remove_column'
