#default_subscriptions.edit
  .row-fluid
    .span12.box
      %h3 Edition de l'abonnement de base

  .row-fluid
    .span12.box
      = simple_form_for @subscription, url: account_organization_default_subscription_path, html: { class: 'form form-horizontal margin0' } do |f|
        = render partial: 'account/subscriptions/form', locals: { f: f }
        .form-actions.margin0bottom
          = f.submit 'Valider', class: 'btn btn-primary'
          = link_to 'Annuler', account_organization_default_subscription_path(tab: 'subscription'), class: 'btn'
