#default_subscriptions
  .row-fluid
    .span12.box
      %h3.aligncenter
        Paramètres par défaut des abonnements créé par le collaborateur :
        %br
        #{ link_to @user, account_organization_collaborator_path(@user.organization, @user) }

  .row-fluid
    .span12.box
      = render partial: 'account/customers/options'
      .alignright.margin1top
        = link_to icon_edit + ' ' + t('actions.edit'), edit_account_organization_default_subscription_path(@organization), class: 'btn btn-primary'
