- @page_title = "Bordereau de transport Colissimo"
.leftcolon.margin4top
  != render :partial => '/shared/error_messages', :locals => {:object => @order}

  .tunnelcase
    %ul.progress
      %li.first
        %span
          options de
          %br
          ma commande
      %li.second
        %span
          Mon adresse
          %br
          de facturation
      %li.third.current
        %span
          paiement et impression
          %br
          du bordereau d'envoi

    .clearfix
      %h2.margin2top
        Merci :
      %p.margin2top
        Si vous ne l'avez pas déjà fait, vous pouvez imprimer votre bordereau de transport à partir du lien qui se trouve dans le mail que vous avez reçu de la part de Colissimo. Il vous faudra la coller et remettre votre colis à la poste.
      %p.margin2top
        Vous n'aurez rien à payer à la poste.  
      %p.margin2top
        Si vous n'avez pas d'imprimante, il vous suffit de transférer ce mail à l'adresse : #{ mail_to "noprinter@idocus.com" }. Nous vous enverrons alors par courrier votre bordereau dans les plus brefs délais.
        
      .buttonsrow.margin1bottom.margin4top
        %a.button.whitebtn.floattoright.margin2right.popup{ :href => '#'}
          %span
            Fermer cette fenêtre


.rightcolon.margin4top
  != render :partial => '/tunnel/shared/cart'
  != render :partial => '/tunnel/shared/infosbox', :locals => {:object => @order}

:javascript
  $('.popup').click(function(e){
    e.preventDefault();
    var o = $(this);
    var href = o.attr('href');
    window.close();
    window.parent.focus();
  });

