#paper_set_order.new.derivationRight
  .card
    .card-header
      %h3
        Commande de Kit envoi courrier pour le client : 
        = link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'orders'), class: 'fs-origin'
    - manual_paper_set_order = CustomUtils.is_manual_paper_set_order?(@organization)
    = simple_form_for @order, url: account_organization_paper_set_orders_path(@organization), html: { :id => manual_paper_set_order ? 'valid-manual-paper-set-order' : 'default', class: 'form-horizontal' } do |f|
      = render 'form', f: f, manual_paper_set_order: manual_paper_set_order