---
http_interactions:
- request:
    method: get
    uri: https://start.exactonline.fr/api/v1/current/Me?$select=CurrentDivision
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer gAAAAG6CitnBAyu2-MOJHkLySVV-GavQMGqZzNS8yiV76E2um-aX7Ybb-H7wnQn2ytXz8r1qJ5MIrz5JtL6b5g7lJWkfqms53wGHw49T_dQFmZJW-eJCSY81Wbx0_RVKrHi7GgsBf9E8swO37LgA3ull2exeVWthsnVVD2w5TmqSsoJmZAEAAIAAAAAfYLrR-1rYxNiwM0UoDbtS2cvlVeqgbO9YZ0mDtMYXf3KFFBGmSOFfZ6cjadT17-7-nbGrf-7RerIRI7iRMnYbxbAJQgLJ-1ciEFLXYztxAD091hAInLhlodZ5o67gaS9bx0eQUWZhEYguQ42kHivEfEVcOwKeMqfna3vLPk9EyrRXy9NbWVGX2UYG_ROwVw8wjpPiwVv2mN0_cGWnKWdCe76NQM2Bvr6cIvOpdHuPsci3uGZQPujRX7ZfqPNkGOCu_jsS7DpkeOHwpuZeeUkms8Q-CO7I75C3a7ZOlogl5ZpvF1cfnccuR3z5vhBRoHSVq8WaSpBkX_0TkSGW4ti6a6RQsqDtKYt8_Kdgk9rB1oCQu1TRpWPI1nmcwcstNX_a3ThYzMsWl-0uJT4knpL3zxTqk7MFZwwFrJogeCn140UIwbPaX2FD92r4TycsLQH1xQwlfPv1m0SAuXvS6GjA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Dataserviceversion:
      - 2.0;
    body:
      encoding: UTF-8
      string: "{\r\n\"d\" : {\r\n\"results\": [\r\n{\r\n\"__metadata\": {\r\n\"uri\":
        \"https://start.exactonline.fr/api/v1/current/Me(guid'05bee804-0253-4ecc-a637-e2d6b9ce0aa9')\",
        \"type\": \"Exact.Web.Api.System.Me\"\r\n}, \"CurrentDivision\": 65941\r\n}\r\n]\r\n}\r\n}"
  recorded_at: Tue, 18 Dec 2018 21:00:00 GMT
- request:
    method: post
    uri: https://start.exactonline.fr/api/v1/65941/purchaseentry/PurchaseEntries
    body:
      encoding: UTF-8
      string: '{"Supplier":"f4e06755-79f4-4b4a-a29a-bc5968473679","Journal":"60","EntryDate":"2018-12-18","PurchaseEntryLines":[{"AmountFC":"1011.23","GLAccount":"e51e8dda-f010-44ad-a53e-c5f605c33072","VATCode":"AR"}]}'
    headers:
      Authorization:
      - Bearer gAAAAG6CitnBAyu2-MOJHkLySVV-GavQMGqZzNS8yiV76E2um-aX7Ybb-H7wnQn2ytXz8r1qJ5MIrz5JtL6b5g7lJWkfqms53wGHw49T_dQFmZJW-eJCSY81Wbx0_RVKrHi7GgsBf9E8swO37LgA3ull2exeVWthsnVVD2w5TmqSsoJmZAEAAIAAAAAfYLrR-1rYxNiwM0UoDbtS2cvlVeqgbO9YZ0mDtMYXf3KFFBGmSOFfZ6cjadT17-7-nbGrf-7RerIRI7iRMnYbxbAJQgLJ-1ciEFLXYztxAD091hAInLhlodZ5o67gaS9bx0eQUWZhEYguQ42kHivEfEVcOwKeMqfna3vLPk9EyrRXy9NbWVGX2UYG_ROwVw8wjpPiwVv2mN0_cGWnKWdCe76NQM2Bvr6cIvOpdHuPsci3uGZQPujRX7ZfqPNkGOCu_jsS7DpkeOHwpuZeeUkms8Q-CO7I75C3a7ZOlogl5ZpvF1cfnccuR3z5vhBRoHSVq8WaSpBkX_0TkSGW4ti6a6RQsqDtKYt8_Kdgk9rB1oCQu1TRpWPI1nmcwcstNX_a3ThYzMsWl-0uJT4knpL3zxTqk7MFZwwFrJogeCn140UIwbPaX2FD92r4TycsLQH1xQwlfPv1m0SAuXvS6GjA
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Dataserviceversion:
      - 1.0;
    body:
      encoding: UTF-8
      string: "{\r\n\"error\": {\r\n\"code\": \"\", \"message\": {\r\n\"lang\": \"\",
        \"value\": \"Error processing request stream. The property name 'Supplier'
        specified for type 'Exact.Web.Api.Models.SalesEntry' is not valid.\"\r\n}\r\n}\r\n}"
  recorded_at: Tue, 18 Dec 2018 12:25:59 GMT
recorded_with: VCR 5.0.0
