---
http_interactions:
- request:
    method: get
    uri: https://start.exactonline.fr/api/v1/current/Me?$select=CurrentDivision
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer gAAAAG6CitnBAyu2-MOJHkLySVV-GavQMGqZzNS8yiV76E2um-aX7Ybb-H7wnQn2ytXz8r1qJ5MIrz5JtL6b5g7lJWkfqms53wGHw49T_dQFmZJW-eJCSY81Wbx0_RVKrHi7GgsBf9E8swO37LgA3ull2exeVWthsnVVD2w5TmqSsoJmZAEAAIAAAAAfYLrR-1rYxNiwM0UoDbtS2cvlVeqgbO9YZ0mDtMYXf3KFFBGmSOFfZ6cjadT17-7-nbGrf-7RerIRI7iRMnYbxbAJQgLJ-1ciEFLXYztxAD091hAInLhlodZ5o67gaS9bx0eQUWZhEYguQ42kHivEfEVcOwKeMqfna3vLPk9EyrRXy9NbWVGX2UYG_ROwVw8wjpPiwVv2mN0_cGWnKWdCe76NQM2Bvr6cIvOpdHuPsci3uGZQPujRX7ZfqPNkGOCu_jsS7DpkeOHwpuZeeUkms8Q-CO7I75C3a7ZOlogl5ZpvF1cfnccuR3z5vhBRoHSVq8WaSpBkX_0TkSGW4ti6a6RQsqDtKYt8_Kdgk9rB1oCQu1TRpWPI1nmcwcstNX_a3ThYzMsWl-0uJT4knpL3zxTqk7MFZwwFrJogeCn140UIwbPaX2FD92r4TycsLQH1xQwlfPv1m0SAuXvS6GjA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Dataserviceversion:
      - 2.0;
    body:
      encoding: UTF-8
      string: "{\r\n\"d\" : {\r\n\"results\": [\r\n{\r\n\"__metadata\": {\r\n\"uri\":
        \"https://start.exactonline.fr/api/v1/current/Me(guid'05bee804-0253-4ecc-a637-e2d6b9ce0aa9')\",
        \"type\": \"Exact.Web.Api.System.Me\"\r\n}, \"CurrentDivision\": 65941\r\n}\r\n]\r\n}\r\n}"
  recorded_at: Tue, 18 Dec 2018 12:25:54 GMT
- request:
    method: post
    uri: https://start.exactonline.fr/api/v1/65941/purchaseentry/PurchaseEntries
    body:
      encoding: UTF-8
      string: '{"Supplier":"f4e06755-79f4-4b4a-a29a-bc5968473679","Journal":"60","EntryDate":"2018-12-18","PurchaseEntryLines":[{"AmountFC":"1011.23","GLAccount":"e51e8dda-f010-44ad-a53e-c5f605c33072","VATCode":"AR"}]}'
    headers:
      Authorization:
      - Bearer gAAAAG6CitnBAyu2-MOJHkLySVV-GavQMGqZzNS8yiV76E2um-aX7Ybb-H7wnQn2ytXz8r1qJ5MIrz5JtL6b5g7lJWkfqms53wGHw49T_dQFmZJW-eJCSY81Wbx0_RVKrHi7GgsBf9E8swO37LgA3ull2exeVWthsnVVD2w5TmqSsoJmZAEAAIAAAAAfYLrR-1rYxNiwM0UoDbtS2cvlVeqgbO9YZ0mDtMYXf3KFFBGmSOFfZ6cjadT17-7-nbGrf-7RerIRI7iRMnYbxbAJQgLJ-1ciEFLXYztxAD091hAInLhlodZ5o67gaS9bx0eQUWZhEYguQ42kHivEfEVcOwKeMqfna3vLPk9EyrRXy9NbWVGX2UYG_ROwVw8wjpPiwVv2mN0_cGWnKWdCe76NQM2Bvr6cIvOpdHuPsci3uGZQPujRX7ZfqPNkGOCu_jsS7DpkeOHwpuZeeUkms8Q-CO7I75C3a7ZOlogl5ZpvF1cfnccuR3z5vhBRoHSVq8WaSpBkX_0TkSGW4ti6a6RQsqDtKYt8_Kdgk9rB1oCQu1TRpWPI1nmcwcstNX_a3ThYzMsWl-0uJT4knpL3zxTqk7MFZwwFrJogeCn140UIwbPaX2FD92r4TycsLQH1xQwlfPv1m0SAuXvS6GjA
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://start.exactonline.fr/api/v1/65941/purchaseentry/PurchaseEntries(guid'28530481-b033-43d3-a62f-98ef012ba24b')
      Dataserviceversion:
      - 1.0;
    body:
      encoding: UTF-8
      string: "{\r\n\"d\" : {\r\n\"__metadata\": {\r\n\"uri\": \"https://start.exactonline.fr/api/v1/65941/purchaseentry/PurchaseEntries(guid'28530481-b033-43d3-a62f-98ef012ba24b')\",
        \"type\": \"Exact.Web.Api.Models.PurchaseEntry\"\r\n}, \"AmountDC\": -1112.35,
        \"AmountFC\": -1112.35, \"BatchNumber\": null, \"Created\": \"\\/Date(1545139574083)\\/\",
        \"Creator\": \"05bee804-0253-4ecc-a637-e2d6b9ce0aa9\", \"CreatorFullName\":
        \"Mina RAKOTONIRAINY\", \"Currency\": \"EUR\", \"Supplier\": \"f4e06755-79f4-4b4a-a29a-bc5968473679\",
        \"SupplierName\": \"Exact Software France\", \"Description\": null, \"Division\":
        65941, \"Document\": \"a9cbb021-1336-43fd-bcf1-63b14c0fbc76\", \"DocumentNumber\":
        14, \"DocumentSubject\": \"Facture: 18600014\", \"DueDate\": \"\\/Date(1547683200000)\\/\",
        \"EntryDate\": \"\\/Date(1545091200000)\\/\", \"EntryID\": \"28530481-b033-43d3-a62f-98ef012ba24b\",
        \"EntryNumber\": 18600014, \"ExternalLinkDescription\": null, \"ExternalLinkReference\":
        null, \"GAccountAmountFC\": null, \"InvoiceNumber\": 18600014, \"Journal\":
        \"60\", \"JournalDescription\": \"Achats\", \"Modified\": \"\\/Date(1545139574110)\\/\",
        \"Modifier\": \"05bee804-0253-4ecc-a637-e2d6b9ce0aa9\", \"ModifierFullName\":
        \"Mina RAKOTONIRAINY\", \"OrderNumber\": null, \"PaymentCondition\": \"30\",
        \"PaymentConditionDescription\": \"30 jours\", \"PaymentReference\": null,
        \"ProcessNumber\": 0, \"Rate\": 1, \"ReportingYear\": 2018, \"ReportingPeriod\":
        12, \"Reversal\": false, \"Status\": 20, \"StatusDescription\": \"Ouvert\",
        \"Type\": 30, \"TypeDescription\": \"\\u00c9criture d'achat\", \"VATAmountDC\":
        null, \"VATAmountFC\": -101.12, \"YourRef\": null, \"PurchaseEntryLines\":
        {\r\n\"__deferred\": {\r\n\"uri\": \"https://start.exactonline.fr/api/v1/65941/purchaseentry/PurchaseEntries(guid'28530481-b033-43d3-a62f-98ef012ba24b')/PurchaseEntryLines\"\r\n}\r\n}\r\n}\r\n}"
  recorded_at: Tue, 18 Dec 2018 12:25:55 GMT
- request:
    method: post
    uri: https://config.bearer.sh/config
    body:
      encoding: UTF-8
      string: '{"runtime":{"type":"x86_64-linux","arch":"x86_64","platform":"linux","version":"2.6.5","hostname":"infodrm"},"agent":{"type":"ruby","version":"3.1.0"},"application":{"environment":"dGVzdA=="}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - app_63d2b0332c5550a40a549b82a5c6ca358be62b1aaa4668df38
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Protected-By:
      - Sqreen
      Bearer-Correlation-Id:
      - 1-5ebbc014-c8057f6c5726d26696c7e2a2
      Bearer-Internal-Correlation-Id:
      - 1-5ebbc014-c8057f6c5726d26696c7e2a2
      Bearer-Request-Id:
      - 1-5ebbc014-c8057f6c5726d26696c7e2a2
      Etag:
      - W/"2451-tBTCyYgkhQd4+HSeuDS2hzK924A"
    body:
      encoding: UTF-8
      string: '{"blockRules":[],"blockedDomains":[],"dataCollectionRules":[{"filterHash":"CqdGN+UBD5FCuGYp0qsZCvHXmAg=","params":{"typeName":"ErrorRule"},"signature":"TODO"},{"config":{"active":false,"logLevel":"ALL"},"filterHash":"4jr1jwt/zo95s4RnwiPJEG/eRiw=","params":{"buid":"8514381c5585cc98a9cc20946567e17f","typeName":"ApiRule"},"signature":"TODO"},{"config":{"active":false,"logLevel":"ALL"},"filterHash":"o734h25BpWujWR+mWeFg2U/vNpU=","params":{"buid":"46e585a1f3c0e1de104b3b82539c5eda","typeName":"ApiRule"},"signature":"TODO"},{"config":{"active":false,"logLevel":"ALL"},"filterHash":"S7+KJY3Useqax6kF2UMUyCwce2A=","params":{"buid":"80c7ebc006ecaf529321a38e0415a1f6","typeName":"ApiRule"},"signature":"TODO"},{"config":{"active":false,"logLevel":"ALL"},"filterHash":"e[...]
[...]
