---
http_interactions:
- request:
    method: post
    uri: https://start.exactonline.fr/api/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=0cf9f68f-7d26-4949-ad4e-8befd982533f&client_secret=BOhcM7O82Kvx&grant_type=refresh_token&refresh_token=-4oA%21IAAAAGvY_TXiJ31egurKsjTF-FyM0Qi_9z_-Ulf8lfKL8KGJAQEAAAG25HVCGLF-HVgMLf2AZiK7DvQe45OIDNbzgo2ZXoNMcxmnbN_eZMqcc67PMXILG9A56Hxv0j6nGG7jrzVsV3O802pxVcoeW6h7n3KZkXHvfIpSi_Pki7_6pGGTeQMh4vltITRKIeF1GbuwGebkBV8mgUMErL-qYenSW1BwOTUsqVOC4MW_eZzqq3lVAgAmhCgEQTK2tpSM_VNo1ESKa81f7mMUainmQ87Z76K4UQM4DBbCuJeC4DtDyJXbnEY7m9QFGu87ES5tqoeXKOa6AQRD1779CWuQOd_CTT4QImLIVcNlw2yVnygjJLpI4f0wOMvB-becfvLG9x7KGSrUx4Mm
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"gAAAAG6CitnBAyu2-MOJHkLySVV-GavQMGqZzNS8yiV76E2um-aX7Ybb-H7wnQn2ytXz8r1qJ5MIrz5JtL6b5g7lJWkfqms53wGHw49T_dQFmZJW-eJCSY81Wbx0_RVKrHi7GgsBf9E8swO37LgA3ull2exeVWthsnVVD2w5TmqSsoJmZAEAAIAAAAAfYLrR-1rYxNiwM0UoDbtS2cvlVeqgbO9YZ0mDtMYXf3KFFBGmSOFfZ6cjadT17-7-nbGrf-7RerIRI7iRMnYbxbAJQgLJ-1ciEFLXYztxAD091hAInLhlodZ5o67gaS9bx0eQUWZhEYguQ42kHivEfEVcOwKeMqfna3vLPk9EyrRXy9NbWVGX2UYG_ROwVw8wjpPiwVv2mN0_cGWnKWdCe76NQM2Bvr6cIvOpdHuPsci3uGZQPujRX7ZfqPNkGOCu_jsS7DpkeOHwpuZeeUkms8Q-CO7I75C3a7ZOlogl5ZpvF1cfnccuR3z5vhBRoHSVq8WaSpBkX_0TkSGW4ti6a6RQsqDtKYt8_Kdgk9rB1oCQu1TRpWPI1nmcwcstNX_a3ThYzMsWl-0uJT4knpL3zxTqk7MFZwwFrJogeCn140UIwbPaX2FD92r4TycsLQH1xQwlfPv1m0SAuXvS6GjA","token_type":"bearer","expires_in":"600","refresh_token":"-4oA!IAAAADVnuIKKAxCxFo_Hbj7IrkkLtGVBm2MhfhahQezgiwPkAQEAAAEyZWuAyjV2DjEYRAoFIcy2Om-Blp7v1Hpta81LfV5HSSAUjEuj-BaxcF6J22XMCo2dI7S0mTgvCOInfuyWSKHxKqyxc0HL-_hCIV_01TXQszGUzi16UsYJMVZdtaSpLE2834ly1rFi5GxcVE1gx8Qae49l9bx_WxuwbtKWUKbmS-XsPpzVHh2au11MNy9dAQmDfsbQCL-kJxZpnHl4qW7o2Zk4ehuxpZni2HiNWe4dBVYu-8VVCt2HSqgbFMIbE1WbJZKHAIhk3YcTkmzR84bDcv-jjAkAdFvT06zs44_32UOLWA8dqZHNZ1ZwiOa2rkJfXXPPeIEYtH2hvL67XTaN"}'
  recorded_at: Tue, 18 Dec 2018 12:23:57 GMT
- request:
    method: get
    uri: https://start.exactonline.fr/api/v1/current/Me?$select=CurrentDivision
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer gAAAAG6CitnBAyu2-MOJHkLySVV-GavQMGqZzNS8yiV76E2um-aX7Ybb-H7wnQn2ytXz8r1qJ5MIrz5JtL6b5g7lJWkfqms53wGHw49T_dQFmZJW-eJCSY81Wbx0_RVKrHi7GgsBf9E8swO37LgA3ull2exeVWthsnVVD2w5TmqSsoJmZAEAAIAAAAAfYLrR-1rYxNiwM0UoDbtS2cvlVeqgbO9YZ0mDtMYXf3KFFBGmSOFfZ6cjadT17-7-nbGrf-7RerIRI7iRMnYbxbAJQgLJ-1ciEFLXYztxAD091hAInLhlodZ5o67gaS9bx0eQUWZhEYguQ42kHivEfEVcOwKeMqfna3vLPk9EyrRXy9NbWVGX2UYG_ROwVw8wjpPiwVv2mN0_cGWnKWdCe76NQM2Bvr6cIvOpdHuPsci3uGZQPujRX7ZfqPNkGOCu_jsS7DpkeOHwpuZeeUkms8Q-CO7I75C3a7ZOlogl5ZpvF1cfnccuR3z5vhBRoHSVq8WaSpBkX_0TkSGW4ti6a6RQsqDtKYt8_Kdgk9rB1oCQu1TRpWPI1nmcwcstNX_a3ThYzMsWl-0uJT4knpL3zxTqk7MFZwwFrJogeCn140UIwbPaX2FD92r4TycsLQH1xQwlfPv1m0SAuXvS6GjA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Dataserviceversion:
      - 2.0;
    body:
      encoding: UTF-8
      string: "{\r\n\"d\" : {\r\n\"results\": [\r\n{\r\n\"__metadata\": {\r\n\"uri\":
        \"https://start.exactonline.fr/api/v1/current/Me(guid'05bee804-0253-4ecc-a637-e2d6b9ce0aa9')\",
        \"type\": \"Exact.Web.Api.System.Me\"\r\n}, \"CurrentDivision\": 65941\r\n}\r\n]\r\n}\r\n}"
  recorded_at: Tue, 18 Dec 2018 12:23:58 GMT
- request:
    method: get
    uri: https://start.exactonline.fr/api/v1/65941/financial/Journals?$inlinecount=allpages&$orderby=Code&$select=Code,Description,Type&$skip=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer gAAAAG6CitnBAyu2-MOJHkLySVV-GavQMGqZzNS8yiV76E2um-aX7Ybb-H7wnQn2ytXz8r1qJ5MIrz5JtL6b5g7lJWkfqms53wGHw49T_dQFmZJW-eJCSY81Wbx0_RVKrHi7GgsBf9E8swO37LgA3ull2exeVWthsnVVD2w5TmqSsoJmZAEAAIAAAAAfYLrR-1rYxNiwM0UoDbtS2cvlVeqgbO9YZ0mDtMYXf3KFFBGmSOFfZ6cjadT17-7-nbGrf-7RerIRI7iRMnYbxbAJQgLJ-1ciEFLXYztxAD091hAInLhlodZ5o67gaS9bx0eQUWZhEYguQ42kHivEfEVcOwKeMqfna3vLPk9EyrRXy9NbWVGX2UYG_ROwVw8wjpPiwVv2mN0_cGWnKWdCe76NQM2Bvr6cIvOpdHuPsci3uGZQPujRX7ZfqPNkGOCu_jsS7DpkeOHwpuZeeUkms8Q-CO7I75C3a7ZOlogl5ZpvF1cfnccuR3z5vhBRoHSVq8WaSpBkX_0TkSGW4ti6a6RQsqDtKYt8_Kdgk9rB1oCQu1TRpWPI1nmcwcstNX_a3ThYzMsWl-0uJT4knpL3zxTqk7MFZwwFrJogeCn140UIwbPaX2FD92r4TycsLQH1xQwlfPv1m0SAuXvS6GjA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Dataserviceversion:
      - 2.0;
    body:
      encoding: UTF-8
      string: "{\r\n\"d\" : {\r\n\"results\": [\r\n{\r\n\"__metadata\": {\r\n\"uri\":
        \"https://start.exactonline.fr/api/v1/65941/financial/Journals(guid'6357ecbb-1c6a-4bc0-873c-3fe10dff81f2')\",
        \"type\": \"Exact.Web.Api.Models.Journal\"\r\n}, \"Code\": \"30\", \"Description\":
        \"Caisse\", \"Type\": 10\r\n}, {\r\n\"__metadata\": {\r\n\"uri\": \"https://start.exactonline.fr/api/v1/65941/financial/Journals(guid'3c87a438-833f-4bde-9fc7-2a622ea4395f')\",
        \"type\": \"Exact.Web.Api.Models.Journal\"\r\n}, \"Code\": \"50\", \"Description\":
        \"Banque\", \"Type\": 12\r\n}, {\r\n\"__metadata\": {\r\n\"uri\": \"https://start.exactonline.fr/api/v1/65941/financial/Journals(guid'805ae943-78e1-4fdc-bb27-25e592c5ad2c')\",
        \"type\": \"Exact.Web.Api.Models.Journal\"\r\n}, \"Code\": \"[...]
- request:
    method: get
    uri: https://start.exactonline.fr/api/v1/65941/crm/Accounts?$inlinecount=allpages&$orderby=Code&$skip=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer gAAAAG6CitnBAyu2-MOJHkLySVV-GavQMGqZzNS8yiV76E2um-aX7Ybb-H7wnQn2ytXz8r1qJ5MIrz5JtL6b5g7lJWkfqms53wGHw49T_dQFmZJW-eJCSY81Wbx0_RVKrHi7GgsBf9E8swO37LgA3ull2exeVWthsnVVD2w5TmqSsoJmZAEAAIAAAAAfYLrR-1rYxNiwM0UoDbtS2cvlVeqgbO9YZ0mDtMYXf3KFFBGmSOFfZ6cjadT17-7-nbGrf-7RerIRI7iRMnYbxbAJQgLJ-1ciEFLXYztxAD091hAInLhlodZ5o67gaS9bx0eQUWZhEYguQ42kHivEfEVcOwKeMqfna3vLPk9EyrRXy9NbWVGX2UYG_ROwVw8wjpPiwVv2mN0_cGWnKWdCe76NQM2Bvr6cIvOpdHuPsci3uGZQPujRX7ZfqPNkGOCu_jsS7DpkeOHwpuZeeUkms8Q-CO7I75C3a7ZOlogl5ZpvF1cfnccuR3z5vhBRoHSVq8WaSpBkX_0TkSGW4ti6a6RQsqDtKYt8_Kdgk9rB1oCQu1TRpWPI1nmcwcstNX_a3ThYzMsWl-0uJT4knpL3zxTqk7MFZwwFrJogeCn140UIwbPaX2FD92r4TycsLQH1xQwlfPv1m0SAuXvS6GjA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Dataserviceversion:
      - 2.0;
    body:
      encoding: UTF-8
      string: "{\r\n\"d\" : {\r\n\"results\": [\r\n{\r\n\"__metadata\": {\r\n\"uri\":
        \"https://start.exactonline.fr/api/v1/65941/crm/Accounts(guid'310c55f7-3418-4925-a642-3109d95f5b5f')\",
        \"type\": \"Exact.Web.Api.Models.Account\"\r\n}, \"Accountant\": null, \"AccountManager\":
        null, \"AccountManagerFullName\": null, \"AccountManagerHID\": null, \"ActivitySector\":
        null, \"ActivitySubSector\": null, \"AddressLine1\": null, \"AddressLine2\":
        null, \"AddressLine3\": null, \"BankAccounts\": {\r\n\"__deferred\": {\r\n\"uri\":
        \"https://start.exactonline.fr/api/v1/65941/crm/Accounts(guid'310c55f7-3418-4925-a642-3109d95f5b5f')/BankAccounts\"\r\n}\r\n},
        \"Blocked\": false, \"BRIN\": null, \"BusinessType\": null, \"CanDropShip\":
        false, \"ChamberOfCommerce\": null, \"City\": null, \"Classification\": null,
        \"Classification1\": null, \"Classification2\": null, \"Classification3\":
        null, \"Classification4\": null, \"Classification5\": null, \"Classification6\":
        null, \"Classification7\": null, \"Classification8\": null, \"ClassificationDescription\":
        null, \"Code\": \"           0000000\", \"CodeAtSupplier\": null, \"CompanySize\":
        null, \"ConsolidationScenario\": 6, \"ControlledDate\": null, \"Costcenter\":
        null, \"CostcenterDescription\": null, \"CostPaid\": 0, \"Country\": \"FR
        \", \"CountryName\": \"France\", \"Created\": \"\\/Date(1537503584600)\\/\",
        \"Creator\": \"40231903-9676-4723-bde9-54c274a614c2\", \"CreatorFullName\":
        null, \"CreditLinePurchase\": 0, \"CreditLineSales\": 0, \"Currency\": null,
        \"CustomerSince\": \"\\/Date(1537488000000)\\/\", \"DatevCreditorCode\": null,
        \"DatevDebtorCode\": null, \"DiscountPurchase\": 0, \"DiscountSales\": 0,
        \"Division\": 65941, \"Document\": null, \"DunsNumber\": null, \"Email\":
        null, \"EndDate\": null, \"EstablishedDate\": null, \"Fax\": null, \"GLAccountPurchase\":
        null, \"GLAccountSales\": null, \"GLAP\": \"54d3c73a-3aa4-47e9-8437-26835f5b8a6f\",
        \"GLAR\": \"42d6f1e8-d31a-4586-9655-e5ddd41f3dba\", \"GlnNumber\": \"\", \"HasWithholdingTaxSales\":
        false, \"ID\": \"310c55f7-3418-4925-a642-3109d95f5b5f\", \"IgnoreDatevWarningMessage\":
        false, \"IntraStatArea\": null, \"IntraStatDeliveryTerm\": null, \"IntraStatSystem\":
        null, \"IntraStatTransactionA\": null, \"IntraStatTransactionB\": null, \"IntraStatTransportMethod\":
        null, \"InvoiceAccount\": null, \"InvoiceAccountCode\": null, \"InvoiceAccountName\":
        null, \"InvoiceAttachmentType\": 1, \"InvoicingMethod\": 0, \"IsAccountant\":
        0, \"IsAgency\": 0, \"IsAnonymised\": 0, \"IsBank\": false, \"IsCompetitor\":
        0, \"IsExtraDuty\": null, \"IsMailing\": 0, \"IsMember\": false, \"IsPilot\":
        false, \"IsPurchase\": true, \"IsReseller\": false, \"IsSales\": true, \"IsSupplier\":
        true, \"Language\": null, \"LanguageDescription\": null, \"Latitude\": null,
        \"LeadSource\": null, \"LeadPurpose\": null, \"LogoFileName\": \"tva.png\",
        \"LogoThumbnailUrl\": \"https://start.exactonline.fr/docs/SysImage.aspx?Table=Accounts&ID=310c55f7-3418-4925-a642-3109d95f5b5f&ThumbSize=50&NoCache=1&OptimizeForWeb=1&_Division_=65941\",
        \"LogoUrl\": \"https://start.exactonline.fr/docs/SysImage.aspx?Table=Accounts&ID=310c55f7-3418-4925-a642-3109d95f5b5f&ThumbSize=200&NoCache=1&OptimizeForWeb=1&_Division_=65941\",
        \"Logo\": \"iVBORw0KGgoAAAANSUhEUgAAAYoAAADpCAIAAAC1C+cHAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAC1BSURBVHhe7Z1Pz1zXkd7zFfI98gGEZJFd9kyy9FKhd17RljdeyWY2DqBM5AADwVpI0QwkAjIMSV4QmiGEASERMwg9IISBJA5GkCVbGZs0LFOkOSNI+amrulRd50/fvn3f27e768GDF33Pv1unqs5zz73db/e/+SqRSCQWiZSnRCKxUKQ8JRKJhSLlKZFILBQb8vRv/8P/Siaf/elb9+4/0Jw4LTy69fZvL3/r0//475ILpAbJIeUp+Q1PWJgMXz56+NkrL4WFkVwCNUIOKU/Jr3kOwuTBNiqsjeTBqbFxSHk6dz5x6bn37n6qGXBOSIVaGjUwDilPZ83LV649fPRYw39+ePDGz8MKSR6QGhWHlKfz5ZlrkyCflC+HGhKHl[...]
- request:
    method: get
    uri: https://start.exactonline.fr/api/v1/65941/financial/GLAccounts?$inlinecount=allpages&$orderby=Code&$skip=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer gAAAAG6CitnBAyu2-MOJHkLySVV-GavQMGqZzNS8yiV76E2um-aX7Ybb-H7wnQn2ytXz8r1qJ5MIrz5JtL6b5g7lJWkfqms53wGHw49T_dQFmZJW-eJCSY81Wbx0_RVKrHi7GgsBf9E8swO37LgA3ull2exeVWthsnVVD2w5TmqSsoJmZAEAAIAAAAAfYLrR-1rYxNiwM0UoDbtS2cvlVeqgbO9YZ0mDtMYXf3KFFBGmSOFfZ6cjadT17-7-nbGrf-7RerIRI7iRMnYbxbAJQgLJ-1ciEFLXYztxAD091hAInLhlodZ5o67gaS9bx0eQUWZhEYguQ42kHivEfEVcOwKeMqfna3vLPk9EyrRXy9NbWVGX2UYG_ROwVw8wjpPiwVv2mN0_cGWnKWdCe76NQM2Bvr6cIvOpdHuPsci3uGZQPujRX7ZfqPNkGOCu_jsS7DpkeOHwpuZeeUkms8Q-CO7I75C3a7ZOlogl5ZpvF1cfnccuR3z5vhBRoHSVq8WaSpBkX_0TkSGW4ti6a6RQsqDtKYt8_Kdgk9rB1oCQu1TRpWPI1nmcwcstNX_a3ThYzMsWl-0uJT4knpL3zxTqk7MFZwwFrJogeCn140UIwbPaX2FD92r4TycsLQH1xQwlfPv1m0SAuXvS6GjA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Dataserviceversion:
      - 2.0;
    body:
      encoding: UTF-8
      string: "{\r\n\"d\" : {\r\n\"results\": [\r\n{\r\n\"__metadata\": {\r\n\"uri\":
        \"https://start.exactonline.fr/api/v1/65941/financial/GLAccounts(guid'e51e8dda-f010-44ad-a53e-c5f605c33072')\",
        \"type\": \"Exact.Web.Api.Models.GLAccount\"\r\n}, \"AssimilatedVATBox\":
        null, \"BalanceSide\": \"C\", \"BalanceType\": \"B\", \"BelcotaxType\": null,
        \"Code\": \"101000\", \"Compress\": false, \"Costcenter\": null, \"CostcenterDescription\":
        null, \"Costunit\": null, \"CostunitDescription\": null, \"Created\": \"\\/Date(1537503528653)\\/\",
        \"Creator\": \"40231903-9676-4723-bde9-54c274a614c2\", \"CreatorFullName\":
        null, \"Description\": \"Capital\", \"Division\": 65941, \"ExcludeVATListing\":
        0, \"ExpenseNonDeductiblePercentage\": 0, \"ID\": \"e51e8dda-f010-44ad-a53e-c5f605c33072\",
        \"IsBlocked\": false, \"Matching\": false, \"Modified\": \"\\/Date(1537503528653)\\/\",
        \"Modifier\": \"40231903-9676-4723-bde9-54c274a614c2\", \"ModifierFullName\":
        null, \"PrivateGLAccount\": null, \"PrivatePercentage\": 0, \"ReportingCode\":
        null, \"RevalueCurrency\": false, \"SearchCode\": null, \"Type\": 50, \"TypeDescription\":
        \"Capital stock\", \"UseCostcenter\": 0, \"UseCostunit\": 0, \"VATCode\":
        null, \"VATDescription\": null, \"VATGLAccountType\": null, \"VATNonDeductibleGLAccount\":
        null, \"VATNonDeductiblePercentage\": 0, \"VATSystem\": \"I\", \"YearEndCostGLAccount\":
        null, \"YearEndReflectionGLAccount\": null\r\n}, {\r\n\"__metadata\": {\r\n\"uri\":
        \"https://start.exactonline.fr/api/v1/65941/financial/GLAccounts(guid'512fffe2-7608-4f5c-a92a-75378ef84e4b')\",
        \"type\": \"Exact.Web.Api.Models.GLAccount\"\r\n}, \"AssimilatedVATBox\":
        null, \"BalanceSide\": \"C\", \"BalanceType\": \"B\", \"BelcotaxType\": null,
        \"Code\": \"102000\", \"Compress\": false, \"Costcenter\": null, \"CostcenterDescription\":
        null, \"Costunit\": null, \"CostunitDescription\": null, [...]
[...]
- request:
    method: post
    uri: https://config.bearer.sh/config
    body:
      encoding: UTF-8
      string: '{"runtime":{"type":"x86_64-linux","arch":"x86_64","platform":"linux","version":"2.6.5","hostname":"devpc"},"agent":{"type":"ruby","version":"3.1.0"},"application":{"environment":"dGVzdA=="}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - app_63d2b0332c5550a40a549b82a5c6ca358be62b1aaa4668df38
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Protected-By:
      - Sqreen
      Bearer-Correlation-Id:
      - 1-5ebe78d6-c319c7e832153218a397ef40
      Bearer-Internal-Correlation-Id:
      - 1-5ebe78d6-c319c7e832153218a397ef40
      Bearer-Request-Id:
      - 1-5ebe78d6-c319c7e832153218a397ef40
      Etag:
      - W/"2451-CEFh+sfzlb1xYFw6Jtrx5bWdt70"
    body:
      encoding: UTF-8
      string: '{"blockRules":[],"blockedDomains":[],"dataCollectionRules":[{"filterHash":"CqdGN+UBD5FCuGYp0qsZCvHXmAg=","params":{"typeName":"ErrorRule"},"signature":"TODO"},{"config":{"active":false,"logLevel":"ALL"},"filterHash":"4jr1jwt/zo95s4RnwiPJEG/eRiw=","params":{"buid":"8514381c5585cc98a9cc20946567e17f","typeName":"ApiRule"},"signature":"TODO"},{"config":{"active":false,"logLevel":"ALL"},"filterHash":"o734h25BpWujWR+mWeFg2U/vNpU=","params":{"buid":"46e585a1f3c0e1de104b3b82539c5eda","typeName":"ApiRule"},"signature":"TODO"},{"config":{"active":false,"logLevel":"ALL"},"filterHash":"S7+KJY3Useqax6kF2UMUyCwce2A=","params":{"buid":"80c7ebc006ecaf529321a38e0415a1f6","typeName":"ApiRule"},"signature":"TODO"},{"config":{"active":false,"logLevel":"ALL"},"filterHash":"e[...]
[...]
- request:
    method: post
    uri: https://config.bearer.sh/config
    body:
      encoding: UTF-8
      string: '{"runtime":{"type":"x86_64-linux","arch":"x86_64","platform":"linux","version":"2.6.5","hostname":"infodrm"},"agent":{"type":"ruby","version":"3.1.0"},"application":{"environment":"dGVzdA=="}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - app_63d2b0332c5550a40a549b82a5c6ca358be62b1aaa4668df38
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Protected-By:
      - Sqreen
      Bearer-Correlation-Id:
      - 1-5fa26720-7f7c3b5a273c5cab6b289c08
      Bearer-Internal-Correlation-Id:
      - 1-5fa26720-7f7c3b5a273c5cab6b289c08
      Bearer-Request-Id:
      - 1-5fa26720-7f7c3b5a273c5cab6b289c08
      Etag:
      - W/"69ab-cqOG0B5CDGJ9KyJxooJCTHhxoss"
    body:
      encoding: UTF-8
      string: '{"dataCollectionRules":[{"config":{"active":true,"logLevel":"ALL","sanitizeKeyPattern":{"flags":"i","value":"^authorization$|^password$|^secret$|^passwd$|^api\\.?key$|^access\\.?token$|^auth\\.?token$|^credentials$|^mysql_pwd$|^stripetoken$|^card\\.?number\\.?$|^secret$|^client\\.?id$|^client\\.?secret$"}},"params":{"typeName":"EnvironmentSettings"},"signature":"TODO"},{"filterHash":"+Ak4Jhh+kF94DOfrrfuve6YYxRw=","params":{"typeName":"ErrorRule"},"signature":"TODO"},{"filterHash":"Kr/yIxP0BYsV5DD331mOuxO81E0=","params":{"genericRuleId":81892,"typeName":"LogRule"},"signature":"TODO"},{"filterHash":"k91tL837v0DSa0GVDuItN9G2+aE=","params":{"genericRuleId":81891,"typeName":"LogRule"},"signature":"TODO"},{"filterHash":"4UaglI+vuq48jQIdYkss2xl68b8=","params":{"genericRuleId":81890,"typeName":"LogRule"},"signature":"TODO"},{"filterHash":"g2yQRdcfj7wrKRObF/wtpr/9j6E=","params":{"genericRuleId":81889,"typeName":"LogRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationErrorKey":"hWO0s7r2wWRmq7I57O0xL9C1c6U=","aggregationKey":null,"hasErrorTrigger":true,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationKey":null,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationErrorKey":"hWO0s7r2wWRmq7I57O0xL9C1c6U=","aggregationKey":null,"hasErrorTrigger":true,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationKey":null,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":"+t/TYUaxrd0C98WtzN5lH8xh1wk=","params":{"genericRul[...]
