---
http_interactions:
- request:
    method: post
    uri: https://config.bearer.sh/config
    body:
      encoding: UTF-8
      string: '{"runtime":{"type":"x86_64-linux","arch":"x86_64","platform":"linux","version":"2.6.5","hostname":"devpc"},"agent":{"type":"ruby","version":"3.1.0"},"application":{"environment":"dGVzdA=="}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - app_63d2b0332c5550a40a549b82a5c6ca358be62b1aaa4668df38
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Protected-By:
      - Sqreen
      Bearer-Correlation-Id:
      - 1-5ebe85d1-e96f2c18efa921b85000c778
      Bearer-Internal-Correlation-Id:
      - 1-5ebe85d1-e96f2c18efa921b85000c778
      Bearer-Request-Id:
      - 1-5ebe85d1-e96f2c18efa921b85000c778
      Etag:
      - W/"2451-EC1cAe8nwVfftPbLxDyf6pAnh6s"
    body:
      encoding: UTF-8
      string: '{"blockRules":[],"blockedDomains":[],"dataCollectionRules":[{"filterHash":"CqdGN+UBD5FCuGYp0qsZCvHXmAg=","params":{"typeName":"ErrorRule"},"signature":"TODO"},{"config":{"active":false,"logLevel":"ALL"},"filterHash":"4jr1jwt/zo95s4RnwiPJEG/eRiw=","params":{"buid":"8514381c5585cc98a9cc20946567e17f","typeName":"ApiRule"},"signature":"TODO"},{"config":{"active":false,"logLevel":"ALL"},"filterHash":"o734h25BpWujWR+mWeFg2U/vNpU=","params":{"buid":"46e585a1f3c0e1de104b3b82539c5eda","typeName":"ApiRule"},"signature":"TODO"},{"config":{"active":false,"logLevel":"ALL"},"filterHash":"S7+KJY3Useqax6kF2UMUyCwce2A=","params":{"buid":"80c7ebc006ecaf529321a38e0415a1f6","typeName":"ApiRule"},"signature":"TODO"},{"config":{"active":false,"logLevel":"ALL"},"filterHash":"e[...]
[...]
- request:
    method: post
    uri: https://beta.irf-cloud.com/IRFService/services/IRFService.svc/company/%7B595450CA-6F48-4E88-91F0-C225A95F5F16%7D/entries
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <importEntryRequest>
          <importDate>2018-12-31</importDate>
          <wsImportEntry>
            <importEntry>
              <journalRef>NotFound</journalRef>
              <date>2018-12-18</date>
              <piece>AC0003 AC 201812 001</piece>
              <voucherRef>12345</voucherRef>
              <voucherID>https://my.idocus.com/account/documents/pieces/2/download/original?token=6xvr9aercw7049q4excpdpjslqreqhx7c3uvskf80wlpmmxn16</voucherID>
              <accountNumber>601109</accountNumber>
              <accountName>601109</accountName>
              <description>2018-12-18 - 500.25 - NotFound - AC0003 AC 201812 001</description>
              <debit>1213.48</debit>
            </importEntry>
            <importEntry>
              <journalRef>NotFound</journalRef>
              <date>2018-12-18</date>
              <piece>AC0003 AC 201812 001</piece>
              <voucherRef>12345</voucherRef>
              <voucherID>https://my.idocus.com/account/documents/pieces/2/download/original?token=6xvr9aercw7049q4excpdpjslqreqhx7c3uvskf80wlpmmxn16</voucherID>
              <accountNumber>471000</accountNumber>
              <accountName>471000</accountName>
              <description>2018-12-18 - 500.25 - NotFound - AC0003 AC 201812 001</description>
              <credit>1011.23</credit>
              <importAnalyticalEntries>
                <importAnalyticalEntry>
                  <analysis>CASH</analysis>
                  <axis1>AACE</axis1>
                  <axis2>ABCD</axis2>
                  <axis3/>
                  <credit>1011.23</credit>
                </importAnalyticalEntry>
                <importAnalyticalEntry>
                  <analysis>SAISON</analysis>
                  <axis1>AH11</axis1>
                  <axis2/>
                  <axis3/>
                  <credit>505.615</credit>
                </importAnalyticalEntry>
                <importAnalyticalEntry>
                  <analysis>SAISON</analysis>
                  <axis1>PE0[...]
