---
http_interactions:
- request:
    method: post
    uri: https://beta.irf-cloud.com/IRFService/services/IRFService.svc/company/%7B595450CA-6F48-4E88-91F0-C225A95F5F16%7D/entries
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <importEntryRequest>
          <importDate>2018-12-31</importDate>
          <wsImportEntry>
            <importEntry>
              <journalRef>NotFound</journalRef>
              <date>2018-12-18</date>
              <piece>AC0003 AC 201812 001</piece>
              <voucherRef>12345</voucherRef>
              <voucherID>https://my.idocus.com/account/documents/pieces/2/download/original?token=mmcxnqnjhthh8o3henenduy7djzq6oagfax9cwrpp9x86imfn8</voucherID>
              <accountNumber>601109</accountNumber>
              <accountName>601109</accountName>
              <description>2018-12-18 - 500.25 - NotFound - AC0003 AC 201812 001</description>
              <debit>1213.48</debit>
            </importEntry>
            <importEntry>
              <journalRef>NotFound</journalRef>
              <date>2018-12-18</date>
              <piece>AC0003 AC 201812 001</piece>
              <voucherRef>12345</voucherRef>
              <voucherID>https://my.idocus.com/account/documents/pieces/2/download/original?token=mmcxnqnjhthh8o3henenduy7djzq6oagfax9cwrpp9x86imfn8</voucherID>
              <accountNumber>471000</accountNumber>
              <accountName>471000</accountName>
              <description>2018-12-18 - 500.25 - NotFound - AC0003 AC 201812 001</description>
              <credit>1011.23</credit>
              <importAnalyticalEntries>
                <importAnalyticalEntry>
                  <analysis>CASH</analysis>
                  <axis1>AACE</axis1>
                  <axis2>ABCD</axis2>
                  <axis3/>
                  <credit>1011.23</credit>
                </importAnalyticalEntry>
                <importAnalyticalEntry>
                  <analysis>SAISON</analysis>
                  <axis1>AH11</axis1>
                  <axis2/>
                  <axis3/>
                  <credit>505.615</credit>
                </importAnalyticalEntry>
                <importAnalyticalEntry>
                  <analysis>SAISON</analysis>
                  <axis1>PE09</axis1>
                  <axis2/>
                  <axis3/>
                  <credit>505.615</credit>
                </importAnalyticalEntry>
              </importAnalyticalEntries>
            </importEntry>
            <importEntry>
              <journalRef>NotFound</journalRef>
              <date>2018-12-18</date>
              <piece>AC0003 AC 201812 001</piece>
              <voucherRef>12345</voucherRef>
              <voucherID>https://my.idocus.com/account/documents/pieces/2/download/original?token=mmcxnqnjhthh8o3henenduy7djzq6oagfax9cwrpp9x86imfn8</voucherID>
              <accountNumber>471001</accountNumber>
              <accountName>471001</accountName>
              <description>2018-12-18 - 500.25 - NotFound - AC0003 AC 201812 001</description>
              <credit>202.25</credit>
            </importEntry>
          </wsImportEntry>
        </importEntryRequest>
    headers:
      Content-Type:
      - application/xml
      Irftoken:
      - hdr5PCKduafvngDBuJAQfuH/koQhDQW4dmtd8TAXQxLv90s54WaBodvxotKNQ6OUjuB7btv9dKOhlf3ye3H5s5iC0KI/Mz2WlGf7uTJ3yCUAkH834DtgNpCP5Ge6OOv5MnWa7/yIzrYa0JwjQUAmGO19mX1Y6UArkmqUgPHsqMFepjdjMoVP3j/88mDUW515nmuUru8Mwcc3lqVcFBiRmm+iafRVHXuumc3o5YTPxbLoYt3UBJbhicAIfyQi6CZ0Ujc2UooOySb0pSShHdiKuQPg01ICYTCGyJMORO4/G5wbT+9CFRdCOs7xhgUM+i/j+SiZ9JTN57E5MngL6aztY5gOYWyuFIewM3EITmkY8A1A4EMslP0STrVzFyiGWCtTKJh1m5OcmpHoD5M1/LdXTMYqbMDV4jME+5CKj5ayrMcOCZMKHOyz83CEq9nkdnqVY0ffiyxv7fD7BR1BCc4b9j55bXetAIsUTZDJMkiUErQ=
      Partnerid:
      - "{BE62697A-C2EE-4757-9A86-747A656FF0D7}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <WCFRestIRFEntriesResult xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><response><result>Error</result><message><error><category>Mouvement
        comptable</category><state>4</state><message>Le journal NotFound est inconnu</message><reference>NotFound
        - 05/12/2018</reference></error></message><datetime>2018-12-05T15:08:04.7571465+01:00</datetime><duration>00:00:08.188</duration></response></WCFRestIRFEntriesResult>
  recorded_at: Tue, 18 Dec 2018 21:00:00 GMT
recorded_with: VCR 5.0.0
