---
http_interactions:
- request:
    method: post
    uri: https://api.myunisoft.fr/api/v1/entry/temp
    body:
      encoding: UTF-8
      string: '{"pj_list": [{"name": "AC0003 AC 202011 001", "type": "application/pdf",
        "content": "JVBERi0xLjQKJeLjz9MKMSAwIG9iaiAKPDwKL0Zvcm1UeXBlIDEKL1N1YnR5\ncGUgL0Zvcm0KL1Jlc291cmNlcyAKPDwKL0ZvbnQgCjw8Ci9GMS4wIDIgMCBS\nCj4+Ci9Qcm9jU2V0IFsvUERGIC9UZXh0IC9JbWFnZUIgL0ltYWdlQyAvSW1h\nZ2VJXQo+PgovVHlwZSAvWE9iamVj=="}],
        "entry_list": [{"credit":0.0,"debit":1213.48,"piece2":"2","deadline":"","payment_type_id":-1,"account_id":585,"label":"CAPITAL
        NON APPELE"}, {"credit":1213.48,"debit":0.0,"piece2":"2","deadline":"","payment_type_id":-1,"account_id":5866,"label":"CAPITAL
        NON APPELE 2"}], "date_piece": "2020-11-24", "period_to": "2020-11-24", "period_from":
        "2020-11-24", "diary_id": "36", "etablissement_id": "3" }'
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0eXBlIjoiYXBpIiwibSI6ODAsInQiOjEwLCJzIjoyLCJpYXQiOjE2MTY3NTYwODR9.ri53LQdMb3FEiS3PDzXPEh1QOzWOYOhJaryjjOezjOo
      X-Third-Party-Secret:
      - idocus-s7mvtqFRXNhXspJv4skMvnTq
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Correlation-Id:
      - cec5690d-d182-4a3a-9b68-d9451cac2e6f
      X-Rate-Limit-Remaining:
      - '999'
      X-Rate-Limit-Reset:
      - '1616771093.334861'
      X-Rate-Limit-Total:
      - '1000'
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n\t\"code\":\"COMPTE5\",\r\n\t\"message\":\"Le compte n'appartient
        pas \\u00e0 la soci\\u00e9t\\u00e9.\",\r\n\t\"details\":\"Code erreur : 0\\r\\nNiveau
        : pas d'erreur\\r\\n\"\r\n}"
  recorded_at: Mon, 23 Nov 2020 21:00:00 GMT
recorded_with: VCR 5.1.0
