---
http_interactions:
- request:
    method: get
    uri: https://app.myunisoft.fr/api/v1/diary?society-id=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0eXBlIjoiYXBpIiwibSI6ODAsInQiOjEwLCJzIjoyLCJpYXQiOjE2MDUwOTc3OTV9.tW6T3XEU6UG8NjUb_ewRhWtoAXliBal8rSNZAfMszLw
      X-Third-Party-Secret:
      - idocus-s7mvtqFRXNhXspJv4skMvnTq
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Correlation-Id:
      - ca54f71c-3125-463b-aa5b-fcec581a9b5b
      X-Rate-Limit-Remaining:
      - '999'
      X-Rate-Limit-Reset:
      - '1606221150.727993'
      X-Rate-Limit-Total:
      - '1000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"code": "01", "name": "JOURNAL D''ACHATS", "account": null, "blocked":
        true, "diary_id": 19, "diary_type_id": 1, "diary_type_code": "ACH", "diary_type_name":
        "Achat"}, {"code": "02", "name": "JOURNAL DE VENTES", "account": null, "blocked":
        false, "diary_id": 20, "diary_type_id": 2, "diary_type_code": "VTE", "diary_type_name":
        "Vente"}, {"code": "03", "name": "JOUNAL D''ACHATS BIS", "account": null,
        "blocked": false, "diary_id": 21, "diary_type_id": 1, "diary_type_code": "ACH",
        "diary_type_name": "Achat"}, {"code": "09", "name": "JOUNAL NDF", "account":
        null, "blocked": false, "diary_id": 22, "diary_type_id": 13, "diary_type_code":
        "NDF", "diary_type_name": "Note de frais"}, {"code": "15", "name": "JOURNAL
        BANQUE", "account": {"id": 775, "label": "BANQUES", "number": "512000"}, "blocked":
        false, "diary_id": 23, "diary_type_id": 3, "diary_type_code": "BQ", "diary_type_name":
        "Banque"}, {"code": "18", "name": "JOURNAL DE CAISSE", "account": null, "blocked":
        false, "diary_id": 24, "diary_type_id": 4, "diary_type_code": "CAISSE", "diary_type_name":
        "Caisse"}, {"code": "20", "name": "JOURNAL D'' OD", "account": null, "blocked":
        false, "diary_id": 25, "diary_type_id": 5, "diary_type_code": "OD", "diary_type_name":
        "[...]
- request:
    method: post
    uri: https://agent.bearer.sh/logs
    body:
      encoding: UTF-8
      string: '{"secretKey":"app_63d2b0332c5550a40a549b82a5c6ca358be62b1aaa4668df38","appEnvironment":"dGVzdA==","runtime":{"type":"x86_64-linux","arch":"x86_64","platform":"linux","version":"2.6.5","hostname":"Batimax88"},"agent":{"type":"ruby","version":"3.1.0","log_level":"DETECTED"},"logs":[{"type":"REQUEST_END","startedAt":1606165200000,"endedAt":1606165200000,"activeRules":[],"activeDataCollectionRules":[{"params":{"typeName":"EnvironmentSettings"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationErrorKey":"hWO0s7r2wWRmq7I57O0xL9C1c6U=","aggregationKey":null,"hasErrorTrigger":true,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationKey":null,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationErrorKey":"hWO0s7r2wWRmq7I57O0xL9C1c6U=","aggregationKey":null,"hasErrorTrigger":true,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationKey":null,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":"sqM4SJXvwi/YIUJgbWs8AEeEgL4=","params":{"buid":"8e56e3bc46a4b923036d8e55d7ce5875","typeName":"ApiRule"},"signature":"TODO"}],"instrumentation":{"requestBenchmark":0.0,"responseContentLength":2971,"processingBeforeThreadBenchmark":-1.0,"adapterBenchmark":0.002609713999845553},"stageType":"BodiesStage","logLevel":"ALL","protocol":"https","hostname":"app.myunisoft.fr","port":443,"requestHeaders":{"authorization":"[FILTERED]","x-third-party-secret":"idocus-s7mvtqFRXNhXspJv4skMvnTq","content-type":"application/octet-stream","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","accept":"*/*","user-agent":"Ruby","host":"app.myunisoft.fr"},"method":"GET","path":"/api/v1/diary","url":"https://app.myunisoft.fr/api/v1/diary?society-id=3","responseHeaders":{"vary":"Origin","x-correlation-id":"ca54f71c-3125-463b-aa5b-fcec581a9b5b","x-rate-limit-remaining":"999","x-rate-limit-reset":"1606221150.727993","x-rate-limit-total":"1000","content-type":"application/json;
        charset=utf-8","content-length":"2971","date":"Tue, 24 Nov 2020 12:32:01 GMT"},"statusCode":200,"requestBody":"(no
        body)","responseBody":"[{\"code\":\"01\",\"name\":\"JOURNAL D''ACHATS\",\"account\":null,\"blocked\":true,\"diary_id\":19,\"diary_type_id\":1,\"diary_type_code\":\"ACH\",\"diary_type_name\":\"Achat\"},{\"code\":\"02\",\"name\":\"JOURNAL
        DE VENTES\",\"account\":null,\"blocked\":false,\"diary_id\":20,\"diary_type_id\":2,\"diary_type_code\":\"VTE\",\"diary_type_name\":\"Vente\"},{\"code\":\"03\",\"name\":\"JOUNAL
        D''ACHATS BIS\",\"account\":null,\"blocked\":false,\"diary_id\":21,\"diary_type_id\":1,\"dia[...]
- request:
    method: post
    uri: https://config.bearer.sh/config
    body:
      encoding: UTF-8
      string: '{"runtime":{"type":"x86_64-linux","arch":"x86_64","platform":"linux","version":"2.6.5","hostname":"Batimax88"},"agent":{"type":"ruby","version":"3.1.0"},"application":{"environment":"dGVzdA=="}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - app_63d2b0332c5550a40a549b82a5c6ca358be62b1aaa4668df38
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Protected-By:
      - Sqreen
      Bearer-Correlation-Id:
      - 1-5fbcfd44-0d5d896d64a8f0ee18e7a6c9
      Bearer-Internal-Correlation-Id:
      - 1-5fbcfd44-0d5d896d64a8f0ee18e7a6c9
      Bearer-Request-Id:
      - 1-5fbcfd44-0d5d896d64a8f0ee18e7a6c9
      Etag:
      - W/"6e0c-24PzIuGt8FfNsqZ5bqXmKXYK7mo"
    body:
      encoding: UTF-8
      string: '{"dataCollectionRules":[{"config":{"active":true,"logLevel":"ALL","sanitizeKeyPattern":{"flags":"i","value":"^authorization$|^password$|^secret$|^passwd$|^api\\.?key$|^access\\.?token$|^auth\\.?token$|^credentials$|^mysql_pwd$|^stripetoken$|^card\\.?number\\.?$|^secret$|^client\\.?id$|^client\\.?secret$"}},"params":{"typeName":"EnvironmentSettings"},"signature":"TODO"},{"filterHash":"9aoZsCrSYLWy/wv+TcUXpBZt0HM=","params":{"typeName":"ErrorRule"},"signature":"TODO"},{"filterHash":"Kr/yIxP0BYsV5DD331mOuxO81E0=","params":{"genericRuleId":81892,"typeName":"LogRule"},"signature":"TODO"},{"filterHash":"k91tL837v0DSa0GVDuItN9G2+aE=","params":{"genericRuleId":81891,"typeName":"LogRule"},"signature":"TODO"},{"filterHash":"4UaglI+vuq48jQIdYkss2xl68b8=","params":{"genericRuleId":81890,"typeName":"LogRule"},"signature":"TODO"},{"filterHash":"g2yQRdcfj7wrKRObF/wtpr/9j6E=","params":{"genericRuleId":81889,"typeName":"LogRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationErrorKey":"hWO0s7r2wWRmq7I57O0xL9C1c6U=","aggregationK[...]
- request:
    method: get
    uri: https://app.myunisoft.fr/api/v1/account?mode=2&society_id=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0eXBlIjoiYXBpIiwibSI6ODAsInQiOjEwLCJzIjoyLCJpYXQiOjE2MDUwOTc3OTV9.tW6T3XEU6UG8NjUb_ewRhWtoAXliBal8rSNZAfMszLw
      X-Third-Party-Secret:
      - idocus-s7mvtqFRXNhXspJv4skMvnTq
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Correlation-Id:
      - 3ac3f8a1-fd24-4bff-ad61-2d0b7773c420
      X-Rate-Limit-Remaining:
      - '9'
      X-Rate-Limit-Reset:
      - '1606221122.974798'
      X-Rate-Limit-Total:
      - '10'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "rows_number":1846, "pages_number":1, "account_array":[ { "row_number":17,
        "account_id":1057, "account_number":"101000", "label":"CAPITAL", "solde":1500,
        "sens":"C", "comment":"", "intraco":false, "btp_autoliquidation":false, "presta":false,
        "exoneration":false, "das_2":false, "blocked":true, "vat_param":null, "counterpart_account":null,
        "complementary_informations":null }, { "row_number":1571, "account_id":2611,
        "account_number":"101100", "label":"CAPITAL NON APPELE", "solde":0, "sens":"",
        "comment":"", "intraco":false, "btp_autoliquidation":false, "presta":false,
        "exoneration":false, "das_2":false, "blocked":false, "vat_param":null, "counterpart_account":null,
        "complementary_informations":null }, { "row_number":1572, "account_id":2612,
        "account_number":"101200", "label":"CAPITAL APPELE NON VERSE", "solde":0,
       [...]
[...]
