.document_tags{
  position:relative;
  bottom:132px;
  background:black;
  color:white;
  display:none;
}
ul li.list{
  width:auto;
  height:auto;
}
.margin01top{
  margin-top:1px;
}
.margin07top{
  margin-top:07px;
}
.margin05top{
  margin-top:5px;
}
.margin015top{
  margin-top:15px;
}
.aligncenter{
  text-align:center; }
.aligncenter .paginate{
  display: inline-block; }
a span.visibility, a span{
  font-size:12px;
}
.pagesbrowser .titlebar{
  background-image:url(../../images/application/bg_action_bar.png);
  border-top:1px rgb(177,177,177) outset;
  //border-bottom:1px rgb(177,177,177) outset;
  height:32px;
}
.visibility{
  text-align:center;
  font-size:32px;
}
li.document.page .foot span{
  background-color: #3e2f24;
}
li.document.page.selected .foot span{
  color: white;
}
li.document.paid .foot span, .order-paid {
  background-color:rgb(144,144,144);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  color:black;
}
li.document.scanned .foot span, .order-scanned{
  background-color:rgb(255,255,183);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  color:black;
}
li.document.sharing .foot span, .order-sharing{
  background-color:rgb(255,175,96);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  color:black;
}
li.document.shared .foot span, .order-shared{
  background-color:rgb(79,129,244);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  color:black;
}

/* simple css-based tooltip */
.tooltip {
  background-color:#000;
  border:1px solid #fff;
  padding:10px 15px;
  display:none;
  color:#fff;
  text-align:left;
  font-size:12px;
  z-index:99;

  -moz-box-shadow:0 0 10px #000;
  -webkit-box-shadow:0 0 10px #000;
}
.tooltip.content {
  background-color:#d2c295;
  border:1px solid #fff;
  width:380px;
  height:84px;
  padding:10px 15px;
  display:none;
  color:#584528;
  text-align:left;
  font-size:12px;
  position:absolute;
  z-index:100;

  -moz-box-shadow:0 0 10px #000;
  -webkit-box-shadow:0 0 10px #000;
}

.growl-info{
  display:none;
}

.filter-result{
  font-weight:normal;
}

.order-paid{
  padding:4px;
}
.order-scanned{
  padding:4px;
}
.order-sharing{
  padding:4px;
}
.order-shared{
  padding:4px;
}
