.block
  =@message
  .secondary-navigation
    %ul.wat-cf
      %li.first!= link_to "All orders", admin_orders_path
      %li.active!= link_to "Add order", new_admin_order_path
  .content
    %h2.title Add order
    .inner
      - form_for @order, :url => admin_orders_path, :html => {:method => :post, :class => 'form'} do |f|
        .group
          %label{ :id => "documents_name", :class => :label }
            Document *
          %input{ :type => "texte", :name => "document_names", :class => 'text_field', :id => "documents_name" }
        %br
        .group
          %label{ :id => "email", :class => :label }
            E-mail *
          %input{ :type => "texte", :name => "email", :class => 'text_field', :id => "email" }
        %br
        .group
          %label{ :id => "share_with", :class => :label }
            Partager avec...
          %input{ :type => "texte", :name => "share_with", :class => 'text_field', :id => "share_with" }
        %br
        .group
          %label{ :id => "tags", :class => :label }
            Tags
          %input{ :type => "texte", :name => "tags", :class => 'text_field', :id => "tags" }
        %br
        .group.navform.wat-cf
          %button.button{:type => 'submit'}
            != image_tag("web-app-theme/tick.png", :alt => "Save")
            Save
          != link_to image_tag("web-app-theme/cross.png", :alt => "Cancel") + "Cancel", new_admin_order_path, :class => "button"
        %br
        .group
          %em
            %b *
            mandatory fields.
  

- content_for :sidebar, render(:partial => 'sidebar')



