Bonjour,<br>
<br>
Nous vous informons que votre client #{@fiduceo_retriever.user.company} a configuré dans iDocus la récupération automatique des opérations bancaires pour son compte #{@fiduceo_retriever.service_name}.<br>
<br>
Vous pouvez maintenant personnaliser le nom et le numéro de compte du journal Banque correspondant.<br>
<br>
Cordialement.<br>
<br>
—<br>
L’équipe iDocus<br>
support@idocus.com
