---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta?cursor=AAHQ44-hxlVDBbNvEkri4zt3TXhWQ0j26EMDJbPl5qZ3rLh0ED3mczMfxyxDtIj_fBeznwGENXuLRMrIBLa1yXQVPt2wXbpdaDoK6aoJZCkVRJnRsLmlzWUGWLJyt7fUo2gWHOTa0ROb3xKLtSrzR975dRqocXEMHZIBff_jfqyg1Zv7LiPw6qIgYBTOtA92aWs&path_prefix=/exportation%20vers%20iDocus/TS%250001%20-%20TeSt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '56'
      X-Dropbox-Request-Id:
      - d123783303ceafef97f9850f7b95f5a3
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"has_more": false, "cursor": "AAGzIe8i0TwKe6y5SwY_Mu2QXEbeofy7TQHJuf7hCU7uOZCLSraFla7IzhElEL7aoMhfgXSLTLF5LVstA0dnGVkSr8Eg1a6IN6bQGWZWs8m1JNknqARPpUd_VgeiFaSEDP_wuBeVrcPJCa0AgodzOAlpmbSuPcsq8-xZcc7I1qKRYzyEh3qCHchcv5GuMieaZIg",
        "entries": [["/exportation\u00a0vers idocus/ts%0001 - test/p\u00e9riode actuelle/ac",
        {"bytes": 0, "rev": "1743d59c017", "revision": 372, "icon": "folder", "path":
        "/exportation\u00a0vers iDocus/TS%0001 - TeSt/p\u00e9riode actuelle/AC", "is_dir":
        true, "thumb_exists": false, "root": "app_folder", "modified": "Mon, 12 Oct
        2015 17:47:22 +0000", "size": "0 bytes"}], ["/exportation\u00a0vers idocus/ts%0001
        - test/p\u00e9riode actuelle", {"bytes": 0, "rev": "1753d59c017", "revision":
        373, "icon": "folder", "path": "/exportation\u00a0vers iDocus/TS%0001 - TeSt/p\u00e9riode
        actuelle", "is_dir": true, "thumb_exists": false, "root": "app_folder", "modified":
        "Mon, 12 Oct 2015 17:47:22 +0000", "size": "0 bytes"}], ["/exportation\u00a0vers
        idocus/ts%0001 - test/p\u00e9riode actuelle/vt", {"bytes": 0, "rev": "1763d59c017",
        "revision": 374, "icon": "folder", "path": "/exportation\u00a0vers iDocus/TS%0001
        - TeSt/p\u00e9riode actuelle/VT", "is_dir": true, "thumb_exists": false, "root":
        "app_folder", "modified": "Mon, 12 Oct 2015 17:47:26 +0000", "size": "0 bytes"}]],
        "reset": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=/exportation%20vers%20iDocus/TS%250001%20-%20TeSt/p%C3%A9riode%20actuelle/BQ&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '355'
      X-Dropbox-Request-Id:
      - 0321593e2b3952112631ed0d788b6695
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "1773d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 12 Oct 2015 18:05:12 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%0001 - TeSt/p\u00e9riode actuelle/BQ", "is_dir": true, "icon": "folder",
        "root": "app_folder", "revision": 375}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=/exportation%20vers%20iDocus/TS%250001%20-%20TeSt/p%C3%A9riode%20pr%C3%A9c%C3%A9dente/BQ&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '234'
      X-Dropbox-Request-Id:
      - 06384f737d03f9eebfffa1815037a5e5
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "1783d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 12 Oct 2015 18:05:33 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%0001 - TeSt/p\u00e9riode pr\u00e9c\u00e9dente/BQ", "is_dir": true,
        "icon": "folder", "root": "app_folder", "revision": 376}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 2.9.3
