---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: cursor=AAGciVi-0S27vUnG74p8d4eyih-QamQRxfb5A9pmbxS6Rtlh_L4q2Mx7NCf9gEPqiXHw-KSM4mxfOPR55WwhDqTJffXz6rjVjEUDg0KVsoZN8w4OTCHPpm2mjdxteRNm2Pbi5a9Jis1Bcsc5rbrW_fVUvvVfJZ-__vjMePgWcIzaKa42DJN3yOhmlT8c_g3BqsU&path_prefix=%2Fexportation%C2%A0vers+iDocus%2FTS%250001+-+TeSt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '52'
      X-Dropbox-Request-Id:
      - dcf36a0946df5bde1102d05815a679a1
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"has_more": false, "cursor": "AAH95CuYKwK8ACXdZBYsb59ofjyPF8LzV93HfqKNhthsDUNbv5CZ45z4UFthFoiAYCzvLVWd98cftWmfH70-2P1D6wWvkApzZO7yaK-dnZqhPFNmjd6WYDI0-MRg4_lNyXxgbuV-2fiZ33uOePMUDRTeqxib-hP1H1_FVyvJzAPIsi-Di8-Nym4hfKt3TgjjGw4",
        "entries": [], "reset": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%250001+-+TeSt%2Fp%C3%A9riode+actuelle%2FBQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '427'
      X-Dropbox-Request-Id:
      - d132aebe08a548b016541cd8977832ba
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "2853d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Sat, 24 Oct 2015 16:47:01 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%0001 - TeSt/p\u00e9riode actuelle/BQ", "is_dir": true, "icon": "folder",
        "root": "app_folder", "revision": 645}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%250001+-+TeSt%2Fp%C3%A9riode+pr%C3%A9c%C3%A9dente%2FBQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '229'
      X-Dropbox-Request-Id:
      - a6ca6dcd8668a39f9c1a415db6019085
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "2863d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Sat, 24 Oct 2015 16:47:05 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%0001 - TeSt/p\u00e9riode pr\u00e9c\u00e9dente/BQ", "is_dir": true,
        "icon": "folder", "root": "app_folder", "revision": 646}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 2.9.3
