---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta?cursor=AAGzIe8i0TwKe6y5SwY_Mu2QXEbeofy7TQHJuf7hCU7uOZCLSraFla7IzhElEL7aoMhfgXSLTLF5LVstA0dnGVkSr8Eg1a6IN6bQGWZWs8m1JNknqARPpUd_VgeiFaSEDP_wuBeVrcPJCa0AgodzOAlpmbSuPcsq8-xZcc7I1qKRYzyEh3qCHchcv5GuMieaZIg&path_prefix=/exportation%20vers%20iDocus/TS%250001%20-%20TeSt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '46'
      X-Dropbox-Request-Id:
      - a8d78a741cad30ab137d6e13a4bb127a
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"has_more": false, "cursor": "AAFq_rI5by6mNwnS6XJJQywuAH3BmSFaUrFaQWdSsprkNxjcKp4878rh_gQm9r0EGL3p2E5_g_Izhm7A34wO8EGoLrA4CqbJrbqYACKtQy7dwz9onli8yGsCod91i9zAhGp5xVwOPSmPApkFRCBsAVypoYKb2dUYcFBaEfjA9qHB1OSGJTWOD1xaz_sb9tuD3nM",
        "entries": [["/exportation\u00a0vers idocus/ts%0001 - test/p\u00e9riode actuelle/bq",
        {"bytes": 0, "rev": "1773d59c017", "revision": 375, "icon": "folder", "path":
        "/exportation\u00a0vers iDocus/TS%0001 - TeSt/p\u00e9riode actuelle/BQ", "is_dir":
        true, "thumb_exists": false, "root": "app_folder", "modified": "Mon, 12 Oct
        2015 18:05:12 +0000", "size": "0 bytes"}], ["/exportation\u00a0vers idocus/ts%0001
        - test/p\u00e9riode pr\u00e9c\u00e9dente/bq", {"bytes": 0, "rev": "1783d59c017",
        "revision": 376, "icon": "folder", "path": "/exportation\u00a0vers iDocus/TS%0001
        - TeSt/p\u00e9riode pr\u00e9c\u00e9dente/BQ", "is_dir": true, "thumb_exists":
        false, "root": "app_folder", "modified": "Mon, 12 Oct 2015 18:05:33 +0000",
        "size": "0 bytes"}]], "reset": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?path=/exportation%20vers%20iDocus/TS%250001%20-%20TeSt/p%C3%A9riode%20actuelle/BQ&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '282'
      X-Dropbox-Request-Id:
      - ab517e48179b9ea9bd6795724b7f45be
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"is_deleted": true, "revision": 377, "bytes": 0, "thumb_exists": false,
        "rev": "1793d59c017", "modified": "Mon, 12 Oct 2015 18:10:33 +0000", "path":
        "/exportation\u00a0vers iDocus/TS%0001 - TeSt/p\u00e9riode actuelle/BQ", "is_dir":
        true, "icon": "folder_gray", "root": "app_folder", "size": "0 bytes"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?path=/exportation%20vers%20iDocus/TS%250001%20-%20TeSt/p%C3%A9riode%20pr%C3%A9c%C3%A9dente/BQ&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '247'
      X-Dropbox-Request-Id:
      - 60934021c6b507a9bdcfa0d4e8d44a9c
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"is_deleted": true, "revision": 378, "bytes": 0, "thumb_exists": false,
        "rev": "17a3d59c017", "modified": "Mon, 12 Oct 2015 18:10:38 +0000", "path":
        "/exportation\u00a0vers iDocus/TS%0001 - TeSt/p\u00e9riode pr\u00e9c\u00e9dente/BQ",
        "is_dir": true, "icon": "folder_gray", "root": "app_folder", "size": "0 bytes"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=/exportation%20vers%20iDocus/TS%250001%20-%20TeSt/p%C3%A9riode%20actuelle/BQ1&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '240'
      X-Dropbox-Request-Id:
      - 4a046a679f659a2c754b446bea4d196d
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "17b3d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 12 Oct 2015 18:10:41 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%0001 - TeSt/p\u00e9riode actuelle/BQ1", "is_dir": true, "icon":
        "folder", "root": "app_folder", "revision": 379}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=/exportation%20vers%20iDocus/TS%250001%20-%20TeSt/p%C3%A9riode%20pr%C3%A9c%C3%A9dente/BQ1&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '237'
      X-Dropbox-Request-Id:
      - 20071feb56d68ddee8d674fdf899ffa6
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "17c3d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 12 Oct 2015 18:10:54 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%0001 - TeSt/p\u00e9riode pr\u00e9c\u00e9dente/BQ1", "is_dir": true,
        "icon": "folder", "root": "app_folder", "revision": 380}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 2.9.3
