---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta?cursor=AAF8WWOASwvuQN7x3kOpyhAM6l1qvvty_Y1nF7D7wmsnzldRc-spypxbDT1bKKUcaIEjNZwuvvKdG0dO3RGfPW-jGZkJpmlfI0lFYJ8a3JSKD8Dp6pxqV1rcZDVU-etsXPFC2yKGmrh_ogfXGa1IjfyEDpC4U203xBK9bIYkyPvUgaU4CBH5dzqugzYh7OX4uNo&path_prefix=/exportation%20vers%20iDocus/TS%250001%20-%20TeSt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '44'
      X-Dropbox-Request-Id:
      - e0d54e047846e8e43e6d8e54ad843b97
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"has_more": false, "cursor": "AAHQ44-hxlVDBbNvEkri4zt3TXhWQ0j26EMDJbPl5qZ3rLh0ED3mczMfxyxDtIj_fBeznwGENXuLRMrIBLa1yXQVPt2wXbpdaDoK6aoJZCkVRJnRsLmlzWUGWLJyt7fUo2gWHOTa0ROb3xKLtSrzR975dRqocXEMHZIBff_jfqyg1Zv7LiPw6qIgYBTOtA92aWs",
        "entries": [["/exportation\u00a0vers idocus/ts%0001 - test/p\u00e9riode pr\u00e9c\u00e9dente/ac",
        {"bytes": 0, "rev": "1693d59c017", "revision": 361, "icon": "folder", "path":
        "/exportation\u00a0vers iDocus/TS%0001 - TeSt/p\u00e9riode pr\u00e9c\u00e9dente/AC",
        "is_dir": true, "thumb_exists": false, "root": "app_folder", "modified": "Mon,
        12 Oct 2015 17:43:17 +0000", "size": "0 bytes"}], ["/exportation\u00a0vers
        idocus/ts%0001 - test/p\u00e9riode pr\u00e9c\u00e9dente", {"bytes": 0, "rev":
        "16a3d59c017", "revision": 362, "icon": "folder", "path": "/exportation\u00a0vers
        iDocus/TS%0001 - TeSt/p\u00e9riode pr\u00e9c\u00e9dente", "is_dir": true,
        "thumb_exists": false, "root": "app_folder", "modified": "Mon, 12 Oct 2015
        17:43:17 +0000", "size": "0 bytes"}], ["/exportation\u00a0vers idocus/ts%0001
        - test/p\u00e9riode pr\u00[...]
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=/exportation%20vers%20iDocus/TS%250001%20-%20TeSt/p%C3%A9riode%20actuelle/AC&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '360'
      X-Dropbox-Request-Id:
      - 9dc9e4ba83975fda49dcab63a2eb018e
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "1743d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 12 Oct 2015 17:47:22 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%0001 - TeSt/p\u00e9riode actuelle/AC", "is_dir": true, "icon": "folder",
        "root": "app_folder", "revision": 372}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=/exportation%20vers%20iDocus/TS%250001%20-%20TeSt/p%C3%A9riode%20actuelle/VT&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '219'
      X-Dropbox-Request-Id:
      - 10688a6cc829b8030106483c9c2842f1
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "1763d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 12 Oct 2015 17:47:26 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%0001 - TeSt/p\u00e9riode actuelle/VT", "is_dir": true, "icon": "folder",
        "root": "app_folder", "revision": 374}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 2.9.3
