---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: cursor=AAHNv9G4Ed85Mih1-_YCl1X85MoV4KAizO1vvg06uvHavrLkBZSikJMOn8Kszf59SMQb_746_Z5LPYlhXGs-lsO6L-BRsyFrTdxy10CjbW3WLfljJ3HCnxOGJmUfEMETwkg-9Nr8Bzbr8Pmj40tc0KvqBUgWBBFYNgn31xx7wGGcnociVfxgMdF6nPlR3QPvDfU&path_prefix=%2Fexportation%C2%A0vers+iDocus%2FTS%250001+-+TeSt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '878'
      X-Dropbox-Request-Id:
      - fb6b05205bffcba4830b899d2d360741
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"has_more": false, "cursor": "AAHH68fP-PNFhgUZA9rUyinaXuq-aKTD7WWCsl0e4rJvMahunnLxA5OIhXxcn3mzK2jcNR9dpyeWSzd6dwF1ZdMbWUAEil7mjVVxIhv45ejcunViqbIG5-wrSOluetiUIpr2LTF-Cv4D1K-M2TOj4b7w0UQwNBavjv_pUJI_bXE6Iszio_RjcTc2omDF8EvhWWQ",
        "entries": [["/exportation\u00a0vers idocus/ts%0001 - test/p\u00e9riode actuelle/vt",
        null], ["/exportation\u00a0vers idocus/ts%0001 - test/p\u00e9riode actuelle/ac/corrupted
        (erreur fichier non valide pour idocus).pdf", null], ["/exportation\u00a0vers
        idocus/ts%0001 - test/p\u00e9riode actuelle/ac", null], ["/exportation\u00a0vers
        idocus/ts%0001 - test/p\u00e9riode actuelle", null], ["/exportation\u00a0vers
        idocus/ts%0001 - test/period/vt", null], ["/exportation\u00a0vers idocus/ts%0001
        - test/period/ac/corrupted (erreur fichier non valide pour idocus).pdf", null],
        ["/exportation\u00a0vers idocus/ts%0001 - test/period/ac", null], ["/exportation\u00a0vers
        idocus/ts%0001 - test/period", null], ["/exportation\u00a0vers idocus/ts%0001
        - test/periode", {"bytes": 0, "rev": "27e3d59c017", "revision": 638, "icon":
        "folder", "path": "/exportation\u00a0vers iDocus/TS%0001 - TeSt/PERIODE",
        "is_dir": true, "thumb_exists": false, "root": "app_folder", "modified": "Sat,
        24 Oct 2015 16:41:38 +0000", "size": "0 bytes"}], ["/exportation\u00a0vers
        idocus/ts%0001 - test/periode/ac", {"bytes": 0, "rev": "27f3d59c017", "revision":
        639, "icon": "folder", "path": "/exportation\u00a0vers iDocus/TS%0001 - TeSt/PERIODE/AC",
        "is_dir": true, "thumb_exists": false, "root": "app_folder", "modified": "Sat,
        24 Oct 2015 16:41:38 +0000", "size": "0 bytes"}], ["/exportation\u00a0vers
        idocus/ts%0001 - test/periode/ac/corrupted (erreur fichier non valide pour
        idocus).pdf", {"rev": "2803d59c017", "thumb_exists": false, "path": "/exportation\u00a0vers
        iDocus/TS%0001 - TeSt/PERIODE/AC/corrupted (erreur fichier non valide pour
        iDocus).pdf", "is_dir": false, "client_mtime": "Sat, 24 Oct 2015 16:09:36
        +0000", "icon": "page_white_acrobat", "bytes": 1117, "modified": "Sat, 24
        Oct 2015 16:41:38 +0000", "size": "1.1 KB", "root": "app_folder", "mime_type":
        "application/pdf", "revision": 640}], ["/exportation\u00a0vers idocus/ts%0001
        - test/periode/vt", {"bytes": 0, "rev": "2813d59c017", "revision": 641, "icon":
        "folder", "path": "/exportation\u00a0vers iDocus/TS%0001 - TeSt/PERIODE/VT",
        "is_dir": true, "thumb_exists": false, "root": "app_folder", "modified": "Sat,
        24 Oct 2015 16:41:38 +0000", "size": "0 bytes"}]], "reset": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%250001+-+TeSt%2Fp%C3%A9riode+actuelle%2FAC
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '369'
      X-Dropbox-Request-Id:
      - a9f807bcd0fede97a04dd044795381e5
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "2823d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Sat, 24 Oct 2015 16:44:14 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%0001 - TeSt/p\u00e9riode actuelle/AC", "is_dir": true, "icon": "folder",
        "root": "app_folder", "revision": 642}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%250001+-+TeSt%2Fp%C3%A9riode+actuelle%2FVT
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '245'
      X-Dropbox-Request-Id:
      - beb1726053f541c199e48688d0c3195d
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "2843d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Sat, 24 Oct 2015 16:44:17 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%0001 - TeSt/p\u00e9riode actuelle/VT", "is_dir": true, "icon": "folder",
        "root": "app_folder", "revision": 644}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 2.9.3
