---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: cursor=AAGkvb1ZwDBvVxkgLshA58LfkBJ79YBnK-tTXKGrI-07o-s9r_QkNDDlYDwABZrXWNHT0W3tt0b2kzqMP9rT6Jugqe9fWb-OxY5A-1BZ66IHNtMOJ7EYx9vpUuBFS5fi6XKTdPzXAu5RXni5XVyghq_KSHjAQ-XHjA0T-ldbWaTr1lHdQP8byFQaFkklbqyPo1Q&path_prefix=%2Fexportation%C2%A0vers+iDocus%2FTS%250001+-+TeSt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '54'
      X-Dropbox-Request-Id:
      - 795a0c1ee6397b04bd86a629e30b38ec
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"has_more": false, "cursor": "AAFSDInHzQXO5VjcpDj-svf15AyJILm5pZ1hrLVYEkATD1-A51P1CwdxAZS0J-rrKzdnu_1JEj1ewij-wxudHDjzkaQJXJJd71Xdd80ncm6Q4gJGXg3VKMcAl8upJzwHp1LVNd-OJNLl3tQ7bfyt55xNZ3H_hG_Epax7_KkbRSCmHE6sA2e6ZIE7ah0HoLdNMNY",
        "entries": [["/exportation\u00a0vers idocus/ts%0001 - test/p\u00e9riode pr\u00e9c\u00e9dente/vt",
        null], ["/exportation\u00a0vers idocus/ts%0001 - test/p\u00e9riode pr\u00e9c\u00e9dente/ac",
        null], ["/exportation\u00a0vers idocus/ts%0001 - test/p\u00e9riode pr\u00e9c\u00e9dente",
        null]], "reset": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%250001+-+TeSt%2Fp%C3%A9riode+pr%C3%A9c%C3%A9dente%2FAC
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '203'
      X-Dropbox-Request-Id:
      - a3dbd7230294aa8039418b8f9cf8280b
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "26f3d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Sat, 24 Oct 2015 16:33:19 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%0001 - TeSt/p\u00e9riode pr\u00e9c\u00e9dente/AC", "is_dir": true,
        "icon": "folder", "root": "app_folder", "revision": 623}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%250001+-+TeSt%2Fp%C3%A9riode+pr%C3%A9c%C3%A9dente%2FVT
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '222'
      X-Dropbox-Request-Id:
      - 2dc1df67f02a596ff0cef9ade1a00940
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "2713d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Sat, 24 Oct 2015 16:33:22 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%0001 - TeSt/p\u00e9riode pr\u00e9c\u00e9dente/VT", "is_dir": true,
        "icon": "folder", "root": "app_folder", "revision": 625}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 2.9.3
