#pre_assignments{ data: { is_ibiza_configured: @ibiza.try(:configured?).to_s, is_exact_online_configured: @organization.try(:exact_online).try(:used?).to_s } }
  .row-fluid
    .span12.box
      .row-fluid
        .span12
          .pull-left
            %h3 Pré-affectations
          .pull-right
            = link_to 'Pièces ignorées', account_organization_pre_assignment_ignored_index_path(@organization), class: 'btn'
            = link_to 'Doublons', account_organization_pre_assignment_blocked_duplicates_path(@organization), class: 'btn'
            = link_to 'Livraisons en erreurs', account_organization_pre_assignment_delivery_errors_path(@organization), class: 'btn'
  .row-fluid
    #pack_reports.span3.box
      %h4.aligncenter Lots
      %hr.margin0top.margin0bottom
      .content
    #preseizures.span5.box
      %h4.aligncenter Pièces/Opérations
      %hr.margin0top.margin0bottom
      .content
    #preseizure_accounts.span4.box
      %h4.aligncenter Ecritures
      %hr.margin0top.margin0bottom
      .content
