Options +FollowSymLinks +ExecCGI

RewriteEngine On

RewriteRule ^(system/.*)$ - [L]

RewriteRule ^$ index.html [QSA]
RewriteRule ^([^.]+)$ $1.html [QSA]
RewriteCond %{REQUEST_FILENAME} !-f

ErrorDocument 500 "<h2>Application error</h2>Rails application failed to start properly"