!!!
%html
  %head
    %title [iDocus] Automate bloqué pour cause de mot de passe obsolète
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-type' }
  %body
    Bonjour #{@user.name},
    %br
    %br
    Vous êtes client à la BNP et vous avez paramétré un/des automate(s) de récupération de vos flux bancaires chez iDocus.
    %br
    %br
    La connexion à vos comptes nécessite une modification de votre mot de passe au bout d’un certains nombre de connexion définit par la BNP.
    %br
    %br
    Ce quota est aujourd’hui atteint.
    %br
    %br
    Merci de modifier votre mot de passe à la BNP puis de le mettre à jour dans iDocus.
    %br
    %br
    Cordialement,
    %br
    L'équipe iDocus.
    %br
    = link_to 'support@idocus.com', 'mailto:support@idocus.com'
