- flash.each do |name, msg|
  - if msg.present?
    .row-fluid.derivationLeft
      .col-sm-12{ class: "alert #{twitterized_type(name)}" }
        %a.close{ "data-dismiss" => "alert" } &#215;
        - if msg.is_a?(String)
          %div{ id: "flash_#{twitterized_type(name)}" }
            != msg
