---
http_interactions:
- request:
    method: get
    uri: https://beta.irf-cloud.com/IRFService/services/IRFService.svc/company/%7B123456%7D/exercices
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/xml
      Irftoken:
      - 123456
      Partnerid:
      - '{123456}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <WCFRestIRFExercicesResult xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><response><result>Success</result><message
        i:nil="true"/><datetime>2015-06-21T18:19:33.619+02:00</datetime></response><data><exercice><accountCF/><accountCFLoss/><balanceChecked>0</balanceChecked><carriedForward>0</carriedForward><end>2015-12-31</end><finalAccounts/><generateCF>0</generateCF><inited>0</inited><journalCF/><lastAccess/><name>2014
        - 2015</name><start>2014-09-01</start><state>1</state></exercice></data></WCFRestIRFExercicesResult>
  recorded_at: Sun, 21 Jun 2015 16:19:28 GMT
recorded_with: VCR 2.9.3
