---
http_interactions:
- request:
    method: get
    uri: https://beta.irf-cloud.com/IRFService/services/IRFService.svc/company/%7B123456%7D/exercices
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/xml
      Irftoken:
      - 123456
      Partnerid:
      - '{123456}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <WCFRestIRFExercicesResult xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><response><result>Error</result><message><error><details>insufficient
        rights</details></error></message><datetime>2015-06-21T20:55:53.973375+02:00</datetime></response></WCFRestIRFExercicesResult>
  recorded_at: Sun, 21 Jun 2015 18:57:59 GMT
recorded_with: VCR 2.9.3
