#account_number_rule
  form
    .control-label
      width: 100px !important
      margin-right: 5px
    .checkbox
      padding-left: 0
    .control-group
      .controls
        margin-left: 120px !important
        padding-top: 5px
      .controls.users
        margin-left: 20px !important
    input[type="checkbox"]
      float: left
      margin-right: 5px
      position: normal !important
      top: 0 !important
    input[type="text"]
      width: 210px !important
    select
      width: 220px !important
