#csv_descriptors
  &.edit
    .border
      border: 2px dashed grey
      padding: 0
      .fields
        width: 405px
      .list
        list-style-type: none
        margin: 5px
      .field
        padding: 1px
      select
        width: auto
        margin-bottom: 0
      input
        width: 250px
        margin-bottom: 0
      input[name=format]
        width: 73px
      input, select
        font-size: 10px
      input[id=text_format]
        width: 170px
    table
      .name
        text-align: left
      .hint
        text-align: left
        font-weight: normal
