#customers
  input[type=checkbox]
    margin-right: 5px
    float: left
  table
    td
      vertical-align: middle
    .active_state
      text-align: center
      width: 16px
    .date
      width: 75px
      text-align: center
    .user_info
      width: 400px
    .info a
      font-size: 11px
      font-weight: bold
    ul.subscription_info
      margin-left: 0
      margin-top: 0
      margin-bottom: 0
      li
        float: left
        margin-left: 24px
    .update_request_state
      text-align: center
      width: 16px

#customer
  form
    .user_group_ids
      .checkbox
        padding-left: 0
        input[type="checkbox"]
          margin-left: 0
    h4
      margin-left: 160px
      margin-bottom: 20px
    .radio
      padding-left: 0
  .closed_account
    font-size: 14px
    margin-top: 2px
    padding:
      top: 4px
      bottom: 4px
      left: 6px
      right: 6px
  &.account_close_confirm, &.account_reopen_confirm
    .warning
      font-size: 20px
  &.edit.ibiza
    .feedback
      background: url("/assets/application/spinner_gray_alpha.gif")
      background-repeat: no-repeat
      background-position: left center
  &.edit.knowings
    form
      .control-label
        width: 260px
      .controls
        margin-left: 280px
      .form-actions
        padding-left: 280px
  &.edit_period_options
    form
      .control-label
        width: 440px
      .controls
        width: 230px
        margin-left: 460px
        input
          width: 30px
      .form-actions
        padding-left: 460px
  .chosen-container-single
    .chosen-search
      input[type=text]
        width: 100% !important
