#customers
  input[type=checkbox]
    margin-right: 5px
    float: left
  table
    td
      vertical-align: middle
    .active_state
      text-align: center
      width: 16px
    .date
      width: 75px
      text-align: center
    .user_info
      width: 400px
    .info a
      font-size: 11px
      font-weight: bold
    ul.subscription_info
      margin-left: 0
      margin-top: 0
      margin-bottom: 0
      li
        float: left
        margin-left: 24px
    .update_request_state
      text-align: center
      width: 16px

#customer
  .closed_account
    font-size: 14px
    margin-top: 2px
    padding:
      top: 4px
      bottom: 4px
      left: 6px
      right: 6px
  &.account_close_confirm, &.account_reopen_confirm
    .warning
      font-size: 20px
