#customers
  input[type=checkbox]
    margin-right: 5px
    float: left
  table
    td
      vertical-align: middle
    .active_state
      text-align: center
      width: 52px
    .date
      width: 220px
      text-align: center
    .info a
      font-size: 11px
      font-weight: bold
    ul.subscription_info
      margin-left: 0
      margin-top: 0
      margin-bottom: 0
      li
        float: left
        margin-left: 24px
    .update_request_state
      text-align: center
      width: 16px
  .retractable-filter
    .check_boxes
      .checkbox
        margin: 0px !important
        label
          padding-top: 5px
          margin: auto

#customer
  form
    .user_group_ids
      .checkbox
        padding-left: 0
        input[type="checkbox"]
          margin-left: 0
    .radio
      padding-left: 0
  .closed_account
    font-size: 14px
    margin-top: 2px
    padding:
      top: 4px
      bottom: 4px
      left: 6px
      right: 6px
  &.account_close_confirm, &.account_reopen_confirm
    .warning
      font-size: 20px
  &.edit.ibiza
    .feedback
      background: url("/assets/application/spinner_gray_alpha.gif")
      background-repeat: no-repeat
      background-position: left center
  &.edit.mcf
    .error
      position: relative
      top: 5px
  .chosen-container-single
    .chosen-search
      input[type=text]
        width: 100% !important

.step_navigation
  .step
    margin: 1%
    color: #b0b1b3
    float: left
    &.active
      color: #584528
    .number
      font-size: 18px
    .title
      font-size: 12px

.header_box  
  color: #214255  
  font-size: 18px

.border_bottom
  border-bottom: 1px solid #CCC

.mb-5
  margin-bottom: 5px !important

.mt-5
  margin-top: 5px !important

.mb-10
  margin-bottom: 10px !important

.mrc-5 
  margin-right: 5px

.margin0
  margin: 0

.text-bold
  font-weight: bold

.box
  background-color: #fbfbfb

.blur
  color: red

.input-blur
  border: 1px solid rgba(227,57,57,1)
  -webkit-box-shadow: -1px 0px 16px -8px rgba(227,57,57,1)
  -moz-box-shadow: -1px 0px 16px -8px rgba(227,57,57,1)
  box-shadow: -1px 0px 16px -8px rgba(227,57,57,1)

#for_step_two
  .modal-header
    padding: 1%
    background-color: #7cbbff
    border-bottom: 1px solid #CCC
    -webkit-box-shadow: 0px 6px 18px -13px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 6px 18px -13px rgba(0,0,0,0.75)
    box-shadow: 0px 6px 18px -13px rgba(0,0,0,0.75)
    h3, span
      color: white !important
      font-weight: bold
    a
      color: white

  .modal-dialog
    max-width: 992px !important
  .modal-footer
    background-color: #eaeaea
    -webkit-box-shadow: 0px 6px 18px -13px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 6px 18px -13px rgba(0,0,0,0.75)
    box-shadow: 0px 6px 18px -13px rgba(0,0,0,0.75)
  i
    color: #848484
    u
      color: #055

  .external_account_book_type
    margin-bottom: 0
    .label-section
      width: 52%
    .control-section
      width: 42%

#table_vat_account
  input
    width: 80%

label.required:before
  content: "* "
