#invoices
  .price, .actions
    text-align: right
    font-weight: bold
  .pagination
    margin-bottom: 4px!important
  #showInvoice
    .modal-dialog
      max-width: 868px !important
    .modal-body
      iframe
        width: 843px
        height: 600px