#invoices
  .price, .actions
    text-align: right
    font-weight: bold
  .pagination
    margin-bottom: 4px!important
  #showInvoice
    height: 500px
    width: 878px
    margin: -250px 0 0 -439px !important
    .modal-body
      max-height: 450px
      iframe
        width: 843px
        height: 415px