$blue: #959cff
$green: #67D167
$red: #da3536

#journals
  #assignment
    .search
      margin:
        top: 2px
      label
        position: relative
        right: -3px
    .options
      input
        margin:
          right: 5px
        position: relative
          top: -2px
    .left
      h3
        float: left
        margin:
          left: 10px
        font-size: 14px
        position: relative
        top: 2px
      .request_type
        background-color: $green
      .request_type.removing
        background-color: $red
    .right
      h3
        margin:
          left: 10px
        font-size: 12px
      .icon-arrow-up, .icon-arrow-down
        cursor: pointer
    .icon-chevron-up, .icon-chevron-down
      cursor: pointer
    .head
      margin:
        top: 0
        left: 0
        right: 0
        bottom: 0
      border:
        bottom: 1px solid #DDD
      background-color: #f2f2f2
    .list
      margin:
        top: 0
        bottom: 10px
        left: 0
        right: 0
      padding:
        top: 0
        bottom: 0
        left: 0
        right: 0
      background-color: white
      border: 1px solid #DDD
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .065)
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,.065)
      box-shadow: 0 1px 2px rgba(0, 0, 0, .065)
    table
      min-height: 20px
      height: auto !important
      height: 20px
      margin:
        bottom: 0
      .sort
        .name, .is_default
          i
            cursor: pointer
      tr
        td
          vertical-align: middle
          padding:
            left: 10px
            right: 10px
        td.selectable
          cursor: pointer
        td.request_type, td.indicator, td.selection
          width: 14px
      tbody
        td.edit, td.is_default
          width: 14px
        .is_default
          background-color: #FAF8F8
      tr.current
        background-color: #E4E9FF
      .summary
        text-align: right
        padding:
          top: 0
          bottom: 0
          left: 0
          right: 10px
        span
          margin:
            top: 0
            bottom: 0
            left: 0
            right: 3px
    #journals_list, #users_list
      tr
        height: 26px
    li
      list-style-type: none
    .journal_info
      margin:
        top: 0
        bottom: 0
        left: 5px
        right: 0
      li
        font-size: 10px
        float: left
        list-style-type: disc
        margin-left: 28px
    span.remove
      position:  relative
      left: -3px
    #assigned, #not_assigned
      td
        border:
          color: gray
      td.action
        width: 14px
    #assigned
      td.action
        background:
          color: $green
    #not_assigned
      td.action
        background:
          color: $red