#journals.select
  .form
    input[type="checkbox"]
      top: 0
    .check_box
      width: 15px

#journal
  &.new, &.edit
    form
      .external_account_book_type
        margin-bottom: 0px!important
      .account_book_type_account_type
        margin-bottom: 0
      .commands
        padding-top: 10px
  &.new
    .prev
      float:left
      margin-right: 5px
    .next
      float:right

.pseudonyme_for_import
  .control-section
    .radio
      label
        width: 47% !important
        max-width: 100px
