#orders, #order
  input[type=text]
    width: 210px !important
  .paper_set_form
    .control-label
      width: 180px !important
    .controls
      margin-left: 200px !important
    .form-actions
      padding-left: 200px !important
    .address_title
      margin:
        left: 200px
        bottom: 12px
