#orders, #order
  &.new, &.edit
    form
      input[type=text]
        width: 210px
      .paper_set_form
        .control-label
          width: 120px
        .controls
          margin-left: 140px
        .form-actions
          padding-left: 140px
        .address_title
          margin:
            left: 140px
            bottom: 12px
        input[type=text]
          width: 150px
