#pre_assignment_ignored
  #showPieces
    .modal-dialog
      max-width: 850px
      .modal-body
        max-height: 600px
        #navigation
          position: absolute
          margin-right: 12px
          right: 0
          .checkbox_checker
            margin-right: 12px
        iframe
          width: 100%
          height: 550px
