#pre_assignments
  .content
    margin-top: 5px
  #pack_reports
    a
      line-height: 14px
    .search
      text-align: center
      .add-on.left
        position: relative
        left: 3px
      .add-on.right
        position: relative
        right: 3px
      #pack_reports_search
        text-align: left
        font-size: 11px
    .option
      width: 16px
      height: 16px
  #preseizures
    a
      line-height: 14px
    .piece
      table
        td.option
          width: 16px
      .label
        a
          color: white
  #preseizure_accounts
    table
      th
        vertical-align: middle
      .analytic_ref_box
        heigth: 80px
      .amount
        text-align: right
        width: 55px
