#efs_management
  h5
    a
      font-size: 12px
#subscription_options
  .notification_options_label
    float: left
    position: relative
    top: 3px
    width: 260px
  .form-control
    width: auto !important
