#subscriptions, #default_subscriptions, #organization_subscriptions
  &.edit
    .input
      width: 13px
    input[type="checkbox"], input[type="radio"]
      margin-top: 0
      position: relative
      top: -2px
