#group.derivationRight
  .card
    .card-header
      %h3
        Edition du groupe : 
        = link_to @group, account_organization_group_path(@organization, @group), class: 'fs-origin'
    = render partial: 'form'
