.row-fluid
  .span12.well
    .pull-left
      != radio_button_tag "scan_subscription[product][id]", product.id, (product.period_duration == @subscription.period_duration), class: "product"
    != label_tag "scan_subscription_product_id_#{product.id}", product.title

    - product.product_groups.where(:product_supergroup_ids.size => 0).by_position.entries.each do |product_group|
      .row-fluid
        .span12
          != render partial: 'admin/scan_subscriptions/product_group', locals: { product_group: product_group, product: product }
