.navbar
  .navbar-inner
    .container-fluid
      .nav-collapse
        %ul.nav
          %li{ class: ('active' if params[:controller] == 'account/customers' && params[:action] == 'index') }
            = link_to 'Liste des clients', account_users_path
          %li{ class: ('active' if params[:controller] == 'account/customers' && params[:action] == 'new') }
            = link_to 'Nouveau client', new_account_user_path