#customer
  .row-fluid
    .span12.box
      %h3 Edition du client : #{link_to @customer.info, account_organization_customer_path(@customer)}
  .rwo-fluid
    .span12.box
      = render partial: 'form'
