#info.derivationRight
  .card
    .card-header
      %h3 Assistant de création d’un dossier client
    .card-body{ style: 'font-size:12p' }
      Bienvenue sur l’assistant de création de dossier client.
      %br
      %br
      Vous allez pouvoir créer votre dossier client en suivant les étapes qui vous aideront à bien paramétrer votre dossier.
      %br
      %br
      Certaines étapes sont obligatoires, d’autres peuvent être terminées plus tard. A chaque fin de page, merci de cliquer sur Etape suivante ou Terminer plus tard.
      %br
      %br
      Vous ne pourrez passer à l’Etape suivante que si tous les champs sont bien renseignés.
      %br
      %br
      Bonne configuration!
      %br
      %br
    .card-footer
      = link_to t('actions.next_step'), new_account_organization_customer_path(@organization), class: 'btn btn-primary'
