.row-fluid
  .span12
    #presPanel1.well
      .header.span12.margin0left{style: "border-bottom: 1px solid #ddd; margin-bottom: 10px"}
        %h3.pull-left
          Ecritures comptables
        - if @user.active?
          .actiongroup.pull-right
            %a.do-exportSelectedPreseizures.do-tooltip{href: '#exportSelectedPreseizures', title: 'Export écritures comptables', data: { toggle: 'modal' } }
              %i.icon-share-alt
            - if @user.collaborator?
              %a.do-editSelectedPreseizures.do-tooltip.hide{href: '#editSelectedPreseizures', title: 'Edition multiple', style: 'border: 2px solid #B1D837; padding: 5px 2px 5px 5px', data: { toggle: 'modal' } }
                %i.icon-edit
            |
            %a.do-selectAllPreseizures.do-tooltip{ :href => "#", :title => "Tous" }
              %i.icon-ok
            %a.do-unselectAllPreseizures.do-tooltip{ :href => "#", :title => "Aucun" }
              %i.icon-ban-circle
      .content.preseizures
        
