- if @preseizures.any?
  #show_preseizures
    %h4
    #lists.margin0.margin2bottom.bg-light{ style: "clear:both;", :id => "preseizures" }
      #lists_preseizures_content
        = render :partial => "/account/documents/preseizures/preseizure", :collection => @preseizures
    .actionGroup.clearfix
      .loader.margin1top.float-left
        .feedback.inactive
          %span.out Aucun traitement
