.navbar
  .navbar-inner
    %ul.nav
      %li{ class: ('active' if controller_name == 'retrievers') }
        = link_to 'Automates', admin_retrievers_path
      %li{ class: ('active' if controller_name == 'provider_wishes') }
        = link_to 'Demandes', admin_fiduceo_provider_wishes_path
