= render partial: 'navigation'
- content_for :titre_h1, "Synchronisation Zoho crm"
.panel-heading.clearfix
  %span.title_page
    ZohoCrm Sync
    %strong
      = (ZohoControl::AUTHTOKEN == '5064b25445e1bd95b9d78c49a536ffcd')? "(Production Token)" : "(Test Token)"