= render partial: 'navigation'
- content_for :titre_h1, "Data ZohoCrm"
.panel-heading.clearfix
  %span.title_page
    ZohoCrm Datas
  
.panel-body
  .accounts 
    %p= @title
    %p
      %ul
        - @xml.each do |xm|
          %li= xm
  %hr