.leftcolon.margin4top.margin4bottom
  -#!= render :partial => '/shared/error_messages', :locals => {:object => @order}

  .tunnelcase
    %ul.progress
      %li.first.current
        %span
          Produits
          %br
      %li.second
        %span
          Options
      %li.third
        %span
          paiement

    %form{ :action => option_choice_tunnel_order_path, :method => :post, :class => 'clearfix' }
      %h2.margin2top
        Numérisation :

      %ul.optionslist.margin2left.margin2top
        - @products.each do |product|
          %li
            .row
              %span.radio
                %input{ :type => :radio, :name => :product_id, :value => product.id, :id => product.id, :class => "product_item" }
              %span.product
                %strong
                  %label{ :for => product.id }
                    !=product.title
                != (product.description == "")? "" : " - #{product.description}"
              - if product.price_in_cents_w_vat > 0
                %span.price
                  %strong
                    #{format_price product.price_in_cents_wo_vat} € HT
                  %span.smaller
                    #{format_price product.price_in_cents_w_vat} € TTC

      .buttonsrow.margin1bottom.margin4top
        %input.button.whitebtn.floattoright.margin2right.w125{ :type => "submit", :value => "Étape suivante"}
