.leftcolon.margin4top.margin4bottom
  -#!= render :partial => '/shared/error_messages', :locals => {:object => @order}

  .tunnelcase
    %ul.progress
      %li.first
        %span
          Produits
          %br
      %li.second.current
        %span
          Options
      %li.third
        %span
          paiement

    - form_for @product, :url => tunnel_order_path, :html => {:method => :post, :class => 'clearfix'} do |f|
      %input{ :type => :hidden, :name => :product_id, :value => @product.id }
      %h2.margin2top
        #{(@product.category == 1)? "Numérisation : " : "Sauvegarde : "}
        != @product.title
      
      %br
      .margin2left
        != @product.header_info
      
      %ul.optionslist.margin2left.margin2top
        - p = Proc.new do |group, block|
          .group
            - if group.subgroups
              - group.subgroups.each do |subgroup|
                %br
                - block.call(subgroup, block)
                %br
            -if group.product_options
              !=group.product_options.collect{|o| o.title}.join("<br />")
        
        - @product.groups.where(:supergroup => nil).each do |group|
          - p.call(group, p)
        
        != @product.footer_info
        
      .buttonsrow.margin1bottom.margin4top
        %input.button.whitebtn.floattoright.margin2right.w125{ :type => "submit", :value => "Étape suivante"}
        %a.button.whitebtn.floattoleft.margin2left{ :href => new_tunnel_order_url}
          %span
            Étape précédente
            
:css
  .group{
    border: 1px solid black;
    margin: 10px 0 10px 10px; }