#mobile_reporting
  .boxChart
    border: solid 2px #dddddd
    border-radius: 4px
    margin: 10px
    padding: 25px
    text-align: center
    .chartContainer
      max-width: 630px !important
      max-height: 315px !important
      min-width: 410px !important
      min-height: 205px !important
      margin: 0px auto
    .legends
      margin-top: 10px
      ul
        list-style: none
      li
        float: left
        margin: 0px 10px
      strong
        font-size: 14px
  .table
    width: auto !important