#mobile_reporting
  .boxChart
    border: solid 2px #dddddd
    border-radius: 4px
    margin: 10px
    padding: 25px
    text-align: center
    .blink
      color: #3E2F24
      font-size: 18px
      margin: 20px
    .chartContainer
      max-width: 563px !important
      max-height: 281px !important
      margin: 0px auto
    .legends
      margin-top: 10px
      ul
        list-style: none
      li
        text-align: left
        margin: 0px 10px
      strong
        font-size: 14px
      .liFloat
        float: left
      .legend_badge
        float: left
        text-align: center
        width: 125px
        margin-right: 10px
  .table
    width: auto !important