#reporting
  table
    th
      text-align: center
    td
      text-align: right
    td.organization
      text-align: left
      vertical-align: middle
    td.total
      text-align: center
    th.year, td.organization, td.total
      width: 16%
    .df_symbol
      font-size: 7px
    .vat_symbol
      font-size: 7px
  #showInvoice
    height: 500px
    width: 878px
    margin: -250px 0 0 -439px !important
    .modal-body
      max-height: 450px
      iframe
        width: 843px
        height: 415px
