#subscriptions
  table
    .updated_at
      width: 115px
    .price_in_cents_wo_vat
      width: 100px
  span.negative
    color: #ff6969
  span.positive
    color: #00b600
  span.popover_active
    .positive
      color: #00b600
    .negative
      color: #ff6969
