#subscriptions
  #detachable_header
    position: fixed
    background-color: #3E2F24
    color: #ACCB0C
    width: calc(100% - 40px)
    margin-top: -18px
    display: none
    z-index: 1
    table
      margin: 0 !important
      .ths
        border: 1px solid #FFF
        border-bottom: 0px
  table
    .updated_at
      width: 115px
    .price_in_cents_wo_vat
      width: 100px
    .total_footer
      background-color: #C0C0C9
  span.negative
    color: #ff6969
  span.positive
    color: #00b600
  span.popover_active
    .positive
      color: #00b600
    .negative
      color: #ff6969
  #showAccounts
    .loading
      color: #3E2F24
      font-size: 18px
      margin: 20px
    #accountsList
      width: 100%
      h4
        width: 95%
        padding: 0 10px
        text-align: center
      .lists
        margin: 8px 5px
        list-style: inside
        .listNode
          width: 160px
          height: 30px
          float: left
          padding: 3px
  #statistic_table
    table-layout: fixed
