defaults: &defaults
  client_id:
  client_secret:
  callback_url: http://localhost:3000/account/box/callback

development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults
  callback_url: https://staging.idocus.com/account/box/callback

production:
  client_id:
  client_secret:
  callback_url: https://my.idocus.com/account/box/callback
