#group_organizations.container-fluid.derivationLeft
  .edit
    .card
      .card-header
        %h3
          Édition du groupe d'organisation : 
          %span.text-info.fs-origin.font-weight-bold= @organization_group.name
      = render partial: 'form'
