#group_organizations.container-fluid
  .edit
    .row-fluid
      .span12.box
        %h3 Édition du groupe d'organisation : #{@organization_group.name}

    .row-fluid
      .span12.box
        = render partial: 'form'
