.row-fluid
  .span12
    #selectionlist.well
      .header
        %h3.pull-left
          Sélections
        .actiongroup
          .icon_actions.pull-left
            %a.do-tooltip{ "data-toggle"=>"modal", :href => "#selectionTaggingDialog", :title => "Tagger" }
              %i.icon-tag
            %a.do-tooltip.removeAllSelection{ :href => "#", :title => "Tout retirer" }
              %i.icon-remove
          .button_actions.pull-left
            %a{ "data-toggle"=>"modal", :href => "#compositionDialog", class: "btn btn-primary" }
              Composer
            - if @user.organization.ibiza.try(:configured?)
              %a.compta_analysis_edition{ "data-toggle"=>"modal", :href => "#comptaAnalysisEdition", class: "btn btn-primary" }
                Editer compta analytique
      .content.pages.margin3top
        %ul.list
          - @is_composition = true
          != render :partial => "/account/documents/pieces/document", :collection => @composition