#show_pieces.clearfix.well
  %h4
  %ul.margin0{ style: "clear:both;", :id => "pieces" }
    = render :partial => "/account/documents/pieces/temp_document", :collection => @temp_documents
- if @documents.present?
  #show_pages.well   
    .head.margin1bottom.clearfix
      %h4.pull-left
      %span.pieces_total_count.hide= @documents.total_count
      - if @user.active?
        .actiongroup.pull-right
          %a.do-tooltip.piece_tag{ "data-toggle"=>"modal", :href => "#pagesTaggingDialog", :title => "Tagger" }
            %i.icon-tag 
          %a.delete_piece_composition.margin3.do-tooltip.hide{href: '#', title: 'Supprimer les pièces' }
            %i.icon-trash
          %a.composer.margin3.do-tooltip.hide{"data-toggle" => "modal", :href => "#compositionDialog", :title => "Composer"}
            %i.icon-random
          %a.compta_analysis_edition.margin3.do-tooltip.hide{"data-toggle" => "modal", :href => "#comptaAnalysisEdition", :title => "Editer compta analytique" } 
            %i.icon-edit
          %a.download.margin3.do-tooltip{ :title => "Télécharger", :target => "_blank" }
            %i.icon-download-alt
          %a.zip_download.margin3.do-tooltip{ :title => "Télécharger une archive zip", :target => "_blank" }
            %i.icon-download          
          |           
          - if (@user.collaborator? && @software != '' && @need_delivery != 'no')
            %a.do-deliverAllPreseizure.do-tooltip.margin3{href: '#', title: "Livraison écriture comptable (#{@software_human_name})"}
              %i.icon-refresh
          - if (@user.collaborator?) 
            %a.tip_edit_multiple.do-editSelectedPreseizures.do-tooltip.margin3.hide{"data-toggle"=>"modal", :href => "#editSelectedPreseizures", :title => "Edition multiple"}
          %a.do-exportSelectedPreseizures.do-tooltip.margin3{href: '#exportSelectedPreseizures', title: 'Export écritures comptables', data: { toggle: 'modal' } }
            %i.icon-share-alt          
          |                        
          %a.do-selectAllPages.do-tooltip.margin3{:href => "#", :title => "Tous"}
            %i.icon-ok
          %a.do-unselectAllPages.do-tooltip.margin3{:href => "#", :title => "Aucun"}
            %i.icon-ban-circle
    #lists_pieces
      #lists_pieces_content.clearfix
        %ul.margin0.margin2bottom{ style: "clear:both;", :id => "pages" }
          = render :partial => "/account/documents/pieces/document", :collection => @documents
    .actionGroup.clearfix
      .loader.margin1top.pull-left
        .feedback.inactive
          %span.out Aucun traitement