%li.alone.pieces{ id: "document_#{temp_document.id}", style: 'display: none' }
  %input{ type: :hidden, name: :name, value: temp_document.original_file_name }
  %input{ type: :hidden, name: :page_number, value: temp_document.position }
  = link_to '', temp_document.cloud_content_object.url, class: 'zoom do-showPage', title: 'Visualiser la pièce'
  .pagethumb
    .thumb= image_tag temp_document_thumb_url(temp_document)
  .foot
    %span
