#subscription
  .row-fluid
    .span12.box
      .row-fluid
        .span2
        .span8
          %h3.aligncenter
            Paramètres par défaut des abonnements créé par le collaborateur :
            %br
            #{ link_to @user.info, account_organization_collaborator_path(@user) }
        .span2.alignright
          = icon_link_to edit_account_organization_default_subscription_path, { icon: 'edit' }, { class: 'btn' }

  .box
    .row-fluid
      .span7
        = render partial: 'account/customers/options'