.block
  %h3 Reminder email management
  .content
    %p
      Here you can
      %span.hightlight manage
      reminder emails

    %p
      %b Legend:
      %ul.list
        %li!= image_tag("web-app-theme/application_edit.png", :alt => "Edit") + " to edit a reminder email"
        %li!= image_tag("web-app-theme/cross.png", :alt => "Delete") + " to delete a reminder email"