---
http_interactions:
- request:
    method: post
    uri: https://idocus-test.biapi.pro/2.0/auth/init?client_id=1665108&client_secret=vdao1j5N8vtUgJCvV/voYffYd4d425k7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"auth_token": "cgtHGWA7a/uelIoViOZyTTbWoqeo52nt", "type": "permanent"}'
  recorded_at: Wed, 02 Nov 2016 12:41:38 GMT
- request:
    method: get
    uri: https://idocus-test.biapi.pro/2.0/users/me/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer cgtHGWA7a/uelIoViOZyTTbWoqeo52nt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"total": 1, "profiles": [{"id_user": 116, "admin": false, "email":
        "cgtHGWA7a/uelIoViOZyTTbWoqeo52nt@biapi.pro", "state": 1, "contact": {"city":
        null, "first_name": null, "name": null, "society": null, "gender": null, "phone":
        null, "postal_code": null, "address": null}, "role": "admin", "sponsor": "530001",
        "conf": {}, "type": null, "id": 113}]}'
  recorded_at: Wed, 02 Nov 2016 12:41:39 GMT
recorded_with: VCR 3.0.0
