---
http_interactions:
- request:
    method: post
    uri: https://idocus.biapi.pro/2.0/users/me/connections?id_bank=40&login=John%20Doe&password=1234&website=par
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TydyTI9C4YgG6kyujoulpuT0AQ57l5It
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Stale:
      - '1'
    body:
      encoding: US-ASCII
      string: '{"error_message": null, "id_user": 106, "id_provider": 40, "id_bank":
        40, "last_update": "2016-09-30 18:41:03", "expire": null, "error": null, "active":
        true, "id": 62}'
  recorded_at: Fri, 30 Sep 2016 16:41:05 GMT
recorded_with: VCR 3.0.0
