---
http_interactions:
- request:
    method: post
    uri: https://idocus.biapi.pro/2.0/auth/init?client_id=4393859&client_secret=rZDGxlModEXlmm1EAmq6mafnIAKBD1e6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"auth_token": "/Trri/B/sg9kUzIcIyZPIklVw05mOZ+G", "type": "permanent"}'
  recorded_at: Fri, 23 Sep 2016 09:58:26 GMT
- request:
    method: post
    uri: https://idocus.biapi.pro/2.0/users/me/connections?id_bank=40&login=John%20Doe&password=1234&website=par
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer /Trri/B/sg9kUzIcIyZPIklVw05mOZ+G
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Stale:
      - '1'
    body:
      encoding: US-ASCII
      string: '{"error_message": null, "id_user": 100, "id_provider": 40, "id_bank":
        40, "last_update": null, "expire": null, "error": null, "active": true, "id":
        32}'
  recorded_at: Fri, 23 Sep 2016 09:58:59 GMT
recorded_with: VCR 3.0.0
