---
http_interactions:
- request:
    method: post
    uri: https://idocus-test.biapi.pro/2.0/users/me/connections?id_provider=40&login=John%20Doe&password=1234&website=par
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer cgtHGWA7a/uelIoViOZyTTbWoqeo52nt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Stale:
      - '1'
    body:
      encoding: US-ASCII
      string: '{"error_message": null, "id_user": 116, "id_provider": 40, "id_bank":
        40, "last_update": "2016-11-02 13:53:13", "expire": null, "error": null, "active":
        true, "id": 245}'
  recorded_at: Wed, 02 Nov 2016 12:53:18 GMT
recorded_with: VCR 3.0.0
