---
http_interactions:
- request:
    method: get
    uri: https://idocus.biapi.pro/2.0/users/me/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TydyTI9C4YgG6kyujoulpuT0AQ57l5It
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"total": 1, "profiles": [{"id_user": 106, "admin": false, "email":
        "TydyTI9C4YgG6kyujoulpuT0AQ57l5It@biapi.pro", "state": 1, "contact": {"city":
        null, "first_name": null, "name": null, "society": null, "gender": null, "phone":
        null, "postal_code": null, "address": null}, "role": "admin", "sponsor": "V20001",
        "conf": {}, "type": null, "id": 103}]}'
  recorded_at: Fri, 30 Sep 2016 15:59:22 GMT
recorded_with: VCR 3.0.0
