---
http_interactions:
- request:
    method: post
    uri: https://idocus.biapi.pro/2.0/users/me/connections/13139
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer CB43fRxYSTbE+hswS8yxCkWcWj8I/j2E
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Recruiting:
      - 'Budget Insight is hiring! Do not hesitate to contact us at jobs@budget-insight.com
        or on #budget-insight @ Freenode'
    body:
      encoding: UTF-8
      string: '{"id": 13139, "id_user": 2448, "id_connector": 40, "last_update": "2020-06-11
        14:04:03", "created": "2020-02-21 07:36:04", "active": true, "last_push":
        null, "next_try": "2020-06-12 17:34:01", "error": null, "error_message": null,
        "state": null, "expire": null, "id_provider": 40, "id_bank": 40, "connector_uuid":
        "338178e6-3d01-564f-9a7b-52ca442459bf"}'
  recorded_at: Fri, 12 Jun 2020 05:33:33 GMT
recorded_with: VCR 5.1.0
