---
http_interactions:
- request:
    method: put
    uri: https://idocus-test.biapi.pro/2.0/users/me/connections/245
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer cgtHGWA7a/uelIoViOZyTTbWoqeo52nt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"error_message": null, "id_user": 116, "id_provider": 40, "id_bank":
        40, "last_update": "2016-11-02 14:00:10", "expire": null, "error": null, "active":
        true, "id": 245}'
  recorded_at: Wed, 02 Nov 2016 13:00:50 GMT
recorded_with: VCR 3.0.0
