---
http_interactions:
- request:
    method: get
    uri: https://idocus-test.biapi.pro/2.0/users/me/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer iiEjDOvcC0lIMhmDMgZLhUTq2RbCnGKW
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Recruiting:
      - 'Budget Insight is hiring! Do not hesitate to contact us at jobs@budget-insight.com
        or on #budget-insight @ Freenode'
    body:
      encoding: UTF-8
      string: '{"total": 4, "balance": 17557.8500000000, "balances": {"EUR": 12709.5800000000,
        "GBP": 1701.0600000000, "USD": 3147.2100000000}, "coming_balances": {"EUR":
        12709.5800000000, "GBP": 1701.0600000000, "USD": 3147.2100000000}, "accounts":
        [{"id": 14442, "id_connection": 12083, "id_user": 3325, "id_source": 149,
        "id_parent": null, "number": "****1393", "webid": "2741588268268091098702995570958043288679457493922419043177",
        "original_name": "Rachad Paris IDF", "balance": 0E-10, "coming": null, "display":
        true, "last_update": "2020-03-15 22:00:41", "deleted": null, "disabled": null,
        "iban": "FR7630004003770001022139368", "currency": {"id": "EUR", "symbol":
        "€", "prefix": false, "crypto": false, "precision": 2, "marketcap": null,
        "datetime": null, "name": "Euro"}, "id_type": 6, "bookmarked": 0, "name":
        "Rachad Paris IDF", "error": null, "usage": null, "ownership": "co-owner",
        "company_name": null, "bic": "BNPAFRPPXXX", "coming_balance": 0E-10, "formatted_balance":
        "0 €", "type": "checking", "information": {}, "loan": null}, {"id": 15578,
        "id_connection": 13036, "id_user": 3325, "id_source": 1795, "id_parent": null,
        "number": "EUR", "webid": "EUR", "original_name": "Nazim Taleb EUR BUSINESS",
        "balance": 12709.5800000000, "coming": null, "display": true, "last_update":
        "2020-05-13 21:23:06", "deleted": null, "disabled": null, "iban": null, "currency":
        {"id": "EUR", "symbol": "€", "prefix": false, "crypto": false, "precision":
        2, "marketcap": null, "datetime": nu[...]
- request:
    method: get
    uri: https://idocus-test.biapi.pro/2.0/users/me/accounts/15578/transactions?max_date=2020-04-30&min_date=2020-04-17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer iiEjDOvcC0lIMhmDMgZLhUTq2RbCnGKW
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Recruiting:
      - 'Budget Insight is hiring! Do not hesitate to contact us at jobs@budget-insight.com
        or on #budget-insight @ Freenode'
    body:
      encoding: UTF-8
      string: '{"total": 287, "first_date": "2017-04-30", "last_date": "2020-05-11",
        "result_min_date": "2020-04-17", "result_max_date": "2020-04-30", "transactions":
        [{"id": 5904407, "id_account": 15578, "webid": "44C81162MC8258012", "application_date":
        "2020-04-29", "date": "2020-04-29", "value": null, "gross_value": 30.0000000000,
        "original_wording": "Paiement à miloud zitout", "simplified_wording": "Paiement
        à miloud zitout", "stemmed_wording": "PAIEMENT À MILOUD ZITOUT", "wording":
        "Paiement à miloud zitout", "id_category": 9998, "state": "fail_categorizing",
        "date_scraped": "2020-04-30 21:51:23", "rdate": "2020-04-29", "vdate": null,
        "bdate": "2020-04-29", "coming": false, "active": true, "id_cluster": null,
        "comment": null, "last_update": "2020-04-30 21:51:23", "deleted": null, "original_value":
        null, "original_gross_value": null, "original_currency": null, "commission":
        -1.2200000000, "commission_currency": null, "country": null, "counterparty":
        null, "card": null, "type": "bank", "formatted_value": null, "documents_count":
        0, "informations": {}, "nopurge": 0}, {"id": 5897776, "id_account": 15578,
        "webid": "20V14747P0704953C", "application_date": "2020-04-26", "date": "2020-04-26",
        "value": null, "gross_value": 300.0000000000, "original_wording": "Paiement
        à Boualem Mezrar", "simplified_wording": "Paiement à Boualem Mezrar", "stemmed_wording":
        "PAIEMENT À BOUALEM MEZRAR", "wording": "Paiement à Boualem Mezrar", "id_category":
        9998, "state": "fail_categorizing", "date_scraped": "2020-04-27 10:55:18",
        [...]
- request:
    method: post
    uri: https://agent.bearer.sh/logs
    body:
      encoding: UTF-8
      string: '{"secretKey":"app_63d2b0332c5550a40a549b82a5c6ca358be62b1aaa4668df38","appEnvironment":"dGVzdA==","runtime":{"type":"x86_64-linux","arch":"x86_64","platform":"linux","version":"2.6.5","hostname":"devpc"},"agent":{"type":"ruby","version":"3.1.0","log_level":"DETECTED"},"logs":[{"protocol":"https","hostname":"idocus.biapi.pro","port":443,"logLevel":"DETECTED"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - app_63d2b0332c5550a40a549b82a5c6ca358be62b1aaa4668df38
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ack":true}'
  recorded_at: Thu, 14 May 2020 12:56:57 GMT
- request:
    method: get
    uri: https://idocus-test.biapi.pro/2.0/categories?client_id=30638817&client_secret=8PCMiaJzWIkhvgAemdb0GiHrqpb7oAp3
    body:
      encoding: UTF-8
      string: '{ application: "sharedAccess" }'
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Recruiting:
      - 'Budget Insight is hiring! Do not hesitate to contact us at jobs@budget-insight.com
        or on #budget-insight @ Freenode'
    body:
      encoding: UTF-8
      string: '{"categories": [{"id": 9998, "id_parent_category": null, "name": "Indéfini",
        "income": null, "color": "D7D3BC", "id_parent_category_in_menu": null, "name_displayed":
        "Indéfini", "refundable": false, "id_user": null, "id_logo": null, "hidden":
        false, "accountant_account": null, "children": [{"id": 112, "id_parent_category":
        112, "name": "Chèque", "income": false, "color": "FFB100", "id_parent_category_in_menu":
        9998, "name_displayed": null, "refundable": false, "id_user": null, "id_logo":
        null, "hidden": false, "accountant_account": null, "checkable": true}, {"id":
        115, "id_parent_category": 115, "name": "Chèque", "income": true, "color":
        "FFEB00", "id_parent_category_in_menu": 9998, "name_displayed": null, "refundable":
        true, "id_user": null, "id_logo": null, "hidden": false, "accountant_account":
        null, "checkable": true}, {"id": 236, "id_parent_category": 236, "name": "Dépôt",
        "income": false, "color": "BBA455", "id_parent_category_in_menu": 9998, "name_displayed":
        "Dépôt", "refundable": fals[...]
[...]
- request:
    method: post
    uri: https://agent.bearer.sh/logs
    body:
      encoding: UTF-8
      string: '{"secretKey":"app_63d2b0332c5550a40a549b82a5c6ca358be62b1aaa4668df38","appEnvironment":"dGVzdA==","runtime":{"type":"x86_64-linux","arch":"x86_64","platform":"linux","version":"2.6.5","hostname":"devpc"},"agent":{"type":"ruby","version":"3.1.0","log_level":"DETECTED"},"logs":[{"protocol":"https","hostname":"idocus.biapi.pro","port":443,"logLevel":"DETECTED"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - app_63d2b0332c5550a40a549b82a5c6ca358be62b1aaa4668df38
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ack":true}'
  recorded_at: Thu, 14 May 2020 12:56:59 GMT
recorded_with: VCR 5.1.0
