---
http_interactions:
- request:
    method: post
    uri: https://idocus.biapi.pro/2.0/users/me/connections/32?login=John%20Doe%202&website=pro
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer /Trri/B/sg9kUzIcIyZPIklVw05mOZ+G
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Stale:
      - '1'
    body:
      encoding: US-ASCII
      string: '{"error_message": null, "id_user": 100, "id_provider": 40, "id_bank":
        40, "last_update": "2016-09-23 16:53:02", "expire": null, "error": null, "active":
        true, "id": 32}'
  recorded_at: Fri, 23 Sep 2016 15:01:51 GMT
recorded_with: VCR 3.0.0
