.navbar
  .navbar-inner
    .container-fluid
      .nav-collapse
        %ul.nav
          %li{ class: (params[:controller] == 'admin/log/visits' ? 'active' : '') }
            = link_to "Visites", admin_log_visits_path
