.list_options.row
  .col-md-6
    .float-left.padding1top
      Afficher par :
      = per_page_link 20      
      = per_page_link 50      
      = per_page_link 100
          
  .col-md-6
    .float-right
      = paginate @retrievers
