.box
  .row
    .col-md-8.padding1top
      %h3 Modification du récupérateur : #{@retriever.name}
    .col-md-4
      = image_tag('application/budgealogo.png', alt: 'Budget Insight', class: 'budgea_logo float-right')
= render partial: 'form'
