.box.derivationRight
  .row
    .col-md-8.padding1top
      %h3 Configuration d'un nouveau récupérateur
    .col-md-4
      = image_tag('application/budgealogo.png', alt: 'Budget Insight', class: 'budgea_logo float-right')
= render partial: 'form_internal'