#edit_scan_subscription.modal.fade.hide
  .modal-header
    %a{ class: 'close', 'data-dismiss' => 'modal' } ×
    %h3 Configurer l'abonnement
  .content

#edit_reminder_emails.modal.fade.hide
  .modal-header
    %a{ class: 'close', 'data-dismiss' => 'modal' } ×
    %h3 Editer les emails de rappels
  .content

#edit_file_sending_kit.modal.fade.hide
  .modal-header
    %a{ class: 'close', 'data-dismiss' => 'modal' } ×
    %h3 Editer le kit d'envoi de documents
  .content

#select_file_sending_kit.modal.fade.hide
  .modal-header
    %a{ class: 'close', 'data-dismiss' => 'modal' } ×
    %h3 Choisissez vos options de kit
  .content