#exercise.edit
  - if @customer.configured?
    .row.derivationRight
      .col-md-12.box
        %h3 Edition d'un exercice comptable pour le client : #{link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'accounting_plan')}
  - else
    = render 'account/customers/steps'
    .row.derivationRight
      .col-md-12.box
        %h3 Exercices comptables

  .row.derivationLeft
    .col-md-12.box
      = render 'form'
