.group
  %span.title
    #{product.title}
    
  %span.action
    != link_to image_tag("web-app-theme/application_edit.png", :alt => "Edit"), edit_admin_product_path(product)
    |
    != link_to image_tag("web-app-theme/cross.png", :alt => "delete"), admin_product_path(product), :method => :delete, :confirm => "Êtes-vous sûr ?"
  
  - product.product_groups.where(:product_supergroup_id => nil).by_position.entries.each do |product_group|
    %ul
      != render :partial => "product_group", :locals => { :product_group => product_group, :product => product }
