.navbar
  .navbar-inner
    .container-fluid
      .nav-collapse
        %ul.nav
          %li{ class: ('active' if action_name == 'index') }
            = link_to 'Index', admin_gray_labels_path
          %li{ class: ('active' if action_name == 'new') }
            = link_to 'Nouveau', new_admin_gray_label_path