#gray_label.edit
  = render partial: 'navigation'

  .row-fluid
    .span12.panel
      %h2 Edition de la marque grise : #{@gray_label.name}
  .row-fluid
    .span12.panel
      = render partial: 'form'
