.block
  .content
    %h2.title Documents Viewer
    .inner
      %table.table
        %tr
          %th Created at
          %th Name
          %th Documents number
          %th.last &nbsp;
        - @packs.each do |pack|
          %tr{:class => cycle("odd", "even")}
            %td= l(pack.created_at)
            %td= link_to pack.name, pack.documents.originals.first.content.url rescue pack.name
            %td= pack.documents.count - 1 rescue "inconnu"
            %td.last
      
      .actions-bar.wat-cf
        .actions
        != will_paginate @packs
        
- content_for :sidebar, render(:partial => 'sidebar')