//DocumentComposer widget
#useraccount.scrollpane
  .titlebar.margin3top
    %h1.floattoleft
      NOUVELLE ORDRE DE PRELEVEMENT BANCAIRE
  .wrapper
    %p.margin1top
      - if flash[:alert].present?
        .flash
          .errors.margin2bottom.margin1top
            %span.title= flash[:alert]
            %br
      %form{ :action => "http://grevalis.alwaysdata.com/sample/aller.php", :method => :post }
        %span Les champs marquées d'un * sont obligatoires.
        %br/
        %br/
  
        %h4 Informations d'identification
  
        %label{:for => "transactionId"} Transaction ID:
        %input#transactionId{:name => "transactionId", :size => "20", :type => "text"}/
        %br/
        %br/
  
        %label{:for => "clientType1"} Type de client*:
        %input#clientType1{:name => "clientType", :type => "radio", :value => "individual"}/
        Particulier
        %input#clientType2{:name => "clientType", :type => "radio", :value => "corporate"}/
        Entreprise
  
        %label{:for => "firstName"} Prénom*:
        %input#firstName{:maxlength => "32", :name => "firstName", :size => "20", :type => "text"}/
        %br/
        %br/
  
        %label{:for => "lastName"} Nom*:
        %input#lastName{:maxlength => "32", :name => "lastName", :size => "20", :type => "text"}/
        %br/
        %br/
  
        %label{:for => "clientReference"} Identifiant du client*:
        %input#clientReference{:name => "clientReference", :size => "20", :type => "text"}/
        %br/
        %br/

  
        %h4 Adresse de facturation
  
        %label{:for => "line1Inv"} Adresse *:
        %input#line1Inv{:maxlength => "70", :name => "line1Inv", :size => "20", :type => "text"}/
        %br/
        %br/
  
        %label{:for => "cityInv"} Ville*:
        %input#cityInv{:maxlength => "35", :name => "cityInv", :size => "20", :type => "text"}/
        %br/
        %br/
  
        %label{:for => "postalCodeInv"} Code postal*:
        %input#postalCodeInv{:maxlength => "5", :name => "postalCodeInv", :size => "20", :type => "text"}/
        %br/
        %br/
  
        %label{:for => "countryInv"} Pays*:
        %select#countryInv{:name => "countryInv", :size => "1"}
          %option{:value => "DE"} Allemagne
          %option{:value => "AT"} Autriche
          %option{:value => "BE"} Belgique
          %option{:value => "BG"} Bulgarie
          %option{:value => "CY"} Chypre
          %option{:value => "DK"} Danemark
          %option{:value => "ES"} Espagne
          %option{:value => "EE"} Estonie
          %option{:value => "FI"} Finlande
          %option{:selected => "selected", :value => "FR"} France
          %option{:value => "GI"} Gibraltar
          %option{:value => "GR"} Grèce
          %option{:value => "GP"} Guadeloupe
          %option{:value => "GF"} Guyane Française
          %option{:value => "HU"} Hungary
          %option{:value => "IE"} Irlande
          %option{:value => "IS"} Islande
          %option{:value => "IT"} Italie
          %option{:value => "LV"} Lettonie
          %option{:value => "LI"} Liechtenstein
          %option{:value => "LT"} Lituanie
          %option{:value => "LU"} Luxembourg
          %option{:value => "MT"} Malte
          %option{:value => "MQ"} Martinique
          %option{:value => "MC"} Monaco
          %option{:value => "NO"} Norvège
          %option{:value => "NL"} Pays-Bas
          %option{:value => "PL"} Pologne
          %option{:value => "PT"} Portugal
          %option{:value => "RO"} Roumanie
          %option{:value => "GB"} Royaume-Uni
          %option{:value => "CZ"} République Tchèque
          %option{:value => "RE"} Réunion
          %option{:value => "SK"} Slovaquie
          %option{:value => "SI"} Slovénie
          %option{:value => "CH"} Suisse
          %option{:value => "SE"} Suède
          %option{:value => "AX"} Îles Åland
        %br/
        %br/
  
        %h4 Transaction :
        %input{:name => "requestType", :type => "hidden", :value => "mandate"}/
        %br/
        %br/
        
        .buttonsrow.margin2top
          %input{:type => :submit, :value=> "valider", :class => "button whitebtn w100 floattoright"}
