//DocumentComposer widget
#useraccount.scrollpane
  .titlebar.margin3top
    %h1.floattoleft
      INFORMATION DE PRELEVEMENT BANCAIRE
  .wrapper
    %p.margin1top
      - if flash[:notice].present?
        .flash
          .notice.margin2bottom.margin1top
            %span.title= flash[:notice]
            %br
      %ul
        - if @debit_mandate
          - @debit_mandate.fields.each do |key,value|
            %li="#{key} : #{self[key]}"
