.block
  %h3 Account book type management
  .content
    %p
      Here you can
      %span.hightlight manage
      account book types

    %p
      %b Legend:
      %ul.list
        %li!= image_tag("web-app-theme/application_edit.png", :alt => "Edit") + " to edit an account book type"
        %li!= image_tag("web-app-theme/cross.png", :alt => "Delete") + " to delete an account book type"
