.block
  %h3 User management
  .content
    %p
      Here you can
      %span.hightlight manage
      New Page Type


    %p
      %b Ordering:
      %ul.list
        %li
          %em
            Numéro :
          permet de gérer l'association avec les pages (tri ascendant)
        %li
          %em
            Position :
          permet de gérer l'ordre dans la liste des types de pages (tri ascendant)
