!!!
%html
  %head
    %title [iDocus] Rappel
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-type' }
  %body
    != @content
    %br
    %br
    \------
    %br
    %i Ceci est un mail automatique, veuillez ne pas y répondre s'il vous plaît. Si vous avez un problème, vous pouvez contacter votre cabinet directement ou le support iDocus.
