//DocumentComposer widget
#documentcomposer
  //Page browser
  .pagesbrowser.scrollpane
    .titlebar.margin1top
      %h1.floattoleft Erreur 404
      %br
      %br
      %p #{@klass || "Page"} introuvable
