---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta?cursor=AAGCHcV1jdcMV3psRBxXHISYoIOApIQqbltOlSQjv07H5sVa0nSzdg33Rh6pb3TLV-sPnK7OEgQM_GMbFu2aDSlKIzrrfQGhpNsegqIW3wt9bjEXssYQbgvTgz2ElWL8ta3cmxBC7US-ArkXw84KZuHbt4gZwe0cti_ovitErwAhDg&path_prefix=/exportation%20vers%20iDocus/TS%25COL1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '82'
      X-Dropbox-Request-Id:
      - 9de31d3663a2abe6f8c41325825f075a
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"has_more": false, "cursor": "AAFP59d1_QFmSaA5Slnpc0eSafLsYkhncMHJFR6v__8dHCLGmS6lwiGibznS-x_hPJ7lZWC5KS46ISMdAwcYNucWUuOWYzV0VJAOHC55r2LDh4rsci_TX8cLATDvYU7D4s-htFg-eR3sYCHL8nMSLllqcl2vsqiCJZxToyMTv4wb6Q",
        "entries": [], "reset": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=/exportation%20vers%20iDocus/TS%25COL1/TS%250003%20-%20GHI/p%C3%A9riode%20actuelle/AC&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '263'
      X-Dropbox-Request-Id:
      - fe3f21b56e4c7bfe4edd9dc24b47ac9a
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "1f23d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 19 Oct 2015 18:27:21 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0003 - GHI/p\u00e9riode actuelle/AC", "is_dir": true, "icon":
        "folder", "root": "app_folder", "revision": 498}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=/exportation%20vers%20iDocus/TS%25COL1/TS%250003%20-%20GHI/p%C3%A9riode%20actuelle/BQ&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '328'
      X-Dropbox-Request-Id:
      - 2df0f173152a3d77f5cfbbe0cc9ab784
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "1f53d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 19 Oct 2015 18:27:24 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0003 - GHI/p\u00e9riode actuelle/BQ", "is_dir": true, "icon":
        "folder", "root": "app_folder", "revision": 501}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=/exportation%20vers%20iDocus/TS%25COL1/TS%250003%20-%20GHI/p%C3%A9riode%20pr%C3%A9c%C3%A9dente/AC&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '250'
      X-Dropbox-Request-Id:
      - 57bc256ece6a9e22f0aa87a82382e536
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "1f63d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 19 Oct 2015 18:27:26 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0003 - GHI/p\u00e9riode pr\u00e9c\u00e9dente/AC", "is_dir":
        true, "icon": "folder", "root": "app_folder", "revision": 502}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=/exportation%20vers%20iDocus/TS%25COL1/TS%250003%20-%20GHI/p%C3%A9riode%20pr%C3%A9c%C3%A9dente/BQ&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '265'
      X-Dropbox-Request-Id:
      - 299ee6731861c3a8e6ea9dd94612093e
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "1f83d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Mon, 19 Oct 2015 18:27:28 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0003 - GHI/p\u00e9riode pr\u00e9c\u00e9dente/BQ", "is_dir":
        true, "icon": "folder", "root": "app_folder", "revision": 504}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 2.9.3
