---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: path_prefix=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '84'
      X-Dropbox-Request-Id:
      - d62d2e3ce926bf9fdb83bbfd4f4b1424
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"has_more": false, "cursor": "AAEy9n11m-7fI-qvMY-3zOgSTWH0CSyMM4NN9v4Zbu5tPd1cIZKTgkskdff5qNgKy-Jd5qxN47OtjK9z9ZHC7D9H_BB6Dg4QouTAC8m7XiDmS5CYdBF-uMdNyR9pO73KWG8hIX1mG5rqpAJzYeT9H01U_oMZSSuqR8WRnD0oFnjAcQ",
        "entries": [], "reset": true}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1%2FTS%250001+-+ABC%2Fp%C3%A9riode+actuelle%2FAC
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '286'
      X-Dropbox-Request-Id:
      - e9ae11a9c5caaef4eadca8339c733957
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "2af3d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Sat, 24 Oct 2015 19:05:51 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0001 - ABC/p\u00e9riode actuelle/AC", "is_dir": true, "icon":
        "folder", "root": "app_folder", "revision": 687}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1%2FTS%250002+-+DEF%2Fp%C3%A9riode+pr%C3%A9c%C3%A9dente%2FBQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '309'
      X-Dropbox-Request-Id:
      - 92dadba6d6ee735da4fe8a0db5893455
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "2be3d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Sat, 24 Oct 2015 19:06:13 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode pr\u00e9c\u00e9dente/BQ", "is_dir":
        true, "icon": "folder", "root": "app_folder", "revision": 702}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 2.9.3
