---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: cursor=AAE4gRCiNu0uIxU4U-sbrwgw34Mfj59372ycZelcbiKCIj6cLgTrg-rwxR75SB5_LGWhD9CjmEVHoiA7sK0BrLfdl-xRHRkcqcIvRBeYklFyc0sbhU5-5K7FaBYcpNp1TJZ-GUlDrlhQIN3rIaeHKQ7waJPrTAiUdugkrO131kQ1Mw&path_prefix=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '57'
      X-Dropbox-Request-Id:
      - 6231497f686768a06d6a16d2824b39f5
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"has_more": false, "cursor": "AAErAvBLOVt8SWOC8HabPkf3LmsyOAsZrb2jFf80EVDZILo84vJ6vLuJysD4b9b1ooOs2nhParA0bm7bptysXAtII_1Lc63ObZkrJdTt3fzucEyh--TizfNO1HxgSrAw968tLjuwSt7hMour9weeVv2LFv9BwZf2Mba2zoptRwEm4w",
        "entries": [], "reset": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1%2FTS%250002+-+DEF%2Fp%C3%A9riode+actuelle%2FVT
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '298'
      X-Dropbox-Request-Id:
      - 0458e4d8d8e69bbda3eebd86975c7efb
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"is_deleted": true, "revision": 751, "bytes": 0, "thumb_exists": false,
        "rev": "2ef3d59c017", "modified": "Sat, 24 Oct 2015 19:44:35 +0000", "path":
        "/exportation\u00a0vers iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode actuelle/VT",
        "is_dir": true, "icon": "folder_gray", "root": "app_folder", "size": "0 bytes"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1%2FTS%250002+-+DEF%2Fp%C3%A9riode+pr%C3%A9c%C3%A9dente%2FVT
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '253'
      X-Dropbox-Request-Id:
      - 9a2d352b5bd850f468c9ad3aaa087063
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"is_deleted": true, "revision": 752, "bytes": 0, "thumb_exists": false,
        "rev": "2f03d59c017", "modified": "Sat, 24 Oct 2015 19:44:37 +0000", "path":
        "/exportation\u00a0vers iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode pr\u00e9c\u00e9dente/VT",
        "is_dir": true, "icon": "folder_gray", "root": "app_folder", "size": "0 bytes"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 2.9.3
