---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: cursor=AAFqwYsvGNEvUtFnv75jI_uvcAbJh4FDMfbQOlspQGQ4M_-UuKSwdjnaJlOdEq3zQ162r_LFnHhnu87tWA6fN9pL6wv6fLG1TguWGDExqR3QQn1LctZEgrxlKSMu62c1q8NCI8SyhL9NMhgmhWd7u7M_XiWdkOqXaQDF2RmRre77Xw&path_prefix=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '47'
      X-Dropbox-Request-Id:
      - 3712dd20f99276773b70085a719f3220
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"has_more": false, "cursor": "AAE4gRCiNu0uIxU4U-sbrwgw34Mfj59372ycZelcbiKCIj6cLgTrg-rwxR75SB5_LGWhD9CjmEVHoiA7sK0BrLfdl-xRHRkcqcIvRBeYklFyc0sbhU5-5K7FaBYcpNp1TJZ-GUlDrlhQIN3rIaeHKQ7waJPrTAiUdugkrO131kQ1Mw",
        "entries": [], "reset": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1%2FTS%250002+-+DEF%2Fp%C3%A9riode+actuelle%2FBQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '235'
      X-Dropbox-Request-Id:
      - 54375612bc1c521b6218e5f54c55b86f
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"is_deleted": true, "revision": 747, "bytes": 0, "thumb_exists": false,
        "rev": "2eb3d59c017", "modified": "Sat, 24 Oct 2015 19:41:34 +0000", "path":
        "/exportation\u00a0vers iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode actuelle/BQ",
        "is_dir": true, "icon": "folder_gray", "root": "app_folder", "size": "0 bytes"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1%2FTS%250002+-+DEF%2Fp%C3%A9riode+actuelle%2FBQ1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '234'
      X-Dropbox-Request-Id:
      - 949b85ce13aaf28dd2dfdf788b240699
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "2ed3d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Sat, 24 Oct 2015 19:41:39 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode actuelle/BQ1", "is_dir": true, "icon":
        "folder", "root": "app_folder", "revision": 749}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1%2FTS%250002+-+DEF%2Fp%C3%A9riode+pr%C3%A9c%C3%A9dente%2FBQ1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '251'
      X-Dropbox-Request-Id:
      - 606f72b244ad04df605a3b07f42a7302
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "2ee3d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Sat, 24 Oct 2015 19:41:42 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode pr\u00e9c\u00e9dente/BQ1", "is_dir":
        true, "icon": "folder", "root": "app_folder", "revision": 750}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 2.9.3
