---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta?cursor=AAHFIuSQJFLWWWBxk0SuUGdC7NnHzUUugEokgzPU4ws5yATzyytmzd2cX_SwORSqS797p6whZVczhHHnWrbsU7cHArR4xH7_GuZp9f3uOS-wskJ_mKlWDBou_fQ_cHC9xXhV-J4gmEri_lUhEG5kCL2yg6QA1zU-OnFPnB2W9GBgbg&path_prefix=/exportation%20vers%20iDocus/TS%25COL1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '58'
      X-Dropbox-Request-Id:
      - b1c55a1737eed913276807990c161fc1
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"has_more": false, "cursor": "AAH0y7qHzlsm42XuS3VsLCF3QmrvyGVp7FZmxNq_RcAJWorMEf6lEHDbsGquwJJeOEbWLAG4RJkszUf1NMtxzCJvmtl0sM1zsuMnS-pzWrWhousiWxRJX8645sDxJCxEqs1V3PTvnfOA4DHBWC47Iz_agZhxxhcmNm0IiOavaQ4aMg",
        "entries": [["/exportation\u00a0vers idocus/ts%col1/ts%0002 - def/p\u00e9riode
        actuelle/vt", {"bytes": 0, "rev": "1b83d59c017", "revision": 440, "icon":
        "folder", "path": "/exportation\u00a0vers iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode
        actuelle/VT", "is_dir": true, "thumb_exists": false, "root": "app_folder",
        "modified": "Tue, 13 Oct 2015 17:17:46 +0000", "size": "0 bytes"}], ["/exportation\u00a0vers
        idocus/ts%col1/ts%0002 - def/p\u00e9riode pr\u00e9c\u00e9dente/vt", {"bytes":
        0, "rev": "1b93d59c017", "revision": 441, "icon": "folder", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode pr\u00e9c\u00e9dente/VT", "is_dir":
        true, "thumb_exists": false, "root": "app_folder", "modified": "Tue, 13 Oct
        2015 17:17:48 +0000", "size": "0 bytes"}]], "reset": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?path=/exportation%20vers%20iDocus/TS%25COL1/TS%250002%20-%20DEF/p%C3%A9riode%20actuelle/BQ&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '200'
      X-Dropbox-Request-Id:
      - a1abd2058dac78b534bdfc1c51e97d85
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"is_deleted": true, "revision": 442, "bytes": 0, "thumb_exists": false,
        "rev": "1ba3d59c017", "modified": "Tue, 13 Oct 2015 17:21:46 +0000", "path":
        "/exportation\u00a0vers iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode actuelle/BQ",
        "is_dir": true, "icon": "folder_gray", "root": "app_folder", "size": "0 bytes"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?path=/exportation%20vers%20iDocus/TS%25COL1/TS%250002%20-%20DEF/p%C3%A9riode%20pr%C3%A9c%C3%A9dente/BQ&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '216'
      X-Dropbox-Request-Id:
      - 4d39ec00f85f10c52a78f86bc22e42f6
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"is_deleted": true, "revision": 443, "bytes": 0, "thumb_exists": false,
        "rev": "1bb3d59c017", "modified": "Tue, 13 Oct 2015 17:21:49 +0000", "path":
        "/exportation\u00a0vers iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode pr\u00e9c\u00e9dente/BQ",
        "is_dir": true, "icon": "folder_gray", "root": "app_folder", "size": "0 bytes"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=/exportation%20vers%20iDocus/TS%25COL1/TS%250002%20-%20DEF/p%C3%A9riode%20actuelle/BQ1&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '220'
      X-Dropbox-Request-Id:
      - 8bebabc1f61d48f9a665609cd4ef7157
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "1bc3d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Tue, 13 Oct 2015 17:21:52 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode actuelle/BQ1", "is_dir": true, "icon":
        "folder", "root": "app_folder", "revision": 444}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=/exportation%20vers%20iDocus/TS%25COL1/TS%250002%20-%20DEF/p%C3%A9riode%20pr%C3%A9c%C3%A9dente/BQ1&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '280'
      X-Dropbox-Request-Id:
      - 8632b15b28174675ad178c3260b13409
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "1bd3d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Tue, 13 Oct 2015 17:21:57 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode pr\u00e9c\u00e9dente/BQ1", "is_dir":
        true, "icon": "folder", "root": "app_folder", "revision": 445}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 2.9.3
