---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta?cursor=AAE4uvq0UnA5udRVwaNwhFy2qXP0JNbyKsgcXZdZ6F1UqXKE3I-Stv4_MlF6GAA045GWbM4iLj42Sh3YpEeM1ruK97r0DwXXaYnao6VQgB7_Mm_xaWj4g49b_hpmKhzWT82FW9lDtgQxuLwgjhLjYcsAOgjR1qIZ-IDjTsuAvMyYZA&path_prefix=/exportation%20vers%20iDocus/TS%25COL1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '85'
      X-Dropbox-Request-Id:
      - cc7dbf7c1eda2ac13b673f56e438c822
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"has_more": false, "cursor": "AAG-wLmKCIa4wEISQcCQAio9DFoQ8xytlMG6S3qiJRuqSy8pTidLx_D3sEG1UE1zo9mjapUlWml0cOqSvuzFKkfJjTMjy8eVQi-hSsc4G_W2IJ9kWPp2d49W2FNjfdyDIzdHWNZ4nWO5vT6LamdsYnxsNKxMBAA3nHdaXP39GWmYZQ",
        "entries": [["/exportation\u00a0vers idocus/ts%col1/ts%0002 - def/p\u00e9riode
        actuelle/ac", {"bytes": 0, "rev": "19a3d59c017", "revision": 410, "icon":
        "folder", "path": "/exportation\u00a0vers iDocus/TS%COL1/TS%0002 - DEF/p\u00e9riode
        actuelle/AC", "is_dir": true, "thumb_exists": false, "root": "app_folder",
        "modified": "Tue, 13 Oct 2015 17:02:39 +0000", "size": "0 bytes"}], ["/exportation\u00a0vers
        idocus/ts%col1/ts%0002 - def", {"bytes": 0, "rev": "19b3d59c017", "revision":
        411, "icon": "folder", "path": "/exportation\u00a0vers iDocus/TS%COL1/TS%0002
        - DEF", "is_dir": true, "thumb_exists": false, "root": "app_folder", "modified":
        "Tue, 13 Oct 2015 17:02:39 +0000", "size": "0 bytes"}], ["/exportation\u00a0vers
        idocus/ts%col1/ts%0002 - def/p\u00e9riode actuelle", {"bytes": 0, "rev": "19c3d59c017",
        "revisi[...]
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=/exportation%20vers%20iDocus/TS%25COL1/TS%250001%20-%20ABC/p%C3%A9riode%20actuelle/AC&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '303'
      X-Dropbox-Request-Id:
      - 60e4b4558f8166da7ffac080af60e124
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "1b13d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Tue, 13 Oct 2015 17:09:16 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0001 - ABC/p\u00e9riode actuelle/AC", "is_dir": true, "icon":
        "folder", "root": "app_folder", "revision": 433}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=/exportation%20vers%20iDocus/TS%25COL1/TS%250001%20-%20ABC/p%C3%A9riode%20actuelle/VT&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '364'
      X-Dropbox-Request-Id:
      - 7050b0fc87428d739a76fa9b3724c32e
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "1b43d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Tue, 13 Oct 2015 17:09:19 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0001 - ABC/p\u00e9riode actuelle/VT", "is_dir": true, "icon":
        "folder", "root": "app_folder", "revision": 436}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=/exportation%20vers%20iDocus/TS%25COL1/TS%250001%20-%20ABC/p%C3%A9riode%20pr%C3%A9c%C3%A9dente/AC&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '368'
      X-Dropbox-Request-Id:
      - 68f2b14e34b754b8ec178ece565e696a
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "1b53d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Tue, 13 Oct 2015 17:09:21 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0001 - ABC/p\u00e9riode pr\u00e9c\u00e9dente/AC", "is_dir":
        true, "icon": "folder", "root": "app_folder", "revision": 437}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder?path=/exportation%20vers%20iDocus/TS%25COL1/TS%250001%20-%20ABC/p%C3%A9riode%20pr%C3%A9c%C3%A9dente/VT&root=sandbox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="bcdhzr36fnu5fpn",
        oauth_token="59dfvae34ievygaw", oauth_signature="x201tvs8q2eicni&2dqp6mmtv6r0u6i"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '388'
      X-Dropbox-Request-Id:
      - 7cb59070a0b3517b36d8ac028f38518a
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "1b73d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Tue, 13 Oct 2015 17:09:30 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0001 - ABC/p\u00e9riode pr\u00e9c\u00e9dente/VT", "is_dir":
        true, "icon": "folder", "root": "app_folder", "revision": 439}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 2.9.3
