---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: cursor=AAEWDmDqZQmdH7Kbicsm0hi6Pcs0pUUcZgYNleHKYfSngzFmXmZxkaorbQ0AeDtSga8I58QmBgSh92332V6PyK_OZ6qNG9QhkoX_F_ZU3qEr70WQgADGHe5n52Hg9yJB_cN_ivEXa_O_y6FcQsQCOu3fg_RZ_qWuvmWSwIqJyFIeoA&path_prefix=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '66'
      X-Dropbox-Request-Id:
      - fcec2c8b7a2acd1fd78d4b323f10e7d0
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"has_more": false, "cursor": "AAHShHi1N0EcRLpTH_qoyAYAr1mHb3bnMb2RKMdijO8rRR1dN2QycRFOlbngZanaMtMgn4XRI1SNkHvNB6H34_uuOUK1Wu4Whdm2n1iG_gadVVM2f5yj2yIE73wFZRG_9xsbVjBUwk3ZgePQ2JcLcJZdMJnN0MwxC-xX41LySU8Y2Q",
        "entries": [["/exportation\u00a0vers idocus/ts%col1/ts%0001 - abc/p\u00e9riode
        pr\u00e9c\u00e9dente/vt", null], ["/exportation\u00a0vers idocus/ts%col1/ts%0001
        - abc/p\u00e9riode pr\u00e9c\u00e9dente/ac", null], ["/exportation\u00a0vers
        idocus/ts%col1/ts%0001 - abc/p\u00e9riode pr\u00e9c\u00e9dente", null], ["/exportation\u00a0vers
        idocus/ts%col1/ts%0001 - abc/p\u00e9riode actuelle/vt", null], ["/exportation\u00a0vers
        idocus/ts%col1/ts%0001 - abc/p\u00e9riode actuelle/ac/corrupted (erreur fichier
        non valide pour idocus).pdf", null], ["/exportation\u00a0vers idocus/ts%col1/ts%0001
        - abc/p\u00e9riode actuelle/ac", null], ["/exportation\u00a0vers idocus/ts%col1/ts%0001
        - abc/p\u00e9riode actuelle", null], ["/exportation\u00a0vers idocus/ts%col1/ts%0001
        - abc", null], ["/exportation\u00a0vers idocus/ts%col1/old", {"bytes": 0,
        "rev": "2da3d59c017", "revision": 730, "icon": "folder", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/OLD", "is_dir": true, "thumb_exists": false, "root": "app_folder",
        "modified": "Sat, 24 Oct 2015 19:29:54 +0000", "size": "0 bytes"}], ["/exportation\u00a0vers
        idocus/ts%col1/old/p\u00e9riode actuelle", {"bytes": 0, "rev": "2db3d59c017",
        "revision": 731, "icon": "folder", "path": "/exportation\u00a0vers iDocus/TS%COL1/OLD/p\u00e9riode
        actuelle", "is_dir": true, "thumb_exists": false, "root": "app_folder", "modified":
        "Sat, 24 Oct 2015 19:29:54 +0000", "size": "0 bytes"}], ["/exportation\u00a0vers
        idocus/ts%col1/old/p\u00e9riode actuelle/ac", {"bytes": 0, "rev": "2dc3d59c017",
        "revision": 732, "icon": "folder", "path": "/exportation\u00a0vers iDocus/TS%COL1/OLD/p\u00e9riode
        actuelle/AC", "is_dir": true, "thumb_exists": false, "root": "app_folder",
        "modified": "Sat, 24 Oct 2015 19:29:54 +0000", "size": "0 bytes"}], ["/exportation\u00a0vers
        idocus/ts%col1/old/p\u00e9riode actuelle/ac/corrupted (erreur fichier non
        valide pour idocus).pdf", {"rev": "2dd3d59c017", "thumb_exists": false, "path":
        "/exportation\u00a0vers iDocus/TS%COL1/OLD/p\u00e9riode actuelle/AC/corrupted
        (erreur fichier non valide pour iDocus).pdf", "is_dir": false, "client_mtime":
        "Sat, 24 Oct 2015 19:18:56 +0000", "icon": "page_white_acrobat", "bytes":
        1117, "modified": "Sat, 24 Oct 2015 19:29:54 +0000", "size": "1.1 KB", "root":
        "app_folder", "mime_type": "application/pdf", "revision": 733}], ["/exportation\u00a0vers
        idocus/ts%col1/old/p\u00e9riode actuelle/vt", {"bytes": 0, "rev": "2de3d59c017",
        "revision": 734, "icon": "folder", "path": "/exportation\u00a0vers iDocus/TS%COL1/OLD/p\u00e9riode
        actuelle/VT", "is_dir": true, "thumb_exists": false, "root": "app_folder",
        "modified": "Sat, 24 Oct 2015 19:29:54 +0000", "size": "0 bytes"}], ["/exportation\u00a0vers
        idocus/ts%col1/old/p\u00e9riode pr\u00e9c\u00e9d[...]
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1%2FTS%250001+-+ABC%2Fp%C3%A9riode+actuelle%2FAC
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '419'
      X-Dropbox-Request-Id:
      - 5ae729e0339d2473eb8f869f2427336b
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "2e23d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Sat, 24 Oct 2015 19:30:56 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0001 - ABC/p\u00e9riode actuelle/AC", "is_dir": true, "icon":
        "folder", "root": "app_folder", "revision": 738}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%25COL1%2FTS%250001+-+ABC%2Fp%C3%A9riode+pr%C3%A9c%C3%A9dente%2FVT
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '279'
      X-Dropbox-Request-Id:
      - c5cdbef7cc05f1791747e2d10899bb87
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "2e83d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Sat, 24 Oct 2015 19:31:04 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%COL1/TS%0001 - ABC/p\u00e9riode pr\u00e9c\u00e9dente/VT", "is_dir":
        true, "icon": "folder", "root": "app_folder", "revision": 744}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 2.9.3
