@import common

// Admin
body
  padding-top: 30px

/* Sticky footer */
html, body
  height: 100%

.wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -4em

.footer, .push
  height: 4em

/*****************/

table
  tr
    th.total, td.total
      text-align: right
      font-weight: bold
    td.price
      text-align: right

#cms_images img
  max-width: 250px
  max-height: 75px

#user.show
  input[type=text], input[type=textarea]
    padding: 0
    margin: 0
    width: 75%
    height: 14px
    font-size: 11px
  table th.first
    width: 100px
  table td.checkbox
    width: 25px
  table td.value
    width: auto
    text-align: right
  .user_status
    th
      span
        position: relative
        top: 5px
    .date
      margin: 0
      padding: 0
    .select-date
      width: 66px !important
      height: 26px !important
      margin:
        top: 0
        bottom: 0
        right: 0
        left: -3px !important
      padding-left: 10px

#products
  .form
    .control-label
      width: 160px
    .controls
      margin-left: 180px
    .checkbox.inline
      padding-left: 0
      .control-label
        text-align: left
    textarea
      width: auto
      height: 180px
  table
    th, td
      text-align: left
    th.right, td.right
      text-align: right
    .checkbox
      input
        float: none
        margin-left: 0

h3 a
  font-size: 18px

.panel
  margin-bottom: 10px
  padding: 7px 19px 7px
  background-color: white
  border: 1px solid #DDD
  +border-radius(4px)
  +box-shadow(rgba(0, 0, 0, .065) 0 3px 5px)

#dashboard
  .panel
    padding-bottom: 0
  table
    .process
      width: 130px
    .date
      width: 100px
    .name
      width: 200px
    .count
      width: 20px
      text-align: right

.center
  vertical-align: middle !important
  text-align: center !important

.pagination
  height: 22px
  margin: 0
  margin-top: 10px
  padding: 0 7px
  a
    padding: 0 7px
    line-height: 20px

.filter_date
  input
    width: 78px
  .add-on
    position: relative
    left: 3px

i.gray
  color: #AAAAAA

@import "admin/*"
