@import common

// Admin
body
  background-color: #778899
  background: #{"linear-gradient(#778899, #FFF)"}
  background: #{"-moz-linear-gradient(#778899, #FFF)"}
  background: #{"-webkit-linear-gradient(#778899, #FFF)"}
  background: #{"-o-linear-gradient(#778899, #FFF)"}
  background-repeat: repeat
  background-attachment: fixed
  padding-top: 30px

.box, .card-body
  background-color: #F5F5F5

/*menu base*/
.bg-menu
  background-color: #696969 !important

.nav-tabs
  .dropdown
    .dropdown-menu
      .dropdown-item:hover
        background-color: #696969 !important

nav.navbar
  :background-color: #696969

nav.navbar .dropdown-menu
  background-color: #696969

nav.navbar .nav-link, nav.navbar .dropdown-item, footer a
  :color #FFF !important

.bg-brown
  background-color: #696969
.bg-brown-light
  background-color: #323232

/* Sticky footer */
.wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -4em

.footer
  background-image: url('application/bg_body.png')
  background-repeat: repeat
  background-attachment: fixed
  background-color: #DAE0E2
  color: #214255
  padding: 4px
.footer
  height: 2em
.push
  height: 4em

/*****************/

table
  tr
    th.total, td.total
      text-align: right
      font-weight: bold
    td.price
      text-align: right

#cms_images img
  max-width: 250px
  max-height: 75px

#user.show
  input[type=text], input[type=textarea]
    padding: 0
    margin: 0
    width: 75%
    height: 14px
    font-size: 11px
  table th.first
    width: 110px
  table td.checkbox
    width: 25px
  table td.value
    width: auto
    text-align: right
  .closed_account
    font-size: 14px
    margin-top: 7px
    padding:
      top: 4px
      bottom: 4px
      left: 6px
      right: 6px

h3 a
  font-size: 18px

.panel
  margin-bottom: 10px
  padding: 7px 19px 7px
  background-color: white
  border: 1px solid #DDD
  +border-radius(4px)
  +box-shadow(rgba(0, 0, 0, .065) 0 3px 5px)

#dashboard
  .panel
    padding-bottom: 0
    .badge-tags
      padding: 5px
      font-size: 12px
  table
    .date
      width: 100px
    .name
      width: 200px
    .count
      width: 20px
      text-align: right

.center
  vertical-align: middle !important
  text-align: center !important

.pagination
  height: 22px
  margin: 0
  padding: 0 7px
  a
    padding: 0 7px
    line-height: 20px

.filter_date
  input
    width: 78px
  .add-on
    position: relative
    left: 3px
i.gray
  color: #AAAAAA

@import "admin/*"
