/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require common
 *= require sass/fileuploader
 *= require_self
*/

html, body, div, span, object, iframe, hr, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small, strike, strong tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif !important; }

h1, h2, h3, h4 { color: #584528; }
h2 { font-size: 16px; }
.container { color: #584528; }
.container  a, .container-fluid a { text-decoration: none; }

.navbar-inner {
  background-color: #3e2f24;
  background-image: none; }
.navbar a, footer a {
  color: #c9dd03 !important;
  text-decoration: none !important; }
.navbar a:hover, footer a:hover {
  text-decoration: underline; }
.navbar .logo {
  width: 76px;
  height: 36px;
  float: left;
  display: block;
  padding: 0;
  margin: 0 20px 4px 0;
  background-color: white;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff; }
.navbar .logo img {
  position: relative;
  top: 7px;
  left: 11px; }
.navbar p {
  font-size: 11px; }


.subnav {
  display: block;
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none; }
.subnav > li > a {
  display: block; }
.subnav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee; }

.navbar .subnav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0; }
.navbar .subnav.pull-right {
  float: right; }
.navbar .subnav > li {
  display: block;
  float: left; }
.navbar .subnav > li > a {
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  color: #999999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
.navbar .subnav > li > a:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none; }
.navbar .subnav .active > a, .navbar .subnav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #222222;
  background-color: rgba(0, 0, 0, 0.5); }

body {
  padding-top: 30px; }

/* Sticky footer */
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
.footer, .push {
  height: 4em;
}
/*****************/

.aligncenter {
  text-align: center; }

table {
  tr {
    th.total, td.total {
      text-align: right;
      font-weight: bold;
    }
    td.price {
      text-align: right;
    }
  }
}

#cms_images img {
  max-width: 250px;
  max-height: 75px; }

#user {
  input[type=text], input[type=textarea] {
    padding: 0;
    margin: 0;
    width: 75%;
    height: 14px;
    font-size: 11px; }

  .price {
    text-align: right; }

  table th.first {
    width: 100px; }
  table td.checkbox {
    width: 25px; }
  table td.value {
    width: auto;
    text-align: right; }

  #edit_addresses {
    width: 80%; }
  #edit_scan_subscription {
    input {
      position: relative;
      top: -3px;
      margin: 0 7px 0 0; }
  }
  ul.token-input-list-facebook {
    margin: auto;
    width: 100%; }

  #scan_subscription table td, #scan_subscription table th {
    vertical-align: middle; }
}

.alignleft {
  text-align: left; }
.alignright {
  text-align: right; }

#products, #pages {
  .form {
    .control-label {
      width: 160px;
    }
    .controls {
      margin-left: 180px;
    }
    .checkbox.inline {
      padding-left: 0;
      .control-label {
        text-align: left;
      }
    }
    textarea {
      width: auto;
      height: 180px;
    }
  }

  table th, table td {
    text-align: left; }
  table th.first, table td.first {
    text-align: right; }
}

#edit_csv_outputter.modal {
  top: 50%;
  left: 50%;
  display: none;
  width: 900px;
  margin: -300px 0 0 -450px !important; }
#edit_csv_outputter .modal-body {
  height: 490px;
  max-height: 490px;
  overflow-y: scroll; }
#edit_csv_outputter .box {
  border: 2px dashed grey;
  padding: 0 0 5px 0;
  height: 100%; }
#edit_csv_outputter .list {
  list-style-type: none;
  margin: 5px; }
#edit_csv_outputter .field {
  margin: 3px;
  padding: 3px; }
#edit_csv_outputter select {
  width: auto;
  margin-bottom: 0; }
#edit_csv_outputter input {
  width: 252px;
  margin-bottom: 0; }
#edit_csv_outputter input[name=format] {
  width: 73px; }
#edit_csv_outputter input, #edit_csv_outputter select {
  font-size: 10px; }

#subscription .requested {
  border: 1px solid orange; }

.user_status {
  .title {
    position:relative;
    top:10px; }
  .select-date {
    width:66px !important;
    height:26px !important;
    margin-right:-3px !important;
    padding-left:4px !important; }
}

#external_file_storage th, #external_file_storage td {
  vertical-align: middle; }

#external_file_storage select {
  margin-bottom: 0;
  font-size: 10px;
  width: 60px;
  height: 23px; }

#edit_file_sending_kit.modal {
  top: 50%;
  left: 50%;
  display: none;
  width: 914px;
  margin: -300px 0 0 -457px !important; }