/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require common
 *= require jquery.fileupload-ui
 *= require_self
*/

html, body, div, span, object, iframe, hr, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small, strike, strong tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif !important; }

h1, h2, h3, h4 { color: #584528; }
h2 { font-size: 16px; }
.container { color: #584528; }
.container  a, .container-fluid a { text-decoration: none; }

.footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}

.navbar-inner {
    background-color: #3e2f24;
    background-image: none; }
.navbar a, footer a {
    color: #c9dd03 !important;
    text-decoration: none !important; }
.navbar a:hover, footer a:hover {
    text-decoration: underline; }
.navbar .logo {
    width: 76px;
    height: 36px;
    float: left;
    display: block;
    padding: 0;
    margin: 0 20px 4px 0;
    background-color: white;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff; }
.navbar .logo img {
    position: relative;
    top: 7px;
    left: 11px; }
.navbar p {
    font-size: 11px; }


.subnav {
    display: block;
    margin-left: 0;
    margin-bottom: 18px;
    list-style: none; }
.subnav > li > a {
    display: block; }
.subnav > li > a:hover {
    text-decoration: none;
    background-color: #eeeeee; }

.navbar .subnav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0; }
.navbar .subnav.pull-right {
    float: right; }
.navbar .subnav > li {
    display: block;
    float: left; }
.navbar .subnav > li > a {
    float: none;
    padding: 10px 10px 11px;
    line-height: 19px;
    color: #999999;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
.navbar .subnav > li > a:hover {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none; }
.navbar .subnav .active > a, .navbar .subnav .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #222222;
    background-color: rgba(0, 0, 0, 0.5); }

.carousel-container {
    background-color: #d2c295;
    position: relative;
    bottom: 20px; }
.carousel-inner {
    margin: auto;
    width: 940px; }
#myCarousel {
    padding-top: 20px; }

#connexion.modal {
    width: 250px;
    margin: -250px 0 0 -125px !important; }
#connexion.modal a { color: black; }
#connexion.modal .modal-body { padding: 0 15px; }
#connexion.modal input[type="checkbox"] { margin: 2px !important; }
#connexion.modal form { margin: 0;}
#connexion.modal .modal-footer {
    border-radius: 0;
    background-color: #3e2f24;
    color: white; }

#uploadDialog.modal, #sharingDialog.modal, #packTaggingDialog.modal, #pageTaggingDialog.modal, #compositionDialog.modal, #invoiceDialog.modal, #returnLabelsDialog.modal {
    top: 50%;
    left: 50%;
    display: none; }

#uploadDialog.modal {
    width: 680px;
    margin: -220px 0 0 -340px !important; }

#sharingDialog.modal {
    width: 326px;
    margin: -200px 0 0 -163px !important; }

#documentsTaggingDialog, #pagesTaggingDialog, #selectionTaggingDialog {
    width: 250px;
    margin: -200px 0 0 -125px !important; }

#compositionDialog.modal {
    width: 250px;
    margin: -125px 0 0 -125px !important; }

#invoiceDialog.modal {
    width: 878px;
    height: 700px;
    margin: -250px 0 0 -439px !important; }

.modal-backdrop {
    z-index: 1040; }

.modal form {
    margin-bottom: 0; }

#returnLabelsDialog {
    width: 1100px;
    height: 500px;
    margin: -250px 0 0 -550px !important;
    .modal-body {
      max-height: 450px;
      iframe {
        width: 843px;
        height: 415px;
      }
    }
    #returnLabelsForm {
      width: 222px;
      height: 419px;
      float: left;
      .list {
        overflow: auto;
        height: 380px;
      }
      .action {
        height: 35px;
        text-align: right;
        input[type=submit] {
          margin-top: 4px;
          margin-right: 4px;
        }
      }
      table {
        th {
          text-align: left;
        }
        width: 100% !important;
        .check_box {
          width: 13px;
        }
        td {
          vertical-align: middle;
        }
        input[type=checkbox] {
          margin-top: 0;
        }
        input[type=number] {
          width: 35px;
          margin-bottom: 0;
          height: 14px;
          font-size: 11px;
        }
        label {
          margin-bottom: 0;
        }
      }
    }
}

/*** Other ***/
.aligncenter { text-align: center; }
.alignleft { text-align: left; }
.alignright { text-align: right; }

.green { color: #c9dd03; }
.red { color: red;}
.white { color: white; }
.gray { background-color: #eeeeee }

.back_red { background-color: red }
.back_orange { background-color: orange }
.back_green { background-color: green }
.back_gray { background-color: gray }

.inlinning { display: inline-block; }

.w150 { width: 150px; }
.w175 { width: 175px; }
.w200 { width: 200px; }

.well { padding: 10px; }
.tab-content { min-height: 300px; }
.pull-none { float: none; }

.wauto { width: auto; }
.w50 { width: 50px; }

.padding05 { padding: 5px; }
.margin05left { margin-left: 5px; }

.btn { font-size: 11px; }

.popover-inner {
  width: 349px; }
.popover-content {
  width: 321px; }

/*** Action bar ***/
.actionbar, #documentslist, #pageslist { overflow: auto; }

.feedback {
    display: block !important;
    position: relative !important;
    top: -5px;
    height: 31px;
    width: 175px;}
.feedback span {
    display: block !important;
    position: relative !important;
    width: auto;
    line-height: 11px;
    top: 9px;
    margin-left: 35px;
    font-weight: bolder;
    color: #484848; }
.feedback.inactive {
    background: url("/assets/application/spinner_stopped_gray_alpha.gif");
    background-repeat: no-repeat;
    background-position: left center; }
.feedback.inactive span {
    color: #bab9b9; }
.feedback.active {
    background: url("/assets/application/spinner_gray_alpha.gif");
    background-repeat: no-repeat;
    background-position: left center; }
.feedback.active span {
    color: #484848; }

.actionbar {
  ul.token-input-list-facebook {
      margin: 5px 0 0 5px;
      height: 21px !important;
      position: relative;
      top: -5px; }
  li.token-input-token-facebook {
      line-height: 15px;
      margin: 2px 0 0 2px; }
}
.filter-result-type {
    color: gray;
    font-style: italic; }

.actionbar label {
    padding-top: 2px; }
.actionbar select {
    height: 23px;
    font-size: 11px }


/*** Global ***/
#documentslist .header, #pageslist .header {
    margin-bottom: 5px; }
#documentslist h3, #pageslist h3, #selectionlist h3 {
    font-size: 11px;
    font-weight: normal !important; }

/*** Documents ***/
#documentslist .content ul { list-style: none; }
#documentslist .content ul li {
    font-size: 11px;
    padding: 0; }
#documentslist .content ul li .name { width: 130px; }
#documentslist .content ul li:hover {  background-color: #eee; }
#documentslist .content ul li.selected { background-color: #ddd }
#documentslist .content ul li.selected:hover { background-color: #ccc }

#documentslist .header .actiongroup {
    position: relative;
    top: 5px; }

.pagination {
    height: 15px;
    margin-top: 10px;
    margin-bottom: 0; }
.pagination a {
    float: none;
    padding: 0;
    line-height: 18px;
    text-decoration: none;
    border: none;
    border-left-width: 0; }

.icon-document-type {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    display: inline-block;
    height: 14px;
    width: 14px; }
.icon-document-type.paid { background-color: #909090; }
.icon-document-type.scanned { background-color: #ffffb7; }
.icon-document-type.sharing { background-color: #ffaf60; }
.icon-document-type.shared { background-color: #4f81f4; }


/*** Pages ***/
.pages { height: 100%; }
.pages ul li {
    display: block;
    position: relative;
    float: left;
    width: 56px;
    height: 78px;
    margin-right: 5px;
    margin-bottom: 17px; }
.pages  ul li .toolbar {
    z-index: 11;
    display: none !important;
    position: absolute;
    float: left;
    left: 3px;
    bottom: 3px;
    width: 51px;
    height: 27px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-rightleft: 2px;
    background: url("/assets/application/gray_blank.png"); }
.pages  ul li .toolbar ul {
    display: block !important;
    position: relative !important;
    width: 44px;
    height: 19px;
    left: 2px;
    top: 4px; }
.pages  ul li .toolbar ul li, .pages  ul li .toolbar ul li a {
    display: block !important;
    position: relative !important;
    width: 19px;
    height: 19px;
    float: right;
    margin-left: 2px;
    margin-right: 0px;
    counter-increment: none; }
.pages  ul li .toolbar ul li a {
    background: url("/assets/application/sprite_page_toolbar.png"); }
.pages  ul li .toolbar ul li a.edit {
    background-position: 0px 0px; }
.pages  ul li .toolbar ul li a.edit:hover {
    background-position: 0px -19px; }
.pages  ul li .toolbar ul li a.delete {
    background-position: -19px 0px; }
.pages  ul li .toolbar ul li a.delete:hover {
    background-position: -19px -19px; }
.pages  ul li .toolbar ul li a.download {
    background-position: -38px 0px; }
.pages  ul li .toolbar ul li a.download:hover {
    background-position: -38px -19px; }
.pages  ul li .toolbar ul li a.select {
    background-position: -57px 0px; }
.pages  ul li .toolbar ul li a.select:hover {
    background-position: -57px -19px; }
.pages  ul li .toolbar ul li a.select:active {
    background-position: -76px 0px; }
.pages  ul li a.zoom {
    z-index: 11;
    display: none;
    position: absolute;
    float: right;
    cursor: pointer;
    right: 2px;
    top: 4px;
    width: 33px;
    height: 33px;
    background: url("/assets/application/sprite_active_corner.png");
    background-position: left top; }
.pages  ul li a.zoom:hover {
    background-position: left -33px; }
.pages  ul li .pagethumb {
    display: block;
    position: absolute;
    z-index: 9;
    left: 3px;
    top: 4px;
    width: 51px;
    height: 71px; }
.pages  ul li .pagethumb .thumb {
    display: block;
    position: absolute;
    z-index: 8;
    left: 0px;
    top: 0px;
    width: 49px;
    height: 69px;
    background: url("/assets/application/spinner_gray.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat; }
.pages  ul li .pagethumb .thumb img {
    display: block !important;
    position: relative !important;
    width: 46px;
    height: 66px; }
.pages  ul li .foot {
    z-index: 8;
    display: block;
    position: absolute;
    padding-top: 2px;
    float: left;
    left: 0px;
    bottom: 0px;
    top: 72px;
    width: 56px;
    height: 19px;
    text-align: center; }
.pages  ul li .foot span {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    top: 4px;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    min-height: 22px;
    max-height: 44px;
    height: auto;
    width: 50px; }
.pages  ul li:hover .toolbar {
    display: block !important; }
.pages  ul li:hover a.zoom {
    display: block; }
.pages  ul li.selected .foot span {
    color: black; }
.pages  ul li.selected .toolbar ul li a.select {
    background-position: -76px -19px; }
.pages  ul li.selected .toolbar ul li a.select:active {
    background-position: -76px 0px; }
.pages  ul li.ui-sortable-helper {
    opacity: 0.5;
    cursor: move; }

.pages  ul li {
    counter-increment: par-num; }
.pages  ul li .pagethumb {
    background: url("/assets/application/sprite_vertical_page.png");
    background-position: -57px -271px;
    background-repeat: no-repeat; }
.pages  ul li.selected {
    background: url("/assets/application/sprite_vertical_page.png");
    background-position: center top;
    background-repeat: no-repeat; }
.pages  ul li .handle {
    z-index: 10;
    display: block;
    position: absolute;
    float: left;
    cursor: move;
    left: 3px;
    top: 4px;
    width: 51px;
    height: 71px;
    background: url("/assets/application/blank.png");
    background-color: transparent; }
.pages  ul li .foot span:after {
    content: counter(par-num, decimal); }
.pages  ul li.ui-sortable-helper .foot span:after {
    content: "← déplacer vers →"; }

.pages .pagination li a { font-size: 14px !important; }


/*** Pages selection ***/
.selection-fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 130px; }
#selectionlist {
    height: 130px; }
#selectionlist .content {
    overflow: auto; }


/*** Payement mode ***/
.paymentslist_container {
    background-color: whiteSmoke; }
.paymentslist {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 10px; }
.paymentslist .header {
    height: 30px;
    width: 100% !important;
    background-color: #b9b9b9; }
.paymentslist .header input[type="radio"] {
    float: left;
    position: relative;
    left: 10px;
    top: 5px; }
.paymentslist .header span {
    float: left;
    position: relative;
    left: 20px;
    top: 5px; }
.paymentslist .content {
    height: 90px;
    min-height: 90px;
    margin-right: 10px !important; }
.paymentslist .content span {
    display: block;
    position: relative;
    font-size: 12px;
    line-height: 14px;
    margin: 10px; }
.paymentslist .content input[type="text"] {
    width: 100% !important; }
.paymentslist .footer {
    min-height: 20px;
    text-align: center;
    margin-left: 10px; }
.paymentslist .footer a {
    font-size: 11px;
    color: black;
    text-decoration: none;
    margin-left: 5px; }
.change_pass_parent {
    padding-right: 30px !important; }
.change_pass .alert-container, .change_pass input[type="password"] {
    width: 100% !important; }


/***** Reporting *****/

/*** Global ***/
table td.first {
    width: 145px; }
table td.second {
    width: 90px; }

.documentslist table td.name {
    width: 180px; }

.actiongroup.first {
    width: 16px;
    height: 16px; }
.actiongroup.first a {
    font-size: 16px; }

.header.first {
    font-size: 11px;
    padding-left: 16px; }
.header.first h3 {
    font-size: 11px; }
.header.first .actiongroup.first {
    position: relative;
    top: 4px; }

/*** Month ***/
.month {
    margin-bottom: 5px;
    padding: 4px 12px 5px 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    background-color: white; }
.month .header {
    height: 20px;
    padding: 4px; }
.month .header h3 {
    font-size: 11px;
    position: relative;
    top: -4px }

.state {
    position: relative;
    top: -2px;
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    height: 21px;
    width: 146px;
    border: 1px solid white;
    background-color: #fafafa; }
.state1 {
    height: 19px;
    width: 46px;
    border: 1px solid #c9dd03;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -khtml-border-bottom-left-radius: 4px; }
.state1.active {
    background-color: #c9dd03; }
.state2 {
    height: 19px;
    width: 46px;
    border: 1px solid #c9dd03;
    margin-left: 1px;
    margin-right: 1px; }
.state2.active {
    background-color: #c9dd03; }
.state3 {
    height: 19px;
    width: 46px;
    border: 1px solid #c9dd03;
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -khtml-border-bottom-right-radius: 4px; }
.state3.active {
    background-color: #c9dd03; }

/*** User ***/
.user {
    margin-bottom: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px; }
.user.active {
    border: 1px solid #ffcf40; }
.user .header {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    height: 20px;
    background-color: #ffcf40; }
.user .header h3 {
    font-size: 11px; }
.user .content {
    text-align: right; }
.user .content .documents {
    text-align: left;
    padding-left: 23px; }

/*** Total ***/
.total {
    border: 1px solid #ffa500;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    background-color: white; }
.total .header {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    height: 20px;
    background-color: #ffa500; }
.total .header h3 {
    font-size: 11px; }
.total .content {
    text-align: right; }
.total .content th.first, .total .content td.first {
    text-align: center;
    width: 168px; }



/***** Form *****/
/*** Global ***/
select {
    width: auto; }
/*** Error ***/
label.error {
    color: #b94a48; }
input.error, select.error, textarea.error {
    color: #b94a48;
    border-color: #b94a48; }
input.error:focus, select.error:focus, textarea.error:focus {
    border-color: #953b39;
    -webkit-box-shadow: 0 0 6px #d59392;
    -moz-box-shadow: 0 0 6px #d59392;
    box-shadow: 0 0 6px #d59392; }



/***** Reporting *****/
#reporting table thead tr th.month {
    width:7%;
    text-align:right;
    padding-right:7px; }
#reporting table tbody tr td.align-middle {
    vertical-align:middle; }
#reporting .period {
    text-align:right;
    height:13px;
    border: 3px solid #BBBBBB;
    margin: 0;
    padding:2px 3px 3px;
    font-size:9px;
    font-weight:normal;
    color:black;
    text-transform:uppercase;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px; }
#reporting td.block {
    width:7%;
    text-align:center; }
#reporting .period:hover {
    border: 3px solid #999999;
    background-color:#999999; }
#reporting .period.selected {
    border:3px solid #00FF7F; }
#reporting .period table td {
    height:10px;
    font-size:8px; }
#reporting .period .badge {
    height:6px;
    width:6px;
    margin-top:1px;
    padding:3px; }
#reporting .badge-important {
    background-color:red; }
#reporting .delivery_state {
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -khtml-border-radius:7px;
    margin-top:2px;
    float:left;
    width:10px;
    height:10px; }
.modal .delivery_state {
    margin-right:5px; }
.delivery_state .received {
    background-color:green; }
.delivery_state .not_received {
  background-color:whiteSmoke; }
#reporting .half-delivery_state {
    float:left;
    width:5px;
    height:10px; }
#reporting .half-delivery_state.left {
    -webkit-border-top-left-radius:7px;
    -moz-border-top-left-radius:7px;
    -khtml-border-top-left-radius:7px;
    -webkit-border-bottom-left-radius:7px;
    -moz-border-bottom-left-radius:7px;
    -khtml-border-bottom-left-radius:7px; }
#reporting .half-delivery_state.right {
    -webkit-border-top-right-radius:7px;
    -moz-border-top-right-radius:7px;
    -khtml-border-top-right-radius:7px;
    -webkit-border-bottom-right-radius:7px;
    -moz-border-bottom-right-radius:7px;
    -khtml-border-bottom-right-radius:7px; }
#legendModal {
  .delivery_state {
    margin-top: 5px;
  }
}
#reporting .period .value {
    display:inline-block;
    text-align:right;
    width:43px;
    position:relative;
    top:-2px; }

#periodModal {
    margin:-310px 0 0 -500px;
    height:464px;
    width:1015px; }
#periodModal .modal-header {
    padding-bottom:40px; }
#periodModal .modal-header table {
    float:left; }
#periodModal .modal-header .user {
    width:425px; }
#periodModal .modal-header .period {
    width:450px; }
#periodModal .modal-body {
    clear:both;
    height:330px; }
#periodModal .modal-footer {
    text-align:center;
    height:24px; }
#periodModal .modal-footer .legend {
    position:relative;
    top:4px; }
#periodModal .documentslist {
    height:330px;
    width:630px;
    float:left; }
#periodModal .separator {
    height:330px;
    border-left:1px solid #EEE;
    margin-left:5px;
    width:1px;
    float:left; }
#periodModal .optionslist {
    height:330px;
    width:325px;
    float:right; }

#periodModal table tr td.center, #periodModal table tr th.center {
    text-align:center; }

#periodModal table tr td, #periodModal table tr th {
    border:none; }

#periodModal table tr.selected td {
    border-top:2px solid #00FF7F;
    border-bottom:2px solid #00FF7F; }
#periodModal table tr.selected td.first {
    border-left:2px solid #00FF7F; }
#periodModal table tr.selected td.last {
    border-right:2px solid #00FF7F; }

#reporting .table tbody tr:hover td, #reporting  .table tbody tr:hover th {
    background-color: none; }
#reporting table.historic th, table.historic td {
    padding: 5px; }
#reporting table.historic th.right, table.historic td.right {
    text-align: right; }
#reporting table.historic .first {
    padding-left: 0; }
.popover-title {
    font-size: 14px !important; }

.important {
    font-weight: bold;
    color: red;
}

.pan {
  display: none; }
.pan.active {
  display: block; }

/***** Customers *****/
.price {
  text-align:right !important; }

.pannel {
  padding: 14px 19px 14px;
  background-color: white;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .065);
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,.065);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .065); }

#customer.subscription table td.input {
  width: 15px; }

/***** NUM *****/
$date: 150px;
$name: 250px;
$paperclips: 175px;
$oversized: 175px;
$actions: 100px;

#num {
  .errors {
    color: red;
  }
  table {
    .date {
      width: $date;
      text-align: center;
    }
    .name {
      width: $name;
    }
    .paperclips {
      width: $paperclips;
      text-align: right;
    }
    .oversized {
      width: $oversized;
      text-align: right;
    }
    .actions {
      width: $actions;
    }
    th, th.paperclips, th.oversized {
      text-align: center;
    }
    tr.red {
      color: red;
    }
    tr.green {
      color: green;
    }
    margin: auto;
    width: $date + $name + $paperclips + $oversized + $actions;
    .form {
      td {
        input {
          margin-bottom: 0;
        }
      }
    }
  }
  table#navigation {
    margin-bottom: 20px;
    width: 1000px;
    tr {
      border-color: white;
    }
    td {
      background-color: #e1e1e1;
      border-color: #ffffff;
      width: 25px;
      height: 25px;
      padding: 0;
      margin: 0;
      text-align: center;
      vertical-align: middle;
    }
    .present {
      background-color: #667cff;
      a {
        color: white;
      }
    }
    .current {
      background-color: #9cff85;
    }
    .first {
      width: 75px;
      font-weight: bold;
    }
  }
  .already_exist.alert {
    margin: auto;
    width: 620px;
    padding: 8px;
    margin-bottom: 20px;
    table {
      width: 612px;
      margin: 5px 0 0 0;
      td {
        text-align: right;
        width: 114px;
      }
      td.first {
        text-align: left;
        width: 190px;
      }
    }
  }
}
