#navbarSupportedContent{
  overflow: hidden;
}

.auto-scroll-div{
  overflow: hidden; 
}

.auto-scroll-div ul.nav{
  width: 991px;
}

.auto-scroll-div .dropdown-menu.show{    
  position: fixed !important;
  right: auto;
  top: auto;
  left: auto;
}