//Retractable CSS

//Animations
@mozkeyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@webkitkeyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

// CSS ANIMATED
.retractable.slidedown {
  opacity: 0;
  overflow: hidden;
}

tbody.retractable.slidedown tr {
  opacity: 0;
  -webkit-transition: -webkit-opacity 0.2s ease-out;
  -moz-transition: -moz-opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.retractable.fadein {
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 0.8s;
}

// CSS NORMAL

.retractable.with-menu {
  padding-left: 50px;
}

.retractable.with-filter {
  padding-right: 290px; 
}

//retractable menu
.retractable .retractable-menu {
    position: fixed;
    width: 260px;
    z-index: 300;
    left: -210px;
    -webkit-transition: -webkit-left 0.2s ease-out;
    -moz-transition: -moz-left 0.2s ease-out;
    -o-transition: left 0.2s ease-out;
    -ms-transition: left 0.2s ease-out;
    transition: left 0.2s ease-out;
}

.retractable .retractable-menu:hover {
  left: -2px;
}
.retractable .retractable-menu .side-menu {
  padding-left: 11px !important;
  padding-right: 11px !important;
}
.retractable .retractable-menu .retractable-caret {
  text-align: right;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #fff;
  margin-bottom: 8px;
  padding-bottom: 5px;
}
.retractable .retractable-menu .retractable-caret .title {
  display: inline-block;
  text-align: left;
  width: 90%;
}

//retractable-filter
.retractable .retractable-filter {
  position: fixed;
  z-index: 20;
  margin-right: 15px;
  right: 0;
  width: 270px;
}
.retractable .retractable-filter .locker {
  padding: 2px;
}
.retractable .retractable-filter.close {
  position: absolute;
  width: auto;
}

//detachable table head
table.table-detachable-head thead.detached {
  display:none;
  position: fixed;
  z-index: 50;
  background-color: #3e2f24;
  color: #fff;
  top: 30px;
}
table.table-detachable-head thead.detached a {
  color: #c9dd03;
}

@media (max-width: 1186px) {
  table.table-detachable-head thead.detached {
    top: 46px;
  }
}