---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%0001 - TeSt/période actuelle/AC"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - de3111d7862e336fa7dfc0f153ceb898
      X-Server-Response-Time:
      - '499'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "AC", "path_lower": "/exportation vers idocus/ts%0001
        - test/p\u00e9riode actuelle/ac", "path_display": "/exportation vers
        iDocus/TS%0001 - TeSt/p\u00e9riode actuelle/AC", "id": "id:66z1e_OMcPAAAAAAAAAAPw"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/get_latest_cursor
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%0001 - TeSt","recursive":true,"include_media_info":false,"include_deleted":false}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - b9cebfa09cff94ce09e52858d48e3868
      X-Server-Response-Time:
      - '103'
    body:
      encoding: ASCII-8BIT
      string: '{"cursor": "AAGBkEUSgy92U3a-WSGP6L5SrErqVTpLStVjY7tHtg1U509a3iUvquKgpNxNAM2VDrcuYBuLJFVuofZtJBHGkzlDZOIhWlz8OFyMMaTTp5vWGFGSM4Dh33MRQt0I53af8OSD5qtIRTvRDns1KuVVZ1QaPgMTyySDVH3JYmo6gG7KzXKugCUpOdJ64TSJMgL2B2c"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAGBkEUSgy92U3a-WSGP6L5SrErqVTpLStVjY7tHtg1U509a3iUvquKgpNxNAM2VDrcuYBuLJFVuofZtJBHGkzlDZOIhWlz8OFyMMaTTp5vWGFGSM4Dh33MRQt0I53af8OSD5qtIRTvRDns1KuVVZ1QaPgMTyySDVH3JYmo6gG7KzXKugCUpOdJ64TSJMgL2B2c"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - f9f8caa2c3222f452ce708eebe090acb
      X-Server-Response-Time:
      - '145'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [], "cursor": "AAHuDBnQ43SLoVF1tHaTZFX-BAP6ehQyXrd7c6fLyz8_zGt2EsGZBHLfEMOWakddGquh1eZLtLF-mgAsWOVLcl3bT_aqRiBTCyWBHMcmWLgvFMHTTn2CIyl8hdOy3PE_x_xhRirH0Y3PsuAOfJhMVJM9iJulqrNR9uC6cBrLUp2pU8r2EO7fXyoYcOFOaz4117I",
        "has_more": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 3.0.3
