---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAFgTnd1fNzZHqDCFFgsiy9md7x1X-RNw65zxrs7Gzp-2dmjlVZfojFKxS8tgF6RDZxMaJkBKe2F2vhl16wD7DPQjLyw_leIG3AAjnAqMlnRiSe8AvSpLnyP4MSoyyF0npdIr512ikpwDQhm_SKR3dfTvwAHWvYzLSc7Rd-q1yEkKCnYGTBHveKsSX3v_3Zu_lciCvg39sxuXU2USvxo-CIe"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 1055ca906a1181cda9a6c9c1ffb4b62e
      X-Server-Response-Time:
      - '253'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [], "cursor": "AAHpld_t0CbQV20sDttaIpV1UuZqZfzn72cuW9XZnJgDK7X2Hlsxh2N-0v72dpL-OU9MVUgqIsbBiAsCcvhgQaoYQoPH_mlGbx5gVr9fpup17XXy_yy-uuIukG7UrK84ubNgoXT4oFDkJE5bn2CdudP1LACDZ3oop2ioJ4r2OZjD8cRB6RQTrSiVUZN7uIVCR2OuVpke_CBsa1-67tBlMA5l",
        "has_more": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%0002 - DEF/période actuelle/AC"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 58d33be95ed002f530da27301b79e16b
      X-Server-Response-Time:
      - '1221'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "AC", "path_lower": "/exportation vers idocus/ts%0002 - def/p\u00e9riode
        actuelle/ac", "path_display": "/exportation vers iDocus/TS%0002 - DEF/p\u00e9riode
        actuelle/AC", "id": "id:oyxFzSPGksAAAAAAAAABVg"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%0002 - DEF/période précédente/BQ"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 7e75b9ffc6c98375f9c78120d4f0b6a4
      X-Server-Response-Time:
      - '532'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "BQ", "path_lower": "/exportation vers idocus/ts%0002 - def/p\u00e9riode
        pr\u00e9c\u00e9dente/bq", "path_display": "/exportation vers iDocus/TS%0002
        - DEF/p\u00e9riode pr\u00e9c\u00e9dente/BQ", "id": "id:oyxFzSPGksAAAAAAAAABWg"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 3.0.3
