---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/delta
    body:
      encoding: US-ASCII
      string: cursor=AAEQ6oaXeiGb3TG3jZSI4rX8zk8tq_hdWHDvzk_0D3a3wIvWxPG4ccWFO8hanJZLa2-UUuhk7drYKUPI_RA9tE46CNemdO0ThG7IfiChN2JY9A3LVUS43o-zsCpCINnTLWRLfX1yBnBLZLwGVaVlgCqoXKw0azydkrgTRDngGTUOos3_j0m8iLbANXpWLV0maFs&path_prefix=%2Fexportation%C2%A0vers+iDocus%2FTS%250001+-+TeSt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '49'
      X-Dropbox-Request-Id:
      - 770b15b9fd8a323033fba5c985d6a707
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"has_more": false, "cursor": "AAHhKsF-Jd7Np_QRU9zd_DSd2URptDTdp-DLLBn1WrvTRxYOCbaumccSNDedMdZrzIPUN1Z1dFbkXBmPNY74FRwgb3Qp_-XI5wC_68IJIqAqz5qw1dzzJ5bkskJvS1seNO6IRW39oWzqI_zMBcvHeBb4UBo4BAqrqt6CoD3vT2UvHAQKZJz11IP4TTAO0_4aC_k",
        "entries": [], "reset": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%250001+-+TeSt%2Fp%C3%A9riode+actuelle%2FBQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '235'
      X-Dropbox-Request-Id:
      - bc413e7f873571bebe889b699c3f9dea
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"is_deleted": true, "revision": 647, "bytes": 0, "thumb_exists": false,
        "rev": "2873d59c017", "modified": "Sat, 24 Oct 2015 16:50:54 +0000", "path":
        "/exportation\u00a0vers iDocus/TS%0001 - TeSt/p\u00e9riode actuelle/BQ", "is_dir":
        true, "icon": "folder_gray", "root": "app_folder", "size": "0 bytes"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%250001+-+TeSt%2Fp%C3%A9riode+actuelle%2FBQ1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '225'
      X-Dropbox-Request-Id:
      - 3b7ef206a2d4b0c761aed3ef78b08eb4
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "2893d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Sat, 24 Oct 2015 16:51:00 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%0001 - TeSt/p\u00e9riode actuelle/BQ1", "is_dir": true, "icon":
        "folder", "root": "app_folder", "revision": 649}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fexportation%C2%A0vers+iDocus%2FTS%250001+-+TeSt%2Fp%C3%A9riode+pr%C3%A9c%C3%A9dente%2FBQ1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 65XiB3QDfDUAAAAAAAAGzhf645c8M07MSCFxz4il6O72MfyHrPUT0W0jP0nmIfZN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '222'
      X-Dropbox-Request-Id:
      - 4373c2c9b23f0e4768c759b464366379
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: '{"size": "0 bytes", "rev": "28a3d59c017", "thumb_exists": false, "bytes":
        0, "modified": "Sat, 24 Oct 2015 16:51:02 +0000", "path": "/exportation\u00a0vers
        iDocus/TS%0001 - TeSt/p\u00e9riode pr\u00e9c\u00e9dente/BQ1", "is_dir": true,
        "icon": "folder", "root": "app_folder", "revision": 650}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 2.9.3
