---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAGHorvqbn5732RU2CX9vD2vlIBHo--yqnTrT7aePCT0ioyAMfDOp02vn1FK1f3Duvun8QTCVTKnQ8jkWz674vsRGFWZmjfGL0ibYPHrKvsK8XNV4llsPt230EHl2vODBVk6ybGtcLxlT-fETh_bVF0YnueeM5MNyS54CMlJOxUUGjTMJTgKB9Xm47Vd-5siYlAa7qBIoGijEJyKaWFpfvktECxe5ePceh_JOYw_QSxu3OoEOf7QuS9KrZey1n5QNTE"}'
    headers:
      Authorization:
      - Bearer d_8hw4XA240AAAAAAAAAAbdOcCNXL3qwaOp05judYxFkgJBjoRxIwBlDVCbOW3m2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 69984e3080768a85ea151833bff5c1dd
      X-Server-Response-Time:
      - '147'
    body:
      encoding: UTF-8
      string: '{"entries": [{".tag": "folder", "name": "IDOC%COL1", "path_lower":
        "/exportation vers idocus/idoc%col1", "path_display": "/exportation vers iDocus/IDOC%COL1",
        "id": "id:tG5yQJWo2vAAAAAAAAAM4Q"}, {".tag": "folder", "name": "IDOC%001 -
        ABC", "path_lower": "/exportation vers idocus/idoc%col1/idoc%001 - abc", "path_display":
        "/exportation vers iDocus/IDOC%COL1/IDOC%001 - ABC", "id": "id:tG5yQJWo2vAAAAAAAAAM4g"},
        {".tag": "folder", "name": "p\u00e9riode actuelle", "path_lower": "/exportation
        vers idocus/idoc%col1/idoc%001 - abc/p\u00e9riode actuelle", "path_display":
        "/exportation vers iDocus/IDOC%COL1/IDOC%001 - ABC/p\u0[...]
- request:
    method: post
    uri: https://config.bearer.sh/config
    body:
      encoding: UTF-8
      string: '{"runtime":{"type":"x86_64-linux","arch":"x86_64","platform":"linux","version":"2.6.5","hostname":"infodrm"},"agent":{"type":"ruby","version":"3.1.0"},"application":{"environment":"dGVzdA=="}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - app_63d2b0332c5550a40a549b82a5c6ca358be62b1aaa4668df38
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Protected-By:
      - Sqreen
      Bearer-Correlation-Id:
      - 1-5f7c5d7d-0ed7a1450ab68f983b8e3590
      Bearer-Internal-Correlation-Id:
      - 1-5f7c5d7d-0ed7a1450ab68f983b8e3590
      Bearer-Request-Id:
      - 1-5f7c5d7d-0ed7a1450ab68f983b8e3590
      Etag:
      - W/"678e-XuyRdAoxpg9k9qu4hDc+UQB6SPM"
    body:
      encoding: UTF-8
      string: '{"dataCollectionRules":[{"config":{"active":true,"logLevel":"ALL","sanitizeKeyPattern":{"flags":"i","value":"^authorization$|^password$|^secret$|^passwd$|^api\\.?key$|^access\\.?token$|^auth\\.?token$|^credentials$|^mysql_pwd$|^stripetoken$|^card\\.?number\\.?$|^secret$|^client\\.?id$|^client\\.?secret$"}},"params":{"typeName":"EnvironmentSettings"},"signature":"TODO"},{"filterHash":"FVZK3KKpj/DhqW/RkXbEz08gLNI=","params":{"typeName":"ErrorRule"},"signature":"TODO"},{"filterHash":"Kr/yIxP0BYsV5DD331mOuxO81E0=","params":{"genericRuleId":81892,"typeName":"LogRule"},"signature":"TODO"},{"filterHash":"k91tL837v0DSa0GVDuItN9G2+aE=","params":{"genericRuleId":81891,"typeName":"LogRule"},"signature":"TODO"},{"filterHash":"4UaglI+vuq48jQIdYkss2xl68b8=","params":{"genericRuleId":81890,"typeName":"LogRule"},"signature":"TODO"},{"filterHash":"g2yQRdcfj7wrKRObF/wtpr/9j6E=","params":{"genericRuleId":81889,"typeName":"LogRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationErrorKey":"hWO0s7r2wWRmq7I57O0xL9C1c6U=","aggregationKey":null,"hasErrorTrigger":true,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationKey":null,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationErrorKey":"hWO0s7r2wWRmq7I57O0xL9C1c6U=","aggregationKey":null,"hasErrorTrigger":true,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationKey":null,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":"+t/TYUaxrd0C98WtzN5lH8xh1wk=","params":{"genericRuleId":81884,"typeName":"LogRule"},"signature":"TODO"},{"filterHash":"ke3PI13pUnfpQPSx58QZGHME16c=","params":{"genericRuleId":81883,"typeName":"LogRule"},"signature":"TODO"},{"config":{"active":true,"logLevel":"ALL"},"filterHash":"cwQcfe5IvR+25j/szfPgzc0osy8=","params":{"buid":"27e39fedc9e86b5a7fbed929b0ffa4b4","typeName":"ApiRule"},"signature":"TODO"},{"config":{"active":false,"logLevel":"ALL"},"filterHash":"0gW237MzS5VcZjrasSxUpInSk+M=","params":{"buid":"d0158cde2562c9aae8070f79e17ef853","typeName":"ApiRule"},"signature":"TODO"},{"config":{"active":false,"logLevel":"ALL"},"filterHash":"nncR5qfDYkGrmOyV1h6woFHZ15U=","params":{"buid":"7b432abfbf3424fe157aab5dd96244c7","typeName":"ApiRule"},"signature":"TODO"},{"config":{"active":false,"logLevel":"ALL"},"filterHash":"f[...]
- request:
    method: post
    uri: https://agent.bearer.sh/logs
    body:
      encoding: UTF-8
      string: '{"secretKey":"app_63d2b0332c5550a40a549b82a5c6ca358be62b1aaa4668df38","appEnvironment":"dGVzdA==","runtime":{"type":"x86_64-linux","arch":"x86_64","platform":"linux","version":"2.6.5","hostname":"infodrm"},"agent":{"type":"ruby","version":"3.1.0","log_level":"DETECTED"},"logs":[{"type":"REQUEST_END","startedAt":1601586000000,"endedAt":1601586000000,"activeRules":[],"activeDataCollectionRules":[{"params":{"typeName":"EnvironmentSettings"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationErrorKey":"hWO0s7r2wWRmq7I57O0xL9C1c6U=","aggregationKey":null,"hasErrorTrigger":true,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationKey":null,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationErrorKey":"hWO0s7r2wWRmq7I57O0xL9C1c6U=","aggregationKey":null,"hasErrorTrigger":true,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":null,"params":{"aggregationKey":null,"typeName":"AggregationRule"},"signature":"TODO"},{"filterHash":"nncR5qfDYkGrmOyV1h6woFHZ15U=","params":{"buid":"7b432abfbf3424fe157aab5dd96244c7","typeName":"ApiRule"},"signature":"TODO"},{"filterHash":"AVQMsqyIt31CExyDzKozhvo2AOU=","params":{"buid":"8c0b4067bbdff8ab549ef6fd52baf212","typeName":"ApiRule"},"signature":"TODO"}],"instrumentation":{"requestBenchmark":0.0,"responseContentLength":0,"processingBeforeThreadBenchmark":-1.0,"adapterBenchmark":0.0027759199983847793},"stageType":"BodiesStage","logLevel":"ALL","protocol":"https","hostname":"api.dropboxapi.com","port":443,"requestHeaders":{"authorization":"[FILTERED]","user-agent":"Faraday
        v1.0.0","content-type":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","accept":"*/*","host":"api.dropboxapi.com","content-length":"272"},"method":"POST","path":"/2/files/list_folder/continue","url":"https://api.dropboxapi.com/2/files/list_folder/continue","responseHeaders":{"server":"nginx","date":"Tue,
        06 Oct 2020 12:05:17 GMT","content-type":"application/json","transfer-encoding":"chunked","connection":"keep-alive","vary":"Accept-Encoding","cache-control":"no-cache","pragma":"no-cache","x-content-type-options":"nosniff","x-dropbox-request-id":"69984e3080768a85ea151833bff5c1dd","x-frame-options":"SAMEORIGIN","x-server-response-time":"147","x-envoy-upstream-service-time":"163"},"statusCode":200,"requestBody":"{\"cursor\":\"AAGHorvqbn5732RU2CX9vD2vlIBHo--yqnTrT7aePCT0ioyAMfDOp02vn1FK1f3Duvun8QTCVTKnQ8jkWz674vsRGFWZmjfGL0ibYPHrKvsK8XNV4llsPt230EHl2vODBVk6ybGtcLxlT-fETh_bVF0YnueeM5MNyS54CMlJOxUUGjTMJTgKB9Xm47Vd-5siYlAa7qBIoGijEJyKaWFpfvktECxe5ePceh_JOYw_QSxu3OoEOf7QuS9KrZey1n5QNTE\"}","responseBody":"{\"entries\":[{\".tag\":\"folder\",\"name\":\"IDOC%COL1\",\"path_lower\":\"/exportation
        vers idocus/idoc%col1\",\"path_display\":\"/exportation vers iDocus/IDOC%COL1\",\"id\":\"id:tG5yQJWo2vAAAAAAAAAM4Q\"},{\".tag\":\"folder\",\"name\":\"IDOC%001
        - ABC\",\"path_lower\":\"/exportation vers idocus/idoc%col1/idoc%001 - abc\",\"path_display\":\"/exportation
        vers iDocus/IDOC%COL1/IDOC%001 - ABC\",\"id\":\"id:tG5yQJWo2vAAAAAAAAAM4g\"},{\".tag\":\"folder\",\"name\":\"période
  [...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/delete
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/IDOC%001 - Test/période actuelle/VT"}'
    headers:
      Authorization:
      - Bearer d_8hw4XA240AAAAAAAAAAbdOcCNXL3qwaOp05judYxFkgJBjoRxIwBlDVCbOW3m2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 0ee7755f3515c7808b5c202506a3d9c3
      X-Server-Response-Time:
      - '908'
    body:
      encoding: UTF-8
      string: '{".tag": "folder", "name": "VT", "path_lower": "/exportation vers idocus/idoc%001
        - test/p\u00e9riode actuelle/vt", "path_display": "/exportation vers iDocus/IDOC%001
        - Test/p\u00e9riode actuelle/VT", "id": "id:tG5yQJWo2vAAAAAAAAAM3A"}'
  recorded_at: Thu, 01 Oct 2020 21:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/delete
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/IDOC%001 - Test/période précédente/VT"}'
    headers:
      Authorization:
      - Bearer d_8hw4XA240AAAAAAAAAAbdOcCNXL3qwaOp05judYxFkgJBjoRxIwBlDVCbOW3m2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 5d344be0e593ff0115a20bede3681a2b
      X-Server-Response-Time:
      - '865'
    body:
      encoding: UTF-8
      string: '{".tag": "folder", "name": "VT", "path_lower": "/exportation vers idocus/idoc%001
        - test/p\u00e9riode pr\u00e9c\u00e9dente/vt", "path_display": "/exportation
        vers iDocus/IDOC%001 - Test/p\u00e9riode pr\u00e9c\u00e9dente/VT", "id": "id:tG5yQJWo2vAAAAAAAAAM3w"}'
  recorded_at: Thu, 01 Oct 2020 21:00:00 GMT
recorded_with: VCR 5.1.0
