---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAEdoRmjBjz-axr5GUXLfRTY5H8jf7u2Z0_o9-xTatQQWHmDrLlSnauMSBW05uLqGbZX1VNngVt1UZesUapiT816Vt9HUJK_gC4ZRwX5CwVY7AdONNHIJPUlyFWMm-GZRTayENPXNk0RZci7djjyGktgJeXYNM8vsil6IlYvYXQka_1oW2hZjxIOhIm0C2C8geU"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - c76b0b825ec74da35bf7a7ab85ebd8c8
      X-Server-Response-Time:
      - '156'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [{".tag": "folder", "name": "BQ", "path_lower": "/exportation vers
        idocus/ts%0001 - test/p\u00e9riode actuelle/bq", "path_display": "/exportation vers
        iDocus/TS%0001 - TeSt/p\u00e9riode actuelle/BQ", "id": "id:66z1e_OMcPAAAAAAAAAATQ"},
        {".tag": "folder", "name": "BQ", "path_lower": "/exportation vers idocus/ts%0001
        - test/p\u00e9riode pr\u00e9c\u00e9dente/bq", "path_display": "/exportation vers
        iDocus/TS%0001 - TeSt/p\u00e9riode pr\u00e9c\u00e9dente/BQ", "id": "id:66z1e_OMcPAAAAAAAAAATg"}],
        "cursor": "AAH-0JN3ZNgN-BjXOCWg8-RvBKHf6e8O9G-T1o7Mdk08b6SR7-rbx89Hd-AVv3lTssRPUu1M4kIqcEDkFFpQzApR6oX1BlSrBXL6G9D_4_TTwjkkeEoj1W7b5VPW2II_XovyMw90ks9QYiGR0KM9repqEWrHrAJsFafIrM5ct0jrovuxvkW5MQld7lifv-A4-2s",
        "has_more": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/delete
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%0001 - TeSt/période actuelle/BQ"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 617e9c53493d7a98416d3d2d13863c58
      X-Server-Response-Time:
      - '513'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "folder", "name": "BQ", "path_lower": "/exportation vers
        idocus/ts%0001 - test/p\u00e9riode actuelle/bq", "path_display": "/exportation vers
        iDocus/TS%0001 - TeSt/p\u00e9riode actuelle/BQ", "id": "id:66z1e_OMcPAAAAAAAAAATQ"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%0001 - TeSt/période actuelle/BQ1"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 354dad56a30e4045e747ddc23ef7ed88
      X-Server-Response-Time:
      - '442'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "BQ1", "path_lower": "/exportation vers idocus/ts%0001
        - test/p\u00e9riode actuelle/bq1", "path_display": "/exportation vers
        iDocus/TS%0001 - TeSt/p\u00e9riode actuelle/BQ1", "id": "id:66z1e_OMcPAAAAAAAAAATw"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%0001 - TeSt/période précédente/BQ1"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - abcb92b4a6b9613b3698d3410ce72b73
      X-Server-Response-Time:
      - '474'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "BQ1", "path_lower": "/exportation vers idocus/ts%0001
        - test/p\u00e9riode pr\u00e9c\u00e9dente/bq1", "path_display": "/exportation vers
        iDocus/TS%0001 - TeSt/p\u00e9riode pr\u00e9c\u00e9dente/BQ1", "id": "id:66z1e_OMcPAAAAAAAAAAUA"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 3.0.3
