---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAGAn2SbSgsDiJEQ7d5xLJOVrJrtdBuq9pXxPFRn2t8MFh3pFpzj6ijub-dywcNHDRoPfp9WPJa_6I9IKJm7faymRQvgjoc8YKXmmJr3KEiU_U01ABnCn4zRxQfix584Sx45KGncYIyw065Z4tqb5lpKjnTVS7US9w7kEYj66q41k1z7iVmtwugJMcIXWhZhVKo"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - d0ca16e5fb39e70bfc29deda7bd29e12
      X-Server-Response-Time:
      - '112'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [], "cursor": "AAGSDhnq7GyLsG4Ih5WPsC1micuIFP2E4bhfVtHJdV8S_iFlwB_7C_LJV-FjXMBKKL2YO5hFX-Las5lX5A2zjBJJtdnPfrzo1yH0vUuXESDTB-TtmsyTeE3tjb-eGauRWeD8WgBXM0gMPH3bMOGXNUoi9DQmTUismBVcBSw6QivvnE--UH0Y7tcQTVUXa58Et3k",
        "has_more": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%0001 - TeSt/période actuelle/AC"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 626f92f9c00f98c74bef09fa2b329464
    body:
      encoding: UTF-8
      string: '{"error_summary": "path/conflict/folder/", "error": {".tag": "path",
        "path": {".tag": "conflict", "conflict": {".tag": "folder"}}}}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%0001 - TeSt/période précédente/VT"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - df4451b9e43f64b6156e41f5e583820c
    body:
      encoding: UTF-8
      string: '{"error_summary": "path/conflict/folder/", "error": {".tag": "path",
        "path": {".tag": "conflict", "conflict": {".tag": "folder"}}}}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 3.0.3
