---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAGHorvqbn5732RU2CX9vD2vlIBHo--yqnTrT7aePCT0ioyAMfDOp02vn1FK1f3Duvun8QTCVTKnQ8jkWz674vsRGFWZmjfGL0ibYPHrKvsK8XNV4llsPt230EHl2vODBVk6ybGtcLxlT-fETh_bVF0YnueeM5MNyS54CMlJOxUUGjTMJTgKB9Xm47Vd-5siYlAa7qBIoGijEJyKaWFpfvktECxe5ePceh_JOYw_QSxu3OoEOf7QuS9KrZey1n5QNTE"}'
    headers:
      Authorization:
      - Bearer d_8hw4XA240AAAAAAAAAAbdOcCNXL3qwaOp05judYxFkgJBjoRxIwBlDVCbOW3m2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 85b984b6339a9f94c3a86caa837db811
      X-Server-Response-Time:
      - '137'
    body:
      encoding: UTF-8
      string: '{"entries": [{".tag": "folder", "name": "IDOC%COL1", "path_lower":
        "/exportation vers idocus/idoc%col1", "path_display": "/exportation vers iDocus/IDOC%COL1",
        "id": "id:tG5yQJWo2vAAAAAAAAAM4Q"}, {".tag": "folder", "name": "IDOC%001 -
        ABC", "path_lower": "/exportation vers idocus/idoc%col1/idoc%001 - abc", "path_display":
        "/exportation vers iDocus/IDOC%COL1/IDOC%001 - ABC", "id": "id:tG5yQJWo2vAAAAAAAAAM4g"},
        {".tag": "folder", "name": "p\u00e9riode actuelle", "path_lower": "/exportation
        vers idocus/idoc%col1/idoc%001 - abc/p\u00e9riode actuelle", "path_display":
        "/exportation vers iDocus/IDOC%COL1/IDOC%001 - ABC/p\u0[...]
