---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAGHorvqbn5732RU2CX9vD2vlIBHo--yqnTrT7aePCT0ioyAMfDOp02vn1FK1f3Duvun8QTCVTKnQ8jkWz674vsRGFWZmjfGL0ibYPHrKvsK8XNV4llsPt230EHl2vODBVk6ybGtcLxlT-fETh_bVF0YnueeM5MNyS54CMlJOxUUGjTMJTgKB9Xm47Vd-5siYlAa7qBIoGijEJyKaWFpfvktECxe5ePceh_JOYw_QSxu3OoEOf7QuS9KrZey1n5QNTE"}'
    headers:
      Authorization:
      - Bearer d_8hw4XA240AAAAAAAAAAbdOcCNXL3qwaOp05judYxFkgJBjoRxIwBlDVCbOW3m2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 50be02c023627ac8ec9138e7874b4709
      X-Server-Response-Time:
      - '252'
    body:
      encoding: UTF-8
      string: '{"entries": [{".tag": "folder", "name": "IDOC%COL1", "path_lower":
        "/exportation vers idocus/idoc%col1", "path_display": "/exportation vers iDocus/IDOC%COL1",
        "id": "id:tG5yQJWo2vAAAAAAAAAM4Q"}, {".tag": "deleted", "name": "test (fichier
        d\u00e9j\u00e0 import\u00e9 sur iDocus).pdf", "path_lower": "/exportation
        vers idocus/idoc%001 - test/p\u00e9riode actuelle/ac/test (fichier d\u00e9j\u00e0
        import\u00e9 sur idocus).pdf", "path_display": "/exportation vers iDocus/IDOC%001
        - Test/p\u00e9riode actuelle/AC/test (fichier d\u00e9j\u00e0 import\u00e9
        sur iDocus).pdf"}, {".tag": "deleted", "name": "test.pdf", "path_lower": "[...]
