---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAEivgBH2vsUaoBM7nR_LRdKE2sYxL0nQHixwSv1-B9E_h0fdbgmy1aT4e7UTvOEshTJVEouMI9TXx-wY4TNhW79OAnTQIaPk3GwYsQ2dgvjf1vdzRmXuGnZvNs_c0J2fMJktmeWdbeOWUz9eVXhpZmEPSKCFXORtSZElG8A14GGYpEQetIiTvLCBDeQ_EyFUTA"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - a5c0632020a9793c6fed377a7b29a329
      X-Server-Response-Time:
      - '159'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [{".tag": "deleted", "name": "corrupted.pdf", "path_lower":
        "/exportation vers idocus/ts%0001 - test/p\u00e9riode actuelle/ac/corrupted.pdf",
        "path_display": "/exportation vers iDocus/TS%0001 - TeSt/p\u00e9riode
        actuelle/AC/corrupted.pdf"}, {".tag": "file", "name": "corrupted (erreur fichier
        non valide pour iDocus).pdf", "path_lower": "/exportation vers idocus/ts%0001
        - test/p\u00e9riode actuelle/ac/corrupted (erreur fichier non valide pour
        idocus).pdf", "path_display": "/exportation vers iDocus/TS%0001 - TeSt/p\u00e9riode
        actuelle/AC/corrupted (erreur fichier non valide pour iDocus).pdf", "id":
        "id:66z1e_OMcPAAAAAAAAAARQ", "client_modified": "2017-05-10T13:59:17Z", "server_modified":
        "2017-05-10T14:22:07Z", "rev": "80570c1fec", "size": 1117, "content_hash":
        "2050f28245f4dd42e42785231b9fb2490ce708d092370a436a67faf137c1920e"}], "cursor":
        "AAFo1FwisKkH63Oi8KcMuycHN8FBJQXb_QAkzhbpnsp26qshk4QuzEWnz-ygFFuUwV9x-5g_s332-fpJF2I69IU1uDsbs2bit3oBPmIf6LA7wKRCj7HMXxUuURzhQ19o-c_Qzj82CF84DmAaFYaUYLLBARMJXebjy0d3Em0wp0bDTyk1HlIf5RP5Ju3MHuh0VFU",
        "has_more": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 3.0.3
