---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAFq6giBBjm91uKMrGu4YJodiVo40udFuHEvAY8vz0w3r97GUR4eN7LeJH_jJSQCdgQJ3TXA9RqZ18saDIaTZyDcpuGypub0dGE5tURcygEFrsDbNRUwNYvbUwMnN2lmh3jY9PVvJoIU4tefUyBhv5hVnu7KEDhNvaFupGJj4MgLXsHW3UO3ciSaY_2NXk8Q9ys"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 581090dbea304f425e8545e2ce259b08
      X-Server-Response-Time:
      - '179'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [{".tag": "deleted", "name": "2pages.pdf", "path_lower":
        "/exportation vers idocus/ts%0001 - test/p\u00e9riode actuelle/ac/2pages.pdf",
        "path_display": "/exportation vers iDocus/TS%0001 - TeSt/p\u00e9riode
        actuelle/AC/2pages.pdf"}, {".tag": "file", "name": "2pages (fichier d\u00e9j\u00e0
        import\u00e9 sur iDocus).pdf", "path_lower": "/exportation vers idocus/ts%0001
        - test/p\u00e9riode actuelle/ac/2pages (fichier d\u00e9j\u00e0 import\u00e9
        sur idocus).pdf", "path_display": "/exportation vers iDocus/TS%0001 -
        TeSt/p\u00e9riode actuelle/AC/2pages (fichier d\u00e9j\u00e0 import\u00e9
        sur iDocus).pdf", "id": "id:66z1e_OMcPAAAAAAAAAARg", "client_modified": "2017-05-10T14:45:25Z",
        "server_modified": "2017-05-10T14:48:53Z", "rev": "84570c1fec", "size": 1165,
        "content_hash": "857359ffaa3874e50a124f4e96e2cf2db760f605a00d47b9ed88c0b4d97ce3e1"}],
        "cursor": "AAH9bIkS4lX-fdlMd6s07GM08xItNux2lLhnF40Sp91R-pFZL6U4icK15Qg3PPnf2gMdlCaIZyTu6cwqq_9DeOXdagQThQCglBPX4s_QrYEa7hfemDSomRviYchjlPnRsoLO8nYmCO3QGPbSjuuqzDNiHJgnTjIT5FDv3Hfde2nBEEZpFkhaNBMp-zBSBxASrqU",
        "has_more": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 3.0.3
