---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAHuDBnQ43SLoVF1tHaTZFX-BAP6ehQyXrd7c6fLyz8_zGt2EsGZBHLfEMOWakddGquh1eZLtLF-mgAsWOVLcl3bT_aqRiBTCyWBHMcmWLgvFMHTTn2CIyl8hdOy3PE_x_xhRirH0Y3PsuAOfJhMVJM9iJulqrNR9uC6cBrLUp2pU8r2EO7fXyoYcOFOaz4117I"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 2d16f2b446015693e443c7189122f3a2
      X-Server-Response-Time:
      - '169'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [{".tag": "deleted", "name": "2pages.pdf", "path_lower":
        "/exportation vers idocus/ts%0001 - test/p\u00e9riode actuelle/ac/2pages.pdf",
        "path_display": "/exportation vers iDocus/TS%0001 - TeSt/p\u00e9riode
        actuelle/AC/2pages.pdf"}],
        "cursor": "AAFMxB16PCTlIIMB7-YQ0lef5ZMPYf5AdL_BuVAEWnaEYxyMl4QOUOMZeo09FmTsnw9N69LW0reEqPCxGDMlvRKkC-3LjZI-FLrInuAL_BmVQ59HKIWSG8HNHd9gpHuodrkT8ocFy1ZrCNKv33gjmQz-6GQ3dZzZKQTwAa_UvgCq1Apd8ilPmuhiWGpU5peXAQg",
        "has_more": true}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
[...]
