---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAFeVq99ipMnuvVTcNS7_M5vHAmtvDE0RvvT9kPOvQVHOv5VDUaP1evskfuIC9BEO2PBGW-7c5T_3wwgyzKdww0nspvUWz6LI8G-myyUojkVp_TvYb-PJ5LfKf9ioItpz9wMPeQupbowctZAVBrtFsqqFoUZrDXw5SrrDhvpg3g4GzHVlAGVMdl4U7ZACSV3eUM"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - b615a6b6007108de42c759943e9a3f7f
      X-Server-Response-Time:
      - '345'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [{".tag": "folder", "name": "AC", "path_lower": "/exportation vers
        idocus/ts%0001 - test/p\u00e9riode pr\u00e9c\u00e9dente/ac", "path_display":
        "/exportation vers iDocus/TS%0001 - TeSt/p\u00e9riode pr\u00e9c\u00e9dente/AC",
        "id": "id:66z1e_OMcPAAAAAAAAAASA"}, {".tag": "folder", "name": "p\u00e9riode
        pr\u00e9c\u00e9dente", "path_lower": "/exportation vers idocus/ts%0001
        - test/p\u00e9riode pr\u00e9c\u00e9dente", "path_display": "/exportation vers
        iDocus/TS%0001 - TeSt/p\u00e9riode pr\u00e9c\u00e9dente", "id": "id:66z1e_OMcPAAAAAAAAAARw"},
        {".tag": "folder", "name": "VT", "path_lower": "/exportation vers idocus/ts%0001
        - test/p\u00e9riode pr\u00e9c\u00e9dente/vt", "path_display": "/[...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%0001 - TeSt/période actuelle/AC"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - f89762a5f591171150b40707926d5cfa
      X-Server-Response-Time:
      - '522'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "AC", "path_lower": "/exportation vers idocus/ts%0001
        - test/p\u00e9riode actuelle/ac", "path_display": "/exportation vers
        iDocus/TS%0001 - TeSt/p\u00e9riode actuelle/AC", "id": "id:66z1e_OMcPAAAAAAAAAASw"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%0001 - TeSt/période actuelle/VT"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 1e3bdbc288532b14de75909ab325dabc
      X-Server-Response-Time:
      - '1288'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "VT", "path_lower": "/exportation vers idocus/ts%0001
        - test/p\u00e9riode actuelle/vt", "path_display": "/exportation vers
        iDocus/TS%0001 - TeSt/p\u00e9riode actuelle/VT", "id": "id:66z1e_OMcPAAAAAAAAAATA"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 3.0.3
