---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAHUih7TxHRIigL_ZKLMFw5fGycgJLtb7OYpbas4sDMVVp9FDcPNvwi5sPPtFpkKiQsqGGs3J8_prkoUE1kM7GlUrz-bTFCo1fnKSp_Z8SXnYKES5c9trusGZbLDHat8QhlWNzKZ1peRsYGeuWy0DgVnw2ZFnUdEMy2onfs_V-AxT931qcX9rxocbuVyGQfPx7NaJ1o65_piVVXnY-EHFSpZ-n0WGeTsMLdPiqLgKlH7jA"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 26a900d0cc63ba9f0ec18a27cde78374
    body:
      encoding: UTF-8
      string: '{"error_summary": "path/not_found/", "error": {".tag": "path", "path":
        {".tag": "not_found"}}}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%0001 - TeSt/période actuelle/AC"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 4517194ab270bfc08efc41bf33378dcc
      X-Server-Response-Time:
      - '642'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "AC", "path_lower": "/exportation vers idocus/ts%0001 - test/p\u00e9riode
        actuelle/ac", "path_display": "/exportation vers iDocus/TS%0001 - TeSt/p\u00e9riode
        actuelle/AC", "id": "id:oyxFzSPGksAAAAAAAAABGg"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/get_latest_cursor
    body:
      encoding: UTF-8
      string: '{"path":"/exportation vers iDocus/TS%0001 - TeSt","recursive":true,"include_media_info":false,"include_deleted":false}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 48f7cfec8e8ca75e069a199b859ef437
      X-Server-Response-Time:
      - '165'
    body:
      encoding: ASCII-8BIT
      string: '{"cursor": "AAHx4fRPKvr89KdE30hf7rS7LeDdeEAoIlRWJfbQEgUfKWIgUGxyR6pDSTY3u6oSV5OjlxkFYsJgfl5zzvKqc1j50WEL9AM2-1fDqN6CQUVGXtR8sNmGVeqADGolILCfDP5ttO5whgFV_EI3V0_01LhOEQ3w484WS6TjeA-ATWt0t3dZxbybP9wOf89yrOOG8kHCmyErmknqM2Qhk3ERxKFykNDxaOeCKVXporQHU_O4u6nTxUsR11qVSPTPFgYtFcg"}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/continue
    body:
      encoding: UTF-8
      string: '{"cursor":"AAHx4fRPKvr89KdE30hf7rS7LeDdeEAoIlRWJfbQEgUfKWIgUGxyR6pDSTY3u6oSV5OjlxkFYsJgfl5zzvKqc1j50WEL9AM2-1fDqN6CQUVGXtR8sNmGVeqADGolILCfDP5ttO5whgFV_EI3V0_01LhOEQ3w484WS6TjeA-ATWt0t3dZxbybP9wOf89yrOOG8kHCmyErmknqM2Qhk3ERxKFykNDxaOeCKVXporQHU_O4u6nTxUsR11qVSPTPFgYtFcg"}'
    headers:
      Authorization:
      - Bearer K4z7I_InsgsAAAAAAAAAkZ76RjGf_qZVQ6y72HOjmCJ1FWGFufHC9ZGbfuqO3fQO
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - a54b9c5de2924d40f3633b832dc47361
      X-Server-Response-Time:
      - '169'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [], "cursor": "AAH2Stt_EZ3SzrEID_wfKyPY-UiSAGQ2rqR6VxQQDGWhfNHwJ6MZzavUst8QIvRGwNLuewy4Q8hDpD_p_gweqokWaEpGHpnx3-Pm9XK1dH8rBPHXoW-jfTGcmtbP2ks5mZ_1bBHGGEWwzy_mSXP2-hlVFf9VhAnfTWvW8NU7bqn3GtvEDSVnnBnELv5OoOTvZWM_8h1qeLWrdA5rxwTthQKaoBc9Jx_xA20UzsBOjjDnjxK89Qs3vyKUOnHV28N3Ed0",
        "has_more": false}'
  recorded_at: Sat, 14 Feb 2015 21:00:00 GMT
recorded_with: VCR 3.0.3
