#exercice.edit
  .row-fluid
    .span12.box
      %h3 Edition d'un exercice comptable pour l'utilisateur : #{link_to @customer.info, account_organization_customer_path(@customer, tab: 'others')}

  .row-fluid
    .span12.box
      = render 'form'
