#exercice.new
  .row-fluid
    .span12.box
      %h3 Nouvel exercice comptable pour le client : #{link_to @customer, account_organization_customer_path(@organization, @customer, tab: 'others')}

  .row-fluid
    .span12.box
      = render 'form'
