#addresses.row-fluid
  .span12
    .row-fluid
      .span12.box
        .pull-left
          %h3 Edition d'adresse pour le client : #{link_to @user.info, account_organization_customer_path(@user)}
        .pull-right
          = link_to 'Nouvelle adresse', new_account_organization_customer_address_path(@user), class: 'btn btn-primary'
    .row-fluid
      .span12.box
        = render partial: 'form'
