#addresses
  .row.derivationRight
    .col-md-12
      .box.clearfix
        .float-left
          %h3 Liste des adresses de l'organisation
        .float-right
          = link_to t('actions.return'), account_organization_path(@organization, tab: 'addresses'), class: 'btn btn-light'
          = link_to 'Nouvelle adresse', new_account_organization_address_path(@organization), class: 'btn btn-primary'

  .row.derivationLeft
    .col-md-12
      .box
        - grouped_addresses = @addresses.in_groups_of(3)
        - grouped_addresses.each_with_index do |addresses, index|
          .row{ class: ((index + 1) < grouped_addresses.size ? 'margin1bottom' : '') }
            - addresses.each do |address|
              - if address
                .col-md-4
                  = render partial: 'address', locals: { address: address, single: false }
