#edit_addresses.modal.fade.hide
  .modal-header
    %a{ class: 'close', 'data-dismiss' => 'modal' } ×
    %h3 Editer les adresses
  .content

#edit_scan_subscription.modal.fade.hide
  .modal-header
    %a{ class: 'close', 'data-dismiss' => 'modal' } ×
    %h3 Configurer l'abonnement
  .content

#new_account_book_type.modal.fade.hide
  .modal-header
    %a{ class: 'close', 'data-dismiss' => 'modal' } ×
    %h3 Type de journal comptable - Création
  .content

#edit_account_book_type.modal.fade.hide
  .modal-header
    %a{ class: 'close', 'data-dismiss' => 'modal' } ×
    %h3 Type de journal comptable - Edition
  .content

#edit_csv_outputter.modal.fade.hide
  .modal-header
    %a{ class: 'close', 'data-dismiss' => 'modal' } ×
    %h3 Edition du format de sortie CSV
  .content