.navbar
  .navbar-inner
    .container-fluid
      .nav-collapse
        %ul.nav
          %li{ class: ('active' if params[:controller] == 'admin/users' && params[:action] == 'index') }
            = link_to 'Index', admin_users_path
          %li{ class: ('active' if params[:controller] == 'admin/users' && params[:action] == 'new') }
            = link_to t('actions.new'), new_admin_user_path