!!!
%html
  %head
    %title [iDocus] Automate - Bug
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-type' }
  %body
    Bonjour,
    %br
    %br
    L'automate #{sanitize @retriever.clear_name} du dossier #{sanitize @retriever.user.info} ne fonctionne pas correctement.
    %br
    %br
    = link_to 'Voir sur iDocus', account_organization_customer_retrievers_url(@retriever.user.organization, @retriever.user)
    %br
    %br
    Cordialement,
    %br
    iDocus
