* {
	margin:0;
	padding:0;
}

html, body {
	margin: 0;
	padding:0;
}

p {
	margin:7px;
	text-align:justify;
	clear:both;
}

.comment{
    margin:0;
    text-align:justify;
    font-style:italic;
    font-size:0.8em; 
}

.margin {
	margin-top:1em;
	margin-bottom:1em;
}

body {
	font-family:Corbel,Arial,Verdana,Helvetica,sans-serif;
	background-image: url(./../images/body-volutes.gif);
	background-repeat: repeat-x;
	background-position:  center 160px;
}

body.popup {
	font-family:Corbel,Arial,Verdana,Helvetica,sans-serif;
	background-image: url();
	background-position:  center 250px;
}

fieldset {
	display: block;
	clear:both;
	padding:2px;
	border:0; 
	padding-bottom:18px;
}

fieldset.noborder {
	border:0;
}

fieldset legend {
	font-weight: bold;
	font-size: 1.1em;
	border-bottom:thin solid white;
}

form {
	text-align: left; 
	margin:5px;
}

form div {
	display:block;
	padding:3px;
	margin-left:30px;
}

form br {
	clear: both
}

label {
	display:inline-block;
	text-align: left;
	padding-right: 2px;
	vertical-align: top;
}

.divide{

	width:45%;
	float : left;
	margin-left:0px;
}
.noWrap{
       margin-left:30px;
}

.comment_input {
	display:inline-block;
	max-width: 250px;
	vertical-align: bottom;
}

.comment_iban {
	display:inline-block;
	max-width: 160px;
	vertical-align: bottom;
}

.comment_textarea {
	display:inline-block;
	max-width: 180px;
	vertical-align: bottom;
}

.comment_checkboxes {
	display:inline-block;
	max-width: 400px;
	vertical-align: bottom;
}

.comment_radio {
	display:inline-block;
	vertical-align: bottom;
}

.comment_checkbox {
	display:inline-block;
	max-width: 400px;
	vertical-align: bottom;
}

.comment_file {
	display:inline-block;
	max-width: 180px;
	vertical-align: bottom;
}

.error, .form-error {
	display:inline-block;
	padding-left: 2px;
	color: #E75113;
}

span.error, span.form-error {
	font-weight:bold;
}

form span.error, form span.form-error {
	max-width:300px;
}

form input, form input.error, form input.form-error, form select, form textarea { 
	display:inline-block;
	margin: 2px;
	border: 1px solid #917661;
	color: #505050;
	vertical-align: top;
}

form input, form input.error, form select { 
	width: 150px;
}

form textarea { 
	width: 270px;
}

form input:hover, form input.error:hover, form select:hover, form textarea:hover {
	background-color:#EBE3D3;
}

form input[Disabled]:hover, form input[Disabled].error:hover, form select[Disabled]:hover, form textarea[Disabled]:hover {
	background-color:#5F5F5F;
}

form select.phoneCountryCode {
	border:1px solid #7F7F7F;;	
	width:55px;
}

form input.phoneCountryCode {
	height:1.3em;
	width:6.5em;
}

form noscript {
	text-align:left;
	margin-left:3px;
}

form input[type="button"] {
	font-size:0.8em; 
	text-align:center; 
	margin:4px;
	padding-left:3px;
	padding-right:3px;
	padding-top:1px;
	padding-bottom:1px;
	background-color:#917761; 
	color:#eaeaea;
}

form input[type="submit"], .button, .submit, form input[type="button"].submit {
	font-size:0.8em; 
	cursor:pointer; 
	padding:3px; 
	width: 200px; 
	text-align:center; 
	background-color:#917761; 
	color:#eaeaea;
	display:block;
	clear:both;
	margin-top:10px;
	margin-bottom:1em;
	margin-left:3px;
}

form input[type="submit"], form input[type="button"].submit {
	margin-left:260px;
}

form input[type="submit"].button {
	margin-left:3px;
}

a.button, a.button:hover, a.submit, a.submit:hover {
	font-size:0.9em;
	border:1px solid #7F7F7F;
	padding:2px;
	margin-left:3px;
	width: 195px;
}

a.submit, a.submit:hover {
	margin-left:260px;
}

form input[type="button"]:hover, form input[type="submit"]:hover, .button:hover, .submit:hover, form input[type="button"].pressed  { 
	background:#d1b7a1; 
	color:#1f1f1f;
}

form input[Disabled], form input[Disabled]:hover, [Disabled].button, [Disabled].button:hover, [Disabled].submit, [Disabled].submit:hover {
	background:#716751; 
	color:#eaeaea;
}

#phoneIssue {
	padding-left:3px;
	padding-right:3px;
	padding-top:1px;
	padding-bottom:1px;
	margin-left:3px;
	margin-top:1px;
	margin-bottom:1em;
	width:25px;
}

#phoneNotExisting, #phoneNotAccessible, #smsNotReceived, #emailAccessible, #emailNotAccessibleNow, #emailNotExisting, #resendCodeByNewMobile, #resendCodeByNewEmail, #sendCodeByEmail, #saveReg  {
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	padding-bottom:1px;
	margin-left:20px;
	margin-top:20px;
	margin-bottom:1em;
	width:150px;
	height:40px;
	display:inline;
	white-space: normal;
}

#rib, #accountNational {
	width:340px;
}
#bic {
	width:120px;
}
#iban {
	width:290px;
}
#cuf {
	width:60px;
}

#accountBankCode, #accountBranchCode {
	width: 40px;
}

#accountNumber {
	width: 86px;
}

#accountKey {
	width: 20px;
}

#accountStandardButtonSepa, #accountStandardButtonFr, td.button {
	width:75px;
	height:20px;
	float:right;
}

input[type="file"] {
	font-size:0.8em; 
 	cursor:pointer; 
	margin: 2px;
	background-color: #5F5F5F;
	border: 1px solid #7F7F7F;
	color: white;
	width: 270px;
}


form input[type="hidden"] {
	border: 0px solid #7F7F7F;
}

form input[type="checkbox"], form input[type="radio"] {
	margin-right:30px; 
	width: 15px; 
	border: 0px solid #7F7F7F;
	background-color:#E1E1E1;
}

form input[type="radio"] {
	margin-left:3px; 
	margin-right:3px; 
}

.buttonDesc {
	width: 180px;
	margin-top:0px;
	margin-bottom:30px; 
	margin-right:10px;
}

span.desc {
	display:block;
	width:500px;
	margin-bottom:20px; 
}
 
embed, object {
	margin-top:20px;
	margin-bottom:20px;
}

.center {
	display:block;
	width:100%;
	text-align:center;
}

.right {
	display:block;
	width:90%;
	text-align:right;
}

a {
	text-decoration: none;
	color:#eee;
	border-bottom:thin dotted;
}

a:hover, #showpdf:hover {
	border-bottom:thin solid;
}

#showpdf {
	text-decoration: none;
	color:#eee;
	border-bottom:thin dotted;
	cursor:hand;
}

th, td {
	border:1px solid black;
}

th, .listHeader{
	background-color:#555;
	color:#fff;
}

table {
	border-collapse:collapse;
	width:100%;
}

table.popup {
	border:0px solid black;
	width:100%;
}
th.popup, td.popup {
	border:0px solid black;
	text-align:left;
}

table.layout {
	border:0px solid black;
	width:100%;
}

th.layout, td.layout {
	border:0px solid black;
	text-align:left;
}

div.columns2 {
	width:40%;
	float:left;
}

.infoReq{
	width:300px;
	
}

ul {
	list-style-type: none;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	color: #64774D;
	margin:10px 0px;
	clear:both;
}

h1 {
	font-size:1.2em;
	color:#F87431;
	text-align:left;
	margin:15px 0px;
}

.fond{
        background-image:url(./../images/deco.png) ;
	background-repeat:no-repeat;
	background-position:left top;
	width:700px;
	height:110px;
	text-align:justify;
        margin:15px 20px;
	margin-left:0px;
	padding-top:10px;
	padding-right:40px;
	padding-left:20px;
}


#content h1 {
	border-bottom:thin dotted #fff;
}

#content h4 {
	border-bottom:thin dotted #7F7F7F;
}

h2{
	font-size:1.1em;
}

h5 {
	background: url(./../images/00.jpg) 0% 50% no-repeat; 
	margin-left:25px;
	text-align:left;
	padding-left:15px;

}

h6 {
	background: url(./../images/00.jpg) 0% 50% no-repeat; 
	margin-left:30px;
	text-align:left;
	padding-left:15px;

}

p#infologout {
	color:#9BBB59;
	margin-top: 5px;
}

p#infotimeout {
	color: #E75113;
	margin-top: 5px;
}

.form-readonly {
	color: #C3A893;
}

#global {
	background-image: url(./../images/bg.gif);
	background-repeat: repeat-y;
	background-position: top center;
	background-color: #232524;
}

#center {
	padding:1px 22px 20px 22px;
	color:#505050;
	background-color:#E1E1E1;
	min-height:440px;
}

#global, #footer {
	width: 980px;
	margin: 0 auto;
}

#global {
	min-height: 100%;
	padding: 1px 10px;
	position: relative;
}

#center {
	min-height:300px;
}

#footer {
}

#framecontent {
	height:300px;
	background-color: #232524;
}

#content {
	position:relative;
	margin:0 auto 20px auto;
	margin-left:210px;
	width:735px;
}

#leftmenu {
	position:absolute;
	width: 200px;
	background-color: #917661;
}

#leftmenu ul {
	list-style-type:square;
	margin-left:5px;
}

#leftmenu ul li a {
	color:#FFFFFF;
	text-align:left;
}
#leftmenu hr {
	border: 0;
	margin-top:5px;
	margin-bottom:5px;
	width: 82%;
	color: #D1B6A1;
	background-color: #D1B6A1;
	height: 1px;
	margin:14px 0;
}
#leftmenu div.submenu {
	position:absolute;
	left:3em;
	min-width:12em;
	background-color: #917661;
	z-index:1;
	border: thin dotted black;
	display: none;
}
#leftmenu ul.submenu {
	list-style-type: none;
	white-space: nowrap;
	margin-right: 3px;
}
hr{
	clear:both;
}

#header {
	background-image: url(./../images/bg.gif);
	background-repeat: repeat-y;
	background-position: top center;
	height:150px;
}

#header #header-box-logo {
	width:325px;
	height:120px;
	float: right;
	margin-left:20px;	
	position: absolute;
}
#header #header-box-logo a:hover {
	text-decoration:none;
}
#header #header-box-logo a span {
	background-image: url(./../images/logo.png);
	background-repeat:no-repeat;
	position:absolute;
	width:100%;
	height:100%;
}
#header-login{
	padding-top:30px;
	color:#917761;
	text-align:right;
	margin-right:52px;
	font-size:0.9em; 
	position:relative;
	bottom:0;
	margin-bottom:3em;
}
#header-links {
	color:#b7b7b7;
	text-align:right;
	font-size:0.9em;
	margin-right:42px;
	padding-top:9px;
}
#header-links a {
	color:#797979 ;
}
#header h2 {
	color:#917761;
	font-weight:bold;
	letter-spacing:0.15em;
	margin-right:42px;
	margin-top:23px;
	padding-top:40px;
	text-align:right;
	margin-bottom:0;
}
#header-picture {
	height:180px;
}
.clear{
	clear:both
}
#menu {
	clear:both;
	background-color: #917661;
	height:45px;
	text-align:left;
}
ul#menu li {
	display:inline;
	background-repeat: no-repeat;
	padding:0px 10px 0 10px;
	text-align:left;
	position:relative;
	top:10px;
	float:right;
}
ul#menu li + li {
	background-image: url(./../images/menu/bord-middle.gif);
}
ul#menu li.first {
	margin-left:10px;
}
ul#menu li a {
	background-image:url(./../images/menu/arrow.gif);
	background-repeat:no-repeat;
	background-position:left center;
	color:#FFFFFF;
	text-align:left;
	padding:10px 0 10px 40px;
}
ul#menu li a:hover {
	color:#fedddd
}
ul#menu[id] li a {
	font-weight:bold;
	font-size:1.1em;
}
ul#menu a {
	border:0;
}
div.meta{
	font-style: italic;
	padding-left: 14px;
}
.content_desc .orange {
	color: #E75113;
}
#footer {
	clear:both;
	background-image: url(./../images/footer/border.gif);
	background-repeat: repeat-x;
	background-color: #666666;
}
#footer ul li {
	float:left;
	font-family:Calibri,Arial,Verdana,Helvetica,sans-serif;
	font-weight:bold;
	margin:7px;
}
#footer-legals {
	clear:both; 
	background-color:#000;
	color:#fff;
	margin:0;
	font-size:0.8em;
}
#footer-legals a {
	color:#fff;
}
#footer-legals .vcard {
	padding-left:40px;
	letter-spacing:0.1em;
}
#footer-legals .vcard address {
	display:inline;
	font-style:normal;
}
#footer-links {
	color:#b6b5b5;
	text-align: right;
}
#footer-links a {
	color:#b6b5b5;
}
.calendar, #calendar {
	margin-left:6px;
	margin-top:0px;
}
#dpCalendar {
	margin-top:20px;
	width:250px;
	position:absolute;
	background-color: #a68b77;
	text-align:center;
}
#dpCalendar td.cellDay:hover,#dpCalendar td.cellToday:hover {
	background:#E56717;
}
#dpCalendar td.cellButton, #dpCalendar td.cellMonth {
	background:#777
}
#dpCalendar td.cellCancel {
	background-color:#b10B07
}
#dpCalendar td.cellDay {
	background-color:#e2e2e2
}
#dpCalendar td.cellToday {
	background-color:#9d9;
	color:#191;
	font-weight:bold
}
#dpCalendar a {
	padding:0 8px;
}
div#clientcomment {
	padding:3px;
	margin:10px;
	background-color:#eaeafb; 
	border: thin dotted #111;
	color:#221
}
.fileattached {
	padding-left:30px;
	background-image: url(./../images/attachment.png);
	background-position:bottom left;
	background-repeat:no-repeat;
}
.longlabel {
	display:block;
	text-align:left;
	padding-left:260px;
}
#signframe {
	border-width: 0px;
	width: 620px;
	height: 760px;
}
#signcontent {
	width:595px;
	height:695px;
	background-color: #232524;
}

#clientPathDev, #clientPathProd, #returnUrlDev, #returnUrlProd, #notifyUrlDev, #notifyUrlProd {
	width:400px;
}