.block
  %h3 Subscription management
  .content
    %p
      Here you can
      %span.hightlight manage
      subscriptions

    %p
      %b Legend:
      %ul.list
        %li!= image_tag("web-app-theme/application_edit.png", :alt => "Edit") + " to edit a subscription"   
