.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active!= link_to "All subscriptions", admin_subscriptions_path
      -#%li!= link_to "Add order", new_admin_subscription_path
  .content
    %h2.title
      Editing subscription
      != @subscription.number
    .inner
      - form_for [:admin, @subscription], :html => { :class => :form } do |f|
        != render :partial => "form", :locals => {:f => f}

- content_for :sidebar, render(:partial => 'sidebar')
