- if @user.is_admin && @organization.is_active
  #file_storages.tab-pane.fade{ class: ('active show' if params[:tab] == 'file_storages') }
    = render partial: 'account/customers/file_storages', locals: { user: @member.user }
    = link_to t('actions.edit'), edit_account_organization_collaborator_file_storage_authorizations_path(@organization, @member), class: 'btn btn-primary'
