#collaborator.derivationRight
  .card
    .card-header
      %h3
        Édition du collaborateur : 
        = link_to @member.name, account_organization_collaborator_path(@organization, @member), class: 'fs-origin'

    = render partial: 'form'
