.container.margin4top.padding2top.padding2bottom
  .row
    .col-md-4.offset4.aligncenter
      .well.margin0bottom
        %h2 Erreur 503
        %p Service temporairement indisponible, l'administrateur a été prévenu
