.resume
  .header
    %span.title
      Total
  .content
    - @product.groups.where(:supergroup_id => nil).by_position.entries.each do |group|
      %span.title
        !=group.title
      %span.price{ :id => "cart_total_wo_vat_#{group.id}" }
      %span.infos{ :id => "cart_total_w_vat_#{group.id}" }
      %br
