#retriever_services
  .row
    .col-md-12
      .box.small-shadow.clearfix
        = render 'layouts/admin/retriever/navigation'

  = hidden_field_tag :retriever_budgea_config, @bi_config
  #connectors_list.row-fluid
