- link ||= "/admin/users/search.json"
:javascript
  $(document).ready(function() {
    $("#user_field").tokenInput("#{link}",{
      searchDelay: 1000,
      minChars: 1,
      tokenLimit: 1,
      theme: "facebook",
      hintText: "Tapez une adresse email à rechercher",
      noResultsText: "Aucun résultat",
      searchingText: "Recherche en cours..."
    });
  });