#news.modal.hide.fade{ class: ('active' if @news_present) }
  .modal-header
    %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => true } &times;
    %h3 Communications
  .modal-body
