%ul#notifications.nav.pull-right
  %li.dropdown.dropdown-notifications
    %a.dropdown-toggle{ href: '#notifications-panel', data: { toggle: 'dropdown' } }
      %i.icon-bell.icon-white{ class: (@user.notifications.not_read.count > 0 ? 'notification-icon' : 'notification-icon-disabled'), data: { count: @user.notifications.not_read.count } }
    .dropdown-container.dropdown-position-bottomright
      .dropdown-toolbar
        .dropdown-toolbar-actions
        %h3 Notifications
      %ul.dropdown-menu.items
        - # notification items will be dynamically inserted here
      .dropdown-footer
        %a{ href: account_notifications_path }
          %i.icon-search
          Voir tout
