%ul.nav.pull-right
  %li.dropdown.dropdown-notifications
    %a.dropdown-toggle{ href: '#notifications-panel', data: { toggle: 'dropdown' } }
      %i.icon-bell.icon-white.notification-icon{ data: { count: @user.notifications.not_read.count } }
    .dropdown-container.dropdown-position-bottomright
      .dropdown-toolbar
        .dropdown-toolbar-actions
          %a{ href: account_notifications_path }
            %i.icon-search
            Voir tout
        %h3 Notifications
      %ul.dropdown-menu
        - @recent_notifications.each do |notification|
          = render partial: 'account/notifications/notification', locals: { notification: notification }
