%ul#notifications{ class: (current_user.try(:is_admin) && controller_name != 'organizations') ? '' : 'ml-auto'}
  %li.dropdown.dropdown-notifications
    %a.dropdown-itm{ href: '#notifications-panel', data: { toggle: 'dropdown' } }
      = content_tag 'span', '', class: "oi icon-bell text-white #{(@user.notifications.not_read.count > 0 ? 'notification-icon' : 'notification-icon-disabled')}", title: "bell", 'aria-hidden' => "true", 'data-glyph' => "bell", style: "font-size:14px", 'data-count' => @user.notifications.not_read.count
    .dropdown-menu.dropdown-position-bottomright.bg-transparent.small-shadow
      .dropdown-toolbar
        .dropdown-toolbar-actions
        %h3 Notifications
      %ul.dropdown-notif-items.items
        - # notification items will be dynamically inserted here
      .dropdown-footer
        %a{ href: account_notifications_path }
          = glyphicon("eye", { size: "14px" })
          Voir tout