%ul
  %li.dropdown
    %a.nav-link.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
      %i.icon-white.icon-user
      = current_user.email
      %b.caret
    %ul.dropdown-menu
      %li= link_to 'Déconnexion', destroy_user_session_path, class: 'dropdown-item', method: :delete
