%ul#user_logged_in
  %li.dropdown
    %a.nav-link.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
      = glyphicon('person', { class: 'text-white mr-sm-1' })
      = current_user.email
      %b.caret
    %ul.dropdown-menu
      %li
        %a{ href: destroy_user_session_path, class: 'dropdown-item', "data-method" => 'delete' }
          = glyphicon('account-logout', { class: 'float-left mr-sm-2' })
          Déconnexion
