!!!
%html
  %head
    %title [iDocus] Réinitialisation de votre mot de passe
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-type' }
  %body
    Bonjour #{@resource.first_name} #{@resource.last_name},
    %br
    %br
    Vous avez demandé une réinitialisation de votre mot de passe.
    %br
    %br
    Veuillez cliquer sur ce lien :
    %br
    = link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token)
    %br
    %br
    S'il s'agit d'une erreur, veuillez ignorer ce mail (votre mot de passe ne sera pas changé sans action de votre part).
    %br
    %br
    Cordialement,
    %br
    L'équipe iDocus
    %br
    = link_to 'support@idocus.com', 'mailto:support@idocus.com'
